﻿<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <h2>Documents</h2>
                </v-col>
                <v-col align="right">
                    <AddDoc @refresh-docs="refreshDocs"/>
                </v-col>
            </v-row>
            <v-row v-for="doc in documents" :key=doc.id dense>
                <v-col cols="8">
                    <p>{{doc.name}}</p>
                </v-col>
                <v-col cols="4">
                    <v-btn class="ma-1" 
                           small 
                           color="blue-grey"
                           @click="sortUp(doc)">
                        <v-icon color="white">
                            mdi-arrow-up-thick
                        </v-icon>
                    </v-btn>
                    <v-btn class="ma-1" 
                           small 
                           color="blue-grey"
                           @click="sortDown(doc)">
                        <v-icon color="white">
                            mdi-arrow-down-thick
                        </v-icon>
                    </v-btn>
                    <doceditdialog v-bind:document="doc"
                                   v-on:refresh-docs="refreshDocs">

                    </doceditdialog>
                    <v-btn class="ma-1" 
                           small                           
                           color="red"
                           @click="deleteDoc(doc)"
                           >
                        <v-icon color="white">
                            mdi-delete
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import DocumentService from "../../services/document"
    import doceditdialog from "../../partials/document-edit-dialog"
    import AddDoc from "../../partials/document-add-dialog"

    export default {
        name: 'DocumentEditor',
        components: {
            doceditdialog,
            AddDoc
        },
        props: {
        },
        watch: {
        },
        computed: {
        },
        async created() {
            this.documents = await this.getDocuments();
        },
        methods: {
            async getDocuments() {
                try {
                    let result = await DocumentService.get();
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async refreshDocs() {
                let result = await this.getDocuments();
                this.documents = result;
            },
            sortUp(doc) {
                console.log("sort up")
                console.log(doc)
                if (doc.sortOrder > 0) {
                    try {
                        var newSpot = doc.sortOrder - 1;

                        this.documents.forEach(function (tDoc) {
                            if (tDoc.sortOrder === newSpot) {
                                console.log(tDoc);
                                tDoc.sortOrder += 1;
                                DocumentService.update(tDoc)
                            }
                        });

                        doc.sortOrder = newSpot;

                        DocumentService.update(doc).then(() => {
                            this.refreshDocs();
                        });
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            },
            sortDown(doc) {
                console.log("sort down")
                console.log(doc)
                if (doc.sortOrder < this.documents.length - 1) {
                    try {
                        var newSpot = doc.sortOrder + 1;

                        this.documents.forEach(function (tDoc) {
                            if (tDoc.sortOrder === newSpot) {
                                console.log(tDoc);
                                tDoc.sortOrder -= 1;
                                DocumentService.update(tDoc)
                            }
                        });

                        doc.sortOrder = newSpot;

                        DocumentService.update(doc).then(() => {
                            this.refreshDocs();
                        });
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            },
            deleteDoc(doc) {
                try {
                    DocumentService.delete(doc).then(() => {
                        this.refreshDocs();
                    })
                } catch (ex) {
                    console.log(ex);
                }
            }
        },
        data() {
            return {
                documents: [],
                dialog: false
            }
        }

    }
</script>

<style scoped>
</style>