﻿<template>
    <div>
        <v-container>
            <v-tabs v-model="tab">
                <v-tab v-for="item in items" :key="item.tab">
                    {{ item.tab }}
                </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
                <v-tab-item v-for="item in items" :key="item.tab">
                    <v-card flat>
                        <v-card-text>
                            <component v-bind:is="item.content"></component>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-container>
    </div>
</template>

<script>
    import DocumentEditor from '../admin/documentEditor'
    import FieldEditor from '../admin/fieldEditor'
    import ReasonEditor from '../admin/reasonEditor'
    import QuickAttemptEditor from '../admin/quickAttemptEditor'

    export default {
        name: 'Editors',
        components: {
            DocumentEditor,
            FieldEditor,
            ReasonEditor,
            QuickAttemptEditor
        },
        data() {
            return {
                tab: null,
                items: [
                    { tab: 'Fields', content: 'FieldEditor' },
                    { tab: 'Documents', content: 'DocumentEditor' },
                    { tab: 'Reasons', content: 'ReasonEditor' },
                    { tab: 'Quick Attempt', content: 'QuickAttemptEditor' }
                ]
            };
        },
        async created() {
        }
    }
</script>