﻿<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <h2>Field Editor</h2>
                </v-col>
                <v-col align="right">
                    <FieldAddDialog v-bind:field="newField">
                    </FieldAddDialog>
                </v-col>                
            </v-row>
            <v-row>
                <v-col cols="6">
                    <v-select label="Select Field Type"
                              v-model="selectedFieldType"
                              :items="fieldTypes"
                              item-text="Name"
                              item-value="Value"></v-select>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6">
                    <v-text-field placeholder="Search Fields"
                                  v-model="searchTerm">

                    </v-text-field>
                </v-col>
                <v-col cols="4">
                    <v-btn class="ma-1" 
                           small 
                           color="blue-grey"
                           @click="search">Search</v-btn>
                </v-col>
            </v-row>
            <v-row v-for="field in searchResult" :key=field.id dense>
                <v-col>{{field.value}}</v-col>
                <v-col>
                    <FieldDialog v-bind:field="field">
                                   <!--v-on:refresh-docs="refreshDocs"-->
                                 

                    </FieldDialog>
                    <v-btn class="ma-1"
                           small
                           color="red"
                           @click="deleteEvent(field)">
                        <v-icon color="white">
                            mdi-delete
                        </v-icon>
                    </v-btn>
                </v-col>
                
            </v-row>
        </v-container>

    </div>
</template>

<script>
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"

    import FieldConstants from "../../constants/fieldType/index"
    import FieldDialog from "../../partials/field-dialog"
    import FieldAddDialog from "../../partials/field-add-dialog"

    export default {
        name: 'FieldEditor',
        components: {
            FieldDialog,
            FieldAddDialog
        },
        props: {
        },
        watch: {
            selectedFieldType: function (newValue) {
                if (newValue === FieldConstants.CLIENT) {
                    this.searchClient();
                } else {
                    this.search();
                }
            }
        },
        computed: {
        },
        async created() {
            await this.searchClient();
        },
        methods: {
            search() {
                if (this.selectedFieldType === FieldConstants.CLIENT) {
                    this.searchClient();
                } else {
                    this.searchField();
                }
            },
            async searchField() {
                try {
                    var searchRequest = {
                        UserContext: {
                            CompanyId: parseInt(this.$store.getters.getCompanyId)
                        },
                        PageSize: 10, 
                        PageIndex: 0,
                        Value: this.searchTerm,
                        FieldType: this.selectedFieldType,
                        IsDeleted: false
                    };
                    let searchResults = await RestServices.search(Services.FIELD, searchRequest);
                    this.searchResult = searchResults.results;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async searchClient() {
                try {
                    var searchRequest = {
                        UserContext: {},
                        PageSize: 10, 
                        PageIndex: 0,
                        ClientName: this.searchTerm,
                        IsDeleted: false
                    };
                    searchRequest.UserContext.CompanyId = 1;
                    let searchResults = await RestServices.search(Services.CLIENT, searchRequest);
                    searchResults.results.forEach(function (result) {
                        result.value = result.clientName
                    });
                    this.searchResult = searchResults.results;
                } catch (ex) {
                    console.log(ex);
                }
            },
            editEvent(data) {
                console.log('Edit ' + data);
            },
            async deleteEvent(data) {
                if (this.selectedFieldType === FieldConstants.CLIENT) {
                    await RestServices.delete(Services.CLIENT, data.id);
                    this.searchClient();
                } else {
                    await RestServices.delete(Services.FIELD, data.id);
                    this.searchField();
                }
            }
        },
        data() {
            return {
                fieldTypes: FieldConstants.FIELD_TYPE_LIST,
                selectedFieldType: 0,
                newField: {},

                searchTerm: '',

                searchResult: {},
                tableFields: ['value'],
                tableActions: [
                    { name: 'Edit', action: 'edit' },
                    { name: 'Delete', action: 'delete' }
                ]
            }
        }
    }
</script>

<style scoped>
</style>