﻿<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <h2>Quick Attempts</h2>
                </v-col>
                <v-col align="right">
                    <QuickAttemptAddDialog @refresh-qas="refreshQas"/>
                </v-col>
            </v-row>
            <v-row v-for="quickAttempt in quickAttempts" :key=quickAttempt.id dense>
                <v-col cols="8">
                    <p>{{quickAttempt.value}}</p>
                </v-col>
                <v-col cols="4">
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           @click="sortUp(quickAttempt)">
                        <v-icon color="white">
                            mdi-arrow-up-thick
                        </v-icon>
                    </v-btn>
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           @click="sortDown(quickAttempt)">
                        <v-icon color="white">
                            mdi-arrow-down-thick
                        </v-icon>
                    </v-btn>
                    <QuickAttemptEditDialog v-bind:quickAttempt="quickAttempt"
                                            v-on:refresh-qas="refreshQas">
                    </QuickAttemptEditDialog>
                    <v-btn class="ma-1"
                           small
                           color="red"
                           @click="deleteQuickAttempt(quickAttempt)">
                        <v-icon color="white">
                            mdi-delete
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>

    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import QuickAttemptEditDialog from "../../partials/quick-attempt-edit-dialog"
    import QuickAttemptAddDialog from "../../partials/quick-attempt-add-dialog"

    export default {
        name: 'QuickAttemptEditor',
        components: {
            QuickAttemptEditDialog,
            QuickAttemptAddDialog
        },
        props: {
        },
        watch: {
        },
        computed: {
        },
        async created() {
            this.quickAttempts = await this.getQuickAttempts();
        },
        methods: {
            async getQuickAttempts() {
                try {
                    let result = await RestServices.getAll(Services.QUICKATTEMPT);
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async refreshQas() {
                let result = await this.getQuickAttempts();
                this.quickAttempts = result;
            },
            sortUp(quickAttempt) {
                if (quickAttempt.sortOrder > 0) {
                    try {
                        var newSpot = quickAttempt.sortOrder - 1;

                        this.quickAttempts.forEach(function (tQuickAttempt) {
                            if (tQuickAttempt.sortOrder === newSpot) {
                                tQuickAttempt.sortOrder += 1;
                                RestServices.update(Services.QUICKATTEMPT, tQuickAttempt.id, tQuickAttempt);
                            }
                        });

                        quickAttempt.sortOrder = newSpot;

                        RestServices.update(Services.QUICKATTEMPT, quickAttempt.id, quickAttempt).then(() => {
                            this.refreshQas();
                        });
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            },
            sortDown(quickAttempt) {
                if (quickAttempt.sortOrder < this.quickAttempts.length - 1) {
                    try {
                        var newSpot = quickAttempt.sortOrder + 1;

                        this.quickAttempts.forEach(function (tQuickAttempt) {
                            if (tQuickAttempt.sortOrder === newSpot) {
                                tQuickAttempt.sortOrder -= 1;
                                RestServices.update(Services.QUICKATTEMPT, tQuickAttempt.id, tQuickAttempt);
                            }
                        });

                        quickAttempt.sortOrder = newSpot;

                        RestServices.update(Services.QUICKATTEMPT, quickAttempt.id, quickAttempt).then(() => {
                            this.refreshQas();
                        });
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            },
            deleteQuickAttempt(quickAttempt) {
                try {
                    RestServices.delete(Services.QUICKATTEMPT, quickAttempt.id).then(() => {
                        this.refreshQas();
                    });
                } catch (ex) {
                    console.log(ex);
                }
            }
        },
        data() {
            return {
                quickAttempts: [],
                dialog: false
            }
        }

    }
</script>

<style scoped>
</style>