﻿<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <h2>Reasons</h2>
                </v-col>
                <v-col align="right">
                    <AddReason @refresh-reasons="refreshReasons"/>
                </v-col>
            </v-row>
            <v-row v-for="reason in reasons" :key=reason.id dense>
                <v-col cols="8">
                    <p>{{reason.value}}</p>
                </v-col>
                <v-col cols="4">
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           @click="sortUp(reason)">
                        <v-icon color="white">
                            mdi-arrow-up-thick
                        </v-icon>
                    </v-btn>
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           @click="sortDown(reason)">
                        <v-icon color="white">
                            mdi-arrow-down-thick
                        </v-icon>
                    </v-btn>
                    <reasoneditdialog v-bind:reason="reason"
                                   v-on:refresh-reasons="refreshReasons">
                    </reasoneditdialog>
                    <v-btn class="ma-1"
                           small
                           color="red"
                           @click="deleteReason(reason)">
                        <v-icon color="white">
                            mdi-delete
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>

    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import reasoneditdialog from "../../partials/reason-edit-dialog"
    import AddReason from "../../partials/reason-add-dialog"

    export default {
        name: 'ReasonEditor',
        components: {
            reasoneditdialog,
            AddReason
        },
        props: {
        },
        watch: {
        },
        computed: {
        },
        async created() {
            this.reasons = await this.getReasons();
        },
        methods: {
            async getReasons() {
                try {
                    let result = await RestServices.getAll(Services.REASON);
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async refreshReasons() {
                let result = await this.getReasons();
                this.reasons = result;
            },
            sortUp(reason) {
                if (reason.sortOrder > 0) {
                    try {
                        var newSpot = reason.sortOrder - 1;

                        this.reasons.forEach(function (tReason) {
                            if (tReason.sortOrder === newSpot) {
                                tReason.sortOrder += 1;
                                RestServices.update(Services.REASON, tReason.id, tReason);
                            }
                        });

                        reason.sortOrder = newSpot;

                        RestServices.update(Services.REASON, reason.id, reason).then(() => {
                            this.refreshReasons();
                        });
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            },
            sortDown(reason) {
                if (reason.sortOrder < this.reasons.length - 1) {
                    try {
                        var newSpot = reason.sortOrder + 1;

                        this.reasons.forEach(function (tReason) {
                            if (tReason.sortOrder === newSpot) {
                                tReason.sortOrder -= 1;
                                RestServices.update(Services.REASON, tReason.id, tReason);
                            }
                        });

                        reason.sortOrder = newSpot;

                        RestServices.update(Services.REASON, reason.id, reason).then(() => {
                            this.refreshReasons();
                        });
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            },
            deleteReason(reason) {
                try {
                    RestServices.delete(Services.REASON, reason.id).then(() => {
                        this.refreshReasons();
                    });
                } catch (ex) {
                    console.log(ex);
                }
            }
        },
        data() {
            return {
                reasons: [],
                dialog: false
            }
        }

    }
</script>

<style scoped>
</style>