﻿<template>
    <div>
        <dynamictable v-bind:searchresult="mappedAffidavitResults"
                      v-bind:tableFields="affidavitTableFields"
                      v-bind:tableActions="affidavitTableActions"
                      v-bind:customActions="affidavitCustomActions"
                      v-bind:showSearchUser="true"
                      v-bind:showSearchTerm="true"
                      v-bind:showSearchDate="true"
                      @search-event="searchEvent"
                      @edit-affidavit="editAffidavit"
                      @delete-affidavit="deleteAffidavit"
                      @add-attachment="addAttachment"
                      @view-pdf="viewPdf"
                      @print-pdf="printPdf"></dynamictable>
        <DeleteConfirm v-bind:entity.sync="deleteEntity"
                       v-bind:dialogStatus.sync="deleteConfirmFlag"
                       v-bind:deleteDecision.sync="deleteDecision"></DeleteConfirm>
        <AFfidavitPdf v-bind:pdfStatus.sync="pdfStatus"
                      v-bind:affidavitId.sync="pdfAffidavitId"
                      v-bind:isPrint="isPrint"></AFfidavitPdf>
    </div>
</template>

<script>
    import TableConstants from "../../constants/table/index"
    import dynamictable from "../../partials/dynamic-table"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import DeleteConfirm from "../../partials/delete-dialog"
    import AFfidavitPdf from "../affidavit/affidavit-pdf-dialog"
    import moment from 'moment'

    export default {
        name: 'SearchAffidavit',
        components: {
            dynamictable,
            DeleteConfirm,
            AFfidavitPdf
        },
        data() {
            return {
                deleteEntity: {},
                deleteConfirmFlag: false,
                deleteDecision: null,
                searchResult: {},
                mappedAffidavitResults: {},

                pdfStatus: false,
                isPrint: false,
                pdfAffidavitId: 0,

                isAdmin: false,

                affidavitTableFields: ['invoiceNumber', 'caseNumber', 'defendant', 'entityServed', 'affidavitType', 'createdOn', 'attachments', 'customActions'],
                affidavitCustomActions: [
                    { name: 'View PDF', action: 'view-pdf' },                    
                    { name: 'Print PDF', action: 'print-pdf' },
                    { name: 'Attachments', action: 'add-attachment' }
                ],
                affidavitTableActions: [
                    { name: 'Edit', action: 'edit-affidavit' },
                    { name: 'Delete', action: 'delete-affidavit' }
                ]
            }
        },
        computed: {

        },
        watch: {
            deleteDecision() {
                console.log('delete decision');
                console.log(this.deleteDecision);
                if (this.deleteDecision) {
                    console.log('Delete affidavit ' + this.deleteEntity.id);
                    this.delete(this.deleteEntity.id);
                } else {
                    console.log('Dont delete affidavit ' + this.deleteEntity.id);
                }
                this.deleteConfirmFlag = null;
                this.deleteEntity = {};
            }
        },
        async created() {
            this.isAdmin = this.$store.getters.checkAdmin == 'true';
            this.loadResults();
        },
        methods: {
            async loadResults() {
                let searchParams = {
                    PageSize: TableConstants.INITIAL_PAGE_SIZE,
                    PageIndex: 0,
                    UserContext: {}
                };

                await this.searchAffidavits(searchParams);
            },
            mapAffidavits(affidavits) {
                this.mappedAffidavitResults = {
                    totalResults: affidavits ? affidavits.totalResults : 0,
                    hasMoreResults: affidavits ? affidavits.hasMoreResults : false,
                    results: []
                }

                var mappedAffidavits = [];

                if (affidavits.results) {
                    affidavits.results.forEach((affidavit) => {
                        let mappedAffidavit = {};

                        mappedAffidavit.id = affidavit.id;
                        mappedAffidavit.serveId = affidavit.serveId;

                        mappedAffidavit.invoiceNumber = affidavit.invoiceNumber;

                        if (affidavit.caseNum) {
                            mappedAffidavit.caseNumber = affidavit.caseNum.value;
                        }

                        if (affidavit.defendant) {
                            mappedAffidavit.defendant = affidavit.defendant.value;
                        }

                        if (affidavit.entity) {
                            mappedAffidavit.entityServed = affidavit.entity.value
                        }

                        switch (affidavit.affidavitType) {
                            case 0:
                                mappedAffidavit.affidavitType = 'Personal';
                                break;
                            case 1:
                                mappedAffidavit.affidavitType = 'Substitute';
                                break;
                            case 2:
                                mappedAffidavit.affidavitType = 'Reasonable';
                                break;
                            case 3:
                                mappedAffidavit.affidavitType = 'Corporation';
                                break;
                            case 4:
                            default:
                                mappedAffidavit.affidavitType = 'Posting/Mailing';
                                break;
                        }

                        mappedAffidavit.attachments = affidavit.files.length;

                        mappedAffidavit.createdOn = moment(affidavit.createdOn + 'Z').format('L');
                        mappedAffidavits.push(mappedAffidavit);
                    });
                }

                this.mappedAffidavitResults.results = mappedAffidavits;
            },
            async searchEvent(searchParams) {
                await this.searchAffidavits(searchParams);
            },
            async searchAffidavits(searchParams) {
                console.log("Affidavit Search");
                console.log(searchParams);

                try {
                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);
                    searchParams.ServerId = parseInt(this.$store.getters.getUserId);
                    searchParams.IsDeleted = false;

                    //TODO can probably remove this
                    if (this.isAdmin) {
                        console.log('get user from dropdown')
                    } else {
                        searchParams.ServerId = parseInt(this.$store.getters.getUserId);
                    }

                    let searchResults = await RestServices.search(Services.AFFIDAVIT, searchParams);
                    await this.mapAffidavits(searchResults);
                } catch (ex) {
                    console.log(ex);
                }
            },
            editAffidavit(data) {
                this.$router.push({ name: 'affidavit', params: { id: data } });
            },
            viewPdf(data) {
                let affidavit = this.mappedAffidavitResults.results.find(x => x.id === data);
                this.pdfAffidavitId = affidavit.id;
                this.isPrint = false;
                this.pdfStatus = true;
            },
            printPdf(data) {
                let affidavit = this.mappedAffidavitResults.results.find(x => x.id === data);
                this.pdfAffidavitId = affidavit.id;
                this.isPrint = true;
                this.pdfStatus = true;
            },
            deleteAffidavit(data) {
                console.log('Delete User ' + data)
                let affidavit = this.mappedAffidavitResults.results.find(x => x.id === data);
                let a = { id: affidavit.id, entity: affidavit.entityAffidavitd }
                this.deleteEntity = a;
                this.deleteConfirmFlag = true;
            },
            addAttachment(data) {
                console.log('add attachment');
                let affidavit = this.mappedAffidavitResults.results.find(x => x.id === data);
                console.log(affidavit)
                this.$router.push({ name: 'serve-files', params: { id: affidavit.serveId } });
            },
            async delete(affidavitId) {
                console.log(affidavitId)
                await RestServices.delete(Services.AFFIDAVIT, affidavitId);
                this.loadResults();
            }
        }
    }
</script>

<style scoped>
</style>
