﻿<template>
    <div>
        <h1>Serves</h1>
        <dynamictable v-bind:searchresult="searchResult"
                      v-bind:tableFields="affidavitTableFields"
                      v-bind:tableActions="affidavitTableActions"
                      v-bind:showSearchTerm="true"
                      v-bind:showSearchDate="false"
                      @search-event="searchEvent"
                      @view-details="viewPortalDetail"
                      @view-pdf="viewPdf"></dynamictable>
        <PortalDetails v-bind:portalDetailStatus.sync="portalDetailStatus"
                       v-bind:clientPortalRow.sync="clientPortalRow"></PortalDetails>
        <AffidavitPdf v-bind:pdfStatus.sync="pdfStatus"
                      v-bind:affidavitId.sync="pdfAffidavitId"
                      v-bind:isPrint="isPrint"></AffidavitPdf>
    </div>
</template>

<script>
    //import TableConstants from "../../constants/table/index"
    import dynamictable from "../../partials/dynamic-table"
    import RestServices from "../../services/restServices"
    import PortalDetails from "../../partials/portal-details-dialog"
    import AffidavitPdf from "../affidavit/affidavit-pdf-dialog"

    export default {
        name: 'ClientPortal',
        components: {
            dynamictable,
            PortalDetails,
            AffidavitPdf
        },
        data() {
            return {
                portalDetailStatus: false,
                clientPortalRow: null,

                pdfStatus: false,
                isPrint: false,
                pdfAffidavitId: 0,

                deleteEntity: {},
                deleteConfirmFlag: false,
                deleteDecision: null,
                searchResult: {},
                affidavitTableFields: ['status', 'affidavitType', 'clientFileNumber', 'caseNumber', 'defendant', 'entityServed', 'invoiceNumber', 'latestAttempt', 'attemptCount', 'fileCount'],
                affidavitTableActions: [
                    { name: 'Details', action: 'view-details' },
                    { name: 'View PDF', action: 'view-pdf' }
                ]
            }
        },
        computed: {

        },
        watch: {
        },
        async created() {
            let queryParamAction = this.$route.query.action;
            if (queryParamAction === 1) {
                this.searchResult = {};
            }
        },
        methods: {
            async searchEvent(searchParams) {
                if (searchParams.Clear) {
                    this.searchResult = {}
                }
                else {
                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);
                    searchParams.IsDeleted = false;
                    searchParams.ClientId = parseInt(this.$store.getters.getCompanyId);

                    this.searchResult = await this.searchClientPortal(searchParams);
                }                
            },
            async searchClientPortal(searchParams) {
                try {
                    console.log("Client Search")
                    console.log(searchParams)

                    let searchResults = await RestServices.search("ClientPortal", searchParams);
                    if (searchResults.results) {
                        searchResults.results.forEach((result) => {
                            result.latestAttempt = !result.latestAttempt ? '' : new Date(result.latestAttempt).toLocaleString();
                            result.id = result.serveId;
                            if (result.fileCount === 0) {
                                result.hide = true;
                            }
                        })
                    }
                    
                    return searchResults;
                } catch (ex) {
                    console.log(ex);
                }
            },
            viewPortalDetail(data) {
                this.clientPortalRow = null;
                let tClientPortalRow = this.searchResult.results.find(x => x.serveId === data);
                tClientPortalRow.createdOn = tClientPortalRow.createdOn ? new Date(tClientPortalRow.createdOn).toLocaleString() : '',
                tClientPortalRow.serveCompleted = tClientPortalRow.serveCompleted ? new Date(tClientPortalRow.serveCompleted).toLocaleString() : '',
                this.clientPortalRow = tClientPortalRow;
                this.portalDetailStatus = true;
            },
            viewPdf(data) {
                let clientPortalRow = this.searchResult.results.find(x => x.serveId === data);
                if (clientPortalRow.affidavitId) {
                    this.pdfAffidavitId = clientPortalRow.affidavitId;
                    this.isPrint = false;
                    this.pdfStatus = true;
                } else {
                    alert('No affidavit created yet');
                }
            }
        }
    }
</script>

<style scoped>
</style>