﻿<template>
    <div>
        <dynamictable v-bind:searchresult="mappedServeResults"
                      v-bind:tableFields="serveTableFields"
                      v-bind:mobileTableFields="serveMobileTableFields"
                      v-bind:tableActions="serveTableActions"
                      v-bind:customActions="serveCustomActions"
                      v-bind:showSearchUser="true"
                      v-bind:showSearchTerm="true"
                      v-bind:showSearchDate="false"
                      v-bind:columnWidths="serveColumnWidths"
                      @view-attempt="viewAttempt"
                      @quick-attempt="quickAttempt"
                      @search-event="searchEvent"
                      @edit-serve="editServe"
                      @delete-serve="deleteServe"></dynamictable>
        <DeleteConfirm v-bind:entity.sync="deleteEntity"
                       v-bind:dialogStatus.sync="deleteConfirmFlag"
                       v-bind:deleteDecision.sync="deleteDecision"></DeleteConfirm>
        <ViewAttempts v-bind:viewAttemptStatus.sync="viewAttemptStatus"
                      v-bind:serveId.sync="attemptServeId"></ViewAttempts>
        <QuickAttempt v-bind:quickAttemptStatus.sync="quickAttemptStatus"
                      v-bind:serveId.sync="quickAttemptServeId"
                      @update-attempt-count="updateAttemptCount"></QuickAttempt>
    </div>
</template>

<script>
    import TableConstants from "../../constants/table/index"
    import dynamictable from "../../partials/dynamic-table"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import DeleteConfirm from "../../partials/delete-dialog"
    import ViewAttempts from "../../partials/view-attempt-dialog"
    import QuickAttempt from "../serve/quick-attempt-dialog"
    import moment from "moment"

    export default {
        name: 'SearchServe',
        components: {
            dynamictable,
            DeleteConfirm,
            ViewAttempts,
            QuickAttempt
        },
        data() {
            return {
                deleteEntity: {},
                deleteConfirmFlag: false,
                viewAttemptStatus: false,
                quickAttemptStatus: false,
                attempts: [],
                attemptServeId: 0,
                quickAttemptServeId: 0,
                deleteDecision: null,

                isAdmin: false,

                searchResult: {},
                items: [],

                searchResults: {},
                mappedServeResults: {},

                serveTableFields: ['caseNumber', 'clientFileNumber', 'defendant', 'entityServed', 'courtDate', 'createdOn', 'caseNotes', 'attempts', 'customActions'],
                serveMobileTableFields: ['entityServed', 'caseNotes', 'attempts'],
                serveColumnWidths: ['10%', '10%', '10%', '10%', '10%', '20%', '5%', '15%'],
                serveCustomActions: [
                    { name: 'View Attempts', action: 'view-attempt' },
                    { name: 'Quick Attempt', action: 'quick-attempt' },
                ],
                serveTableActions: [
                    { name: 'Edit', action: 'edit-serve' },
                    { name: 'Delete', action: 'delete-serve' }
                ]
            }
        },
        computed: {
        },
        watch: {
            deleteDecision() {
                console.log('delete decision');
                console.log(this.deleteDecision);
                if (this.deleteDecision) {
                    console.log('Delete serve ' + this.deleteEntity.id);
                    this.delete(this.deleteEntity.id);
                } else {
                    console.log('Dont delete serve ' + this.deleteEntity.id);
                }
                this.deleteConfirmFlag = null;
                this.deleteEntity = {};
            },

        },
        mounted() {
            this.$root.$on('trigger-search', () => {
                this.quickAttemptStatus = false;
            })
        },
        async created() {
            this.isAdmin = this.$store.getters.checkAdmin == 'true';
            if (this.isAdmin) {
                this.serveTableFields = ['server', 'caseNumber', 'clientFileNumber', 'defendant', 'entityServed', 'createdOn', 'caseNotes', 'attempts', 'customActions'];
            }

            this.loadPage();
        },
        methods: {
            async loadPage() {
                let searchParams = {
                    PageSize: TableConstants.INITIAL_PAGE_SIZE,
                    PageIndex: 0,
                    UserContext: {}
                };

                await this.searchServes(searchParams);
            },
            async searchServes(searchParams) {
                console.log("Serve Search");
                console.log(searchParams);

                try {
                    this.mappedServeResults = {};

                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);
                    searchParams.ServerId = parseInt(this.$store.getters.getUserId);
                    searchParams.IsDeleted = false;

                    this.searchResults = await RestServices.search(Services.SERVE, searchParams);
                    await this.mapServes(this.searchResults);
                } catch (ex) {
                    console.log(ex);
                }
            },
            async mapServes(searchResults) {
                this.mappedServeResults = {
                    totalResults: searchResults ? searchResults.totalResults : 0,
                    hasMoreResults: searchResults ? searchResults.hasMoreResults : false,
                    results: []
                }
                if (searchResults.results) {
                    searchResults.results.forEach((serve) => {
                        let mappedServe = {};

                        mappedServe.id = serve.serveId;
                        mappedServe.server = serve.processServer != null ? serve.processServer.userName : '';

                        if (serve.caseNumber) {
                            mappedServe.caseNumber = serve.caseNumber.value;
                        }

                        if (serve.clientFileNumber) {
                            mappedServe.clientFileNumber = serve.clientFileNumber.value;
                        }

                        if (serve.defendant) {
                            mappedServe.defendant = serve.defendant.value;
                        }

                        if (serve.entity) {
                            mappedServe.entityServed = serve.entity.value
                        }

                        mappedServe.attempts = serve.attempts.length;

                        if (serve.dueDate) {
                            mappedServe.dueDate = new Date(serve.dueDate).toLocaleDateString();
                        }

                        mappedServe.courtDate = moment(serve.courtDate).format('L');

                        mappedServe.createdOn = moment(serve.createdOn + 'Z').format('L');
                        mappedServe.caseNotes = serve.notes;

                        this.mappedServeResults.results.push(mappedServe);
                    });
                }                
            },
            async searchEvent(searchParams) {
                await this.searchServes(searchParams);
            },
            editServe(data) {
                this.$router.push({ name: 'serve', params: { id: data } });
            },
            deleteServe(data) {
                let serve = this.searchResults.results.find(x => x.id === data);
                let a = { id: serve.serveId, entity: serve.entityServed }
                this.deleteEntity = a;
                this.deleteConfirmFlag = true;
            },
            viewAttempt(data) {
                this.attempts = [];
                this.attemptServeId = 0;
                let serve = this.searchResults.results.find(x => x.serveId === data);
                console.log(serve);
                this.attemptServeId = serve.serveId;
                this.attempts = serve.attempts;
                this.viewAttemptStatus = true;
            },
            quickAttempt(data) {
                let serve = this.searchResults.results.find(x => x.serveId === data);
                this.quickAttemptServeId = serve.serveId;
                this.quickAttemptStatus = true;
            },
            async delete(serveId) {
                console.log(serveId)
                await RestServices.delete(Services.SERVE, serveId);
                this.loadPage();
            },
            updateAttemptCount() {
                this.quickAttemptStatus = false;
                this.mapServes(this.searchResults);
            }
        }
    }
</script>

<style scoped>
</style>
