﻿<template>
    <div>
        <dynamictable v-bind:searchresult="mappedCaseResults"
                      v-bind:tableFields="caseTableFields"
                      v-bind:tableActions="caseTableActions"
                      v-bind:showSearchTerm="true"
                      v-bind:showSearchDate="true"
                      v-bind:showSearchUser ="false"
                      @search-event="searchEvent"
                      @edit-case="editCase"
                      @delete-case="deleteCase"></dynamictable>
        <DeleteConfirm v-bind:entity.sync="deleteEntity"
                       v-bind:dialogStatus.sync="deleteConfirmFlag"
                       v-bind:deleteDecision.sync="deleteDecision"></DeleteConfirm>
    </div>
</template>

<script>
    import TableConstants from "../../constants/table/index"
    import dynamictable from "../../partials/dynamic-table"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import DeleteConfirm from "../../partials/delete-dialog"
    import moment from "moment"

    export default {
        name: 'SearchCase',
        components: {
            dynamictable,
            DeleteConfirm
        },
        data() {
            return {
                deleteEntity: {},
                deleteConfirmFlag: false,
                deleteDecision: null,
                searchResult: {},
                mappedCaseResults: {},
                caseTableFields: ['caseNumber', 'clientFileNumber', 'client', 'caseName', 'defendant', 'createdOn'],
                caseTableActions: [
                    { name: 'Edit', action: 'edit-case' },
                    { name: 'Delete', action: 'delete-case' }
                ]
            }
        },
        computed: {
        },
        watch: {
            deleteDecision() {
                if (this.deleteDecision) {
                    this.delete(this.deleteEntity.id);
                }

                this.deleteConfirmFlag = null;
                this.deleteEntity = {};
            }
        },
        async created() {
            this.loadPage();
        },
        methods: {
            async loadPage() {
                let searchParams = {
                    PageSize: TableConstants.INITIAL_PAGE_SIZE,
                    PageIndex: 0,
                    UserContext: {}
                };

                await this.searchCases(searchParams);
            },
            async searchCases(searchParams) {
                console.log("Case Search");
                console.log(searchParams);

                try {
                    this.mappedCaseResults = {};

                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);
                    searchParams.IsDeleted = false;

                    let searchResults = await RestServices.search(Services.CASE, searchParams);
                    await this.mapCases(searchResults);
                } catch (ex) {
                    console.log(ex);
                }
            },
            mapCases(cases) {
                this.mappedCaseResults = {
                    totalResults: cases ? cases.totalResults : 0,
                    hasMoreResults: cases ? cases.hasMoreResults : false,
                    results: []
                }

                if (cases.results) {
                    cases.results.forEach((aCase) => {
                        let mappedCase = {};

                        mappedCase.id = aCase.id;

                        if (aCase.caseNumber) {
                            mappedCase.caseNumber = aCase.caseNumber.value;
                        }

                        if (aCase.clientFileNumber) {
                            mappedCase.clientFileNumber = aCase.clientFileNumber.value;
                        }

                        if (aCase.client) {
                            mappedCase.client = aCase.client.clientName;
                        }

                        if (aCase.defendant) {
                            mappedCase.defendant = aCase.defendant.value;
                        }

                        if (aCase.caseName) {
                            mappedCase.caseName = aCase.caseName.value
                        }

                        mappedCase.createdOn = moment(aCase.createdOn + 'Z').format('L');

                        this.mappedCaseResults.results.push(mappedCase);
                    });
                }
            },
            async searchEvent(searchParams) {
                await this.searchCases(searchParams);
            },
            editCase(data) {
                this.$router.push({ name: 'case', params: { id: data } });
            },
            deleteCase(data) {
                let aCase = this.searchResult.results.find(x => x.id === data);
                let a = { id: aCase.id, entity: aCase.entityServed }
                this.deleteEntity = a;
                this.deleteConfirmFlag = true;
            },
            async delete(caseId) {
                console.log(caseId)
                await RestServices.delete(Services.CASE, caseId);
                this.loadPage();
            }
        }
    }
</script>

<style scoped>
</style>
