﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Case</v-toolbar-title>
            <v-spacer />
            <v-menu>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn color="blue-grey"
                           dark
                           v-bind="attrs"
                           v-on="on">
                        Actions
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="save">Save</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Case</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey" dark class="btn-space" @click="save">Save</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Case Info</h2>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col>
                    <label for="client-name">Client</label>
                    <clientinput v-bind:selectedValue.sync="client"></clientinput>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col>
                    <label for="client-name">Attention</label>
                    <fieldinput v-bind:selectedValue.sync="attention"
                                v-bind:fieldType="ftContact"
                                v-on:focus-next="focusNext"></fieldinput>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Client File Number</label>
                    <fieldinput v-bind:selectedValue.sync="clientFileNumber"
                                v-bind:fieldType="ftClientFileNumber"></fieldinput>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Court Date</label>
                    <v-text-field v-model="courtDate"
                                  outlined
                                  dense></v-text-field>
                </v-col>
            </v-row>
            <v-row no-gutter>
                <v-col>
                    <v-checkbox v-model="otherLocationFlag"
                                :label="'Other Location'">

                    </v-checkbox>
                </v-col>
            </v-row>
            <v-row v-if="!otherLocationFlag" dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">State</label>
                    <v-select v-model="state"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">County</label>
                    <v-select v-model="county"
                              :items="counties"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
            <v-row v-else dense>
                <v-col>
                    <label for="client-name">Location</label>
                    <fieldinput v-bind:selectedValue.sync="location"
                                v-bind:fieldType="ftOtherLocation"></fieldinput>
                </v-col>
            </v-row>
            <v-row no-gutter>
                <v-col>
                    <v-checkbox v-model="singleCaseFlag"
                                :label="'Single Case Name'">

                    </v-checkbox>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Case Name</label>
                    <fieldinput v-bind:selectedValue.sync="caseName"
                                v-bind:fieldType="ftCaseName"></fieldinput>
                </v-col>
                <v-col v-show="!singleCaseFlag" cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Vs</label>
                    <fieldinput v-bind:selectedValue.sync="vsName"
                                v-bind:fieldType="ftCaseName"></fieldinput>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Case Number</label>
                    <fieldinput v-bind:selectedValue.sync="caseNumber"
                                v-bind:fieldType="ftCaseNumber"></fieldinput>
                </v-col>
            </v-row>
        </v-container>

        <v-container v-if="!isEdit">
            <v-row>
                <v-col>
                    <h2>Documents</h2>
                </v-col>
            </v-row>
            <v-row v-for="doc in documents" :key=doc.id dense no-gutters align="center">
                <v-col cols="1">
                    <v-checkbox v-model="doc.checked"></v-checkbox>
                </v-col>
                <!--Text ahead-->
                <v-col cols="5" v-if="doc.hasText && doc.textBefore">
                    <fieldinput v-bind:selectedValue.sync="doc.text"
                                v-bind:fieldType="ftDocText"></fieldinput>
                </v-col>
                <v-col cols="5" v-if="doc.hasText && doc.textBefore">
                    <span> {{doc.name}} </span>
                </v-col>
                <!--No text-->
                <v-col v-if="!doc.hasText" cols="10">
                    <span> {{doc.name}} </span>
                </v-col>
                <!--Text behind-->
                <v-col cols="5" v-if="doc.hasText && !doc.textBefore">
                    <span> {{doc.name}} </span>
                </v-col>
                <v-col cols="5" v-if="doc.hasText && !doc.textBefore">
                    <fieldinput v-bind:selectedValue.sync="doc.text"
                                v-bind:fieldType="ftDocText"></fieldinput>
                </v-col>
            </v-row>

        </v-container>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Serves</h2>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <p>
                        Entities cannot be edited after being created.  To edit or remove already created serves, search for the serve in the Search Serve section.
                    </p>
                    <p>
                        Reassign existing serves to other servers here.
                    </p>
                </v-col>
            </v-row>
            <v-row v-for="(serve,index) in serves" :key="index" dense>
                <v-col>
                    <caseserve v-bind:serve="serve"
                               v-bind:index="index"
                               v-bind:selectedServer.sync="serve.server"
                               v-bind:selectedEntity.sync="serve.entity"
                               v-bind:serveNotes.sync="serve.notes"
                               v-bind:serveCharge.sync="serve.charge"
                               v-bind:serveDueDate.sync="serve.dueDate"
                               v-bind:isEdit="isEdit"
                               v-on:caseserve-remove="removeServe"></caseserve>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           @click="addServe">Add Serve</v-btn>
                </v-col>
            </v-row>
        </v-container>
        <v-snackbar v-model="snackbar"
                    color="error"
                    timeout="4000"
                    :top=true>
            {{ errorText }}

            <v-btn color="pink"
                   @click="snackbar = false">
                X
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import caseserve from "../../partials/case-serve"
    import fieldinput from "../../partials/field-input"
    import clientinput from "../../partials/client-input"
    import FieldType from "../../constants/fieldType"
    import States from "../../constants/states"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import { fieldMixins } from "../../mixins/fieldMixins"

    export default {
        name: 'Case',
        components: {
            fieldinput,
            caseserve,
            clientinput
        },
        mixins: [fieldMixins],
        props: {
        },
        watch: {
            client: function (newValue) {
                if (typeof newValue == "string") {
                    this.client = this.newClientValue(newValue)
                } else {
                    this.clientDefaultFee = newValue.defaultFee;

                    this.serves.forEach(function (serve) {
                        serve.charge = newValue.defaultFee;
                    });
                }
            },
            attention: function (newValue) {
                if (typeof newValue == "string") {
                    this.attention = this.newFieldValue(newValue, this.ftContact)
                }
            },
            clientFileNumber: function (newValue) {
                if (typeof newValue == "string") {
                    this.clientFileNumber = this.newFieldValue(newValue, this.ftClientFileNumber)
                }
            },
            location: function (newValue) {
                if (typeof newValue == "string") {
                    this.location = this.newFieldValue(newValue, this.ftOtherLocation)
                }
            },
            caseName: function (newValue) {
                if (typeof newValue == "string") {
                    this.caseName = this.newFieldValue(newValue, this.ftCaseName)
                }
            },
            vsName: function (newValue) {
                if (typeof newValue == "string") {
                    this.vsName = this.newFieldValue(newValue, this.ftCaseName)
                }
            },
            caseNumber: function (newValue) {
                if (typeof newValue == "string") {
                    this.caseNumber = this.newFieldValue(newValue, this.ftCaseNumber)
                }
            },
            serveinfo: function () {
                console.log("serveinfo");
                console.log(this.serveinfo);
            },
            state: function (value) {
                this.counties = this.getCountiesForState(value);
            }
        },
        computed: {
        },
        async created() {            
            window.scrollTo(0, 0);

            this.caseId = this.$route.params.id;
            this.documents = await this.getDocumentsForUser();

            this.state = 'Wisconsin';

            if (this.caseId > 0) {
                this.isEdit = true;
                await this.loadCase();
            }
            else {
                this.addServe();
            }
        },
        methods: {
            focusNext(value) {
                console.log('focus next ' + value);
            },
            removeServe(i) {
                console.log("remove serve");
                console.log(i);
                this.serves.splice(i, 1);
            },
            hasErrors() {
                if (this.serves.length == 0) {                    
                    this.errorText = "Need to have at least one serve";
                    return true;
                }

                return false;
            },
            async save() {
                if (!this.hasErrors()) {
                    var mappedDocs = [];
                    var userId = parseInt(this.$store.getters.getUserId);

                    this.documents.forEach((doc) => {
                        if (doc.checked) {
                            let mappedDoc = {
                                DocumentId: doc.id
                            }

                            if (typeof doc.text == "string") {
                                var textField = this.newFieldValue(doc.text, this.ftDocText);
                                mappedDoc.DocumentText = textField;
                            } else {
                                mappedDoc.DocumentText = doc.text;
                            }

                            mappedDocs.push(mappedDoc);
                        }
                    });

                    this.serves.forEach((serve) => {
                        if (serve.id === 0) {
                            serve.serveStatus = 1;
                        }
                        serve.documents = mappedDocs;
                        serve.createdOn = new Date().toISOString();
                        serve.createdBy = userId;
                    });

                    let aCase = {
                        Client: this.client,
                        CaseNumber: this.caseNumber,
                        Contact: this.attention,
                        CaseName: this.caseName,
                        Defendant: this.vsName,
                        County: this.county,
                        State: this.state,
                        OtherLocation: this.location,
                        ClientFileNumber: this.clientFileNumber,
                        CourtDate: this.courtDate,
                        CreatedOn: new Date().toISOString(),
                        CreatedBy: userId,
                        CaseServeMappeds: this.serves
                    };                    

                    if (this.isEdit) {
                        console.log('here');
                        aCase.Id = parseInt(this.caseId);
                        await RestServices.updateMapped(Services.CASE, this.caseId, aCase);
                    } else {
                        await RestServices.createMapped(Services.CASE, aCase);
                    }
                    
                    this.$router.push({ name: 'home' });
                } else {
                    this.snackbar = true;
                }
            },
            async loadCase() {
                let result = await RestServices.getMapped(Services.CASE, this.caseId);

                this.client = result.client;
                this.caseNumber = result.caseNumber;
                this.attention = result.contact;
                this.caseName = result.caseName;
                this.vsName = result.defendant;
                this.location = result.otherLocation;
                this.clientFileNumber = result.clientFileNumber;
                this.county = result.county;
                this.state = result.state;
                this.courtDate = result.courtDate;

                if (this.location) {
                    this.otherLocationFlag = true;
                }

                if (!this.vsName) {
                    this.singleCaseFlag = true;
                }

                let caseServes = result.caseServeMappeds;
                caseServes.forEach((caseServe) => {
                    this.loadServe(caseServe);
                });
            },
            async getDocumentsForUser() {
                try {
                    let result = await RestServices.getByUser(Services.DOCUMENT_BY_USER, this.$store.getters.getUserId);
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async addServe() {
                let currentUser = await RestServices.get(Services.USER, parseInt(this.$store.getters.getUserId));
                this.serves.push({ id: 0, entity: null, server: currentUser, notes: '', documents: [], charge: this.clientDefaultFee });
            },
            loadServe(serve) {
                this.serves.push({
                    id: serve.id,
                    entity: serve.entity,
                    server: serve.server,
                    notes: serve.notes,
                    dueDate: serve.dueDate,
                    charge: serve.charge,
                    serveStatus: serve.serveStatus,
                    documents: []
                });
            },
            checkServe() {
                this.serves.forEach(function (serve) {
                    console.log(serve);
                });
            },
            cancel() {
                this.$router.push({ name: 'home' });
            }
        },
        data() {
            return {
                caseId: 0,

                client: null,
                attention: null,
                clientFileNumber: null,
                courtDate: null,
                county: null,
                state: null,
                location: null,

                caseName: null,
                vsName: null,
                caseNumber: null,

                documents: [],

                serveinfo: null,
                serves: [],

                clientDefaultFee: 0,

                otherLocationFlag: false,
                singleCaseFlag: false,
                isEdit: false,

                states: States.STATES,
                counties: [],

                ftClient: FieldType.CLIENT,
                ftContact: FieldType.CONTACT,
                ftCounty: FieldType.COUNTY,
                ftCaseName: FieldType.CASE_NAME,
                ftCaseNumber: FieldType.CASE_NUM,
                ftClientFileNumber: FieldType.CLIENT_FILE_NUM,
                ftOtherLocation: FieldType.OTHER_LOCATION,
                ftDocText: FieldType.DOC_OTHER,
                ftPersonServed: FieldType.PERSON_SERVED,

                WI_Counties: States.WISCONSIN_COUNTIES,

                snackbar: false,
                errorText: ''
            }
        }

    }
</script>

<style scoped>
    .btn-space {
        margin: 0px 10px 0px 10px;
    }
</style>