<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Serviture</v-toolbar-title>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Serviture</v-toolbar-title>
        </v-app-bar>

        <v-container v-if="userType != 2" fluid>
            <v-tabs v-if="detectMobile()" vertical v-model="tab">
                <v-tab v-for="item in items" :key="item.tab">
                    {{ item.tab }}
                </v-tab>
            </v-tabs>
            <v-tabs v-else v-model="tab">
                <v-tab v-for="item in items" :key="item.tab">
                    {{ item.tab }}
                </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
                <v-tab-item v-for="item in items" :key="item.tab">
                    <v-card flat>
                        <v-card-text>
                            <component v-bind:is="item.content"></component>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-container>
        <v-container fluid v-else>
            <ClientView></ClientView>
        </v-container>
    </div>
    
</template>

<script>
    import ServeSearch from '../components/search/search-serve'
    import AffidavitSearch from '../components/search/search-affidavit'
    import CaseSearch from '../components/search/search-case'
    import ClientView from '../components/search/search-client'

    export default {
        name: 'Home',
        components: {
            ServeSearch,
            AffidavitSearch,
            CaseSearch,
            ClientView
        },
        watch: {
        },
        data() {
            return {
                userType: null,
                tab: null,
                loadTab: null,
                items: [
                    { tab: 'Search Serves', content: 'ServeSearch' },
                    { tab: 'Search Affidavits', content: 'AffidavitSearch' },
                    { tab: 'Search Cases', content: 'CaseSearch' }
                ]
            };
        },
        async created() {
            this.loadTab = this.$route.query.tab;
            this.userType = this.$store.getters.getUserType;

        },
        mounted() {
            if (this.loadTab) {
                this.tab = parseInt(this.loadTab);
            }
        },
        methods: {
            detectMobile() {
                return ((window.innerWidth <= 600));
            }
        }
    }
</script>
