﻿<template>
    <div style="margin-top: -70px">
        <v-container fluid>
            <v-form @submit="login">
                <v-row id="serviture-col">
                    <v-col>
                        <img id="serviture-logo" src="../assets/serviture-logo.png" />
                    </v-col>
                </v-row>
                <v-row style="padding-top:20px">
                    <v-col cols="0"
                           :xl="3"
                           :lg="3"
                           :md="3">
                    </v-col>
                    <v-col cols="12"
                           :xl="6"
                           :lg="6"
                           :md="6">
                        <v-text-field v-model="username"
                                      label="User Name"
                                      outlined
                                      dense />
                    </v-col>
                    <v-col cols="0"
                           :xl="3"
                           :lg="3"
                           :md="3">
                    </v-col>
                </v-row>
                <v-row align-h="center">
                    <v-col cols="0"
                           :xl="3"
                           :lg="3"
                           :md="3">
                    </v-col>
                    <v-col cols="12"
                           :xl="6"
                           :lg="6"
                           :md="6">
                        <v-text-field v-model="password"
                                      label="Password"
                                      :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                                      :type="showPass ? 'text' : 'password'"
                                      @click:append="showPass = !showPass"
                                      outlined
                                      dense />
                    </v-col>
                    <v-col cols="0"
                           :xl="3"
                           :lg="3"
                           :md="3">
                    </v-col>
                </v-row>
                <v-row id="login-button-row" align-h="center">
                    <v-col cols="0"
                           :xl="3"
                           :lg="3"
                           :md="3">
                    </v-col>
                    <v-col cols="12"
                           :xl="6"
                           :lg="6"
                           :md="6">
                        <v-btn width="100%" id="login-button" pill size="lg" @click="login">Log In</v-btn>
                    </v-col>
                    <v-col cols="0"
                           :xl="3"
                           :lg="3"
                           :md="3">
                    </v-col>
                </v-row>
            </v-form>
        </v-container>

        <v-snackbar style="margin-top: -60px"
                    v-model="snackbar"
                    color="error"
                    :timeout="5000"
                    absolute
                    right
                    top>
            {{ errorText }}
        </v-snackbar>
    </div>
</template>

<script>
    import {
        AUTH_REQUEST//,
        //AUTH_ERROR,
        //AUTH_SUCCESS,
        //AUTH_LOGOUT
    } from "../store/actions/auth";

    export default {
        name: 'login',
        data() {
            return {
                username: '',
                password: '',
                showPass: false,
                showConfirm: false,
                errorText: '',
                snackbar: false
            }
        },
        created: function () {

        },
        mounted: function () {

        },
        methods: {
            async login(evt) {
                evt.preventDefault();
                const { username, password } = this
                this.$store.dispatch(AUTH_REQUEST, { username, password })
                    .then(() => {
                        this.$router.push('/')
                    })
                    .catch(err => {

                        this.errorText = "User name or password is incorrect.";
                        this.snackbar = true;
                        console.log(err.message);
                    });
            }
        }
    }
</script>

<style scoped>
    #login-row {
        height: 700px;
    }

    #serviture-col {
        height: 100%;
        background-color: #24989E;
        text-align: center;
    }

    #serviture-logo {
        width: 306px;
        height: 156px;
    }

    #login-button {
        background-color: #24989E !important;
        border-color: #24989E !important;
    }
</style>