﻿<template>
    <div>
        <v-container fluid>
            Logging out
        </v-container>
    </div>
</template>

<script>
    import {
        AUTH_LOGOUT
    } from "../store/actions/auth";

    export default {
        name: 'logout',
        data() {
            return {
            }
        },
        created: function () {
            this.logout();
        },
        mounted: function () {

        },
        methods: {
            logout: function () {
                this.$store.dispatch(AUTH_LOGOUT)
                    .then(() => {
                        this.$router.push('/login')
                    })
            }
        }
    }
</script>

<style scoped>
</style>