﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Affidavit PDF</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey" dark class="btn-space" @click="cancel">Back to Affidavits</v-btn>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Affidavit PDF</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey" dark class="btn-space" @click="cancel">Back to Affidavits</v-btn>
        </v-app-bar>

        <div id="affidavit-pdf-page" style="height: 100vh">
        </div>
    </div>
</template>

<script>
    import ReportingService from "../../services/reporting"
    import pdfobject from "pdfobject"

    export default {
        name: 'Home',
        components: {
        },
        data() {
            return {
                affidavitId: 0,
            };
        },
        async mounted() {            
            this.affidavitId = this.$route.params.id;
            ReportingService.getAffidavitPdf(this.affidavitId, this.$route.params.isPrintVersion).then((result) => {
                console.log(result);
                var resultBlob = new Blob([new Uint8Array(result)], { type: 'application/pdf' });
                var pdfFile = URL.createObjectURL(resultBlob);
                pdfobject.embed(pdfFile, "#affidavit-pdf-page");
            });
        },
        methods: {
            cancel() {
                this.$router.push({ name: 'home', query: { tab: 1 }});
            }
        }
    }
</script>
