﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Affidavit</v-toolbar-title>
            <v-spacer />
            <v-menu>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn color="blue-grey"
                           dark
                           v-bind="attrs"
                           v-on="on">
                        Actions
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="copyClick">Copy Details</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" v-if="showPrint" color="blue-grey" dark class="btn-space" @click="printClick">Print</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="saveClick">Save</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Affidavit</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey" dark class="btn-space" @click="copyClick">Copy Details</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="saveClick">Save</v-btn>
            <v-btn color="blue-grey" v-if="showPrint" dark class="btn-space" @click="printClick">Print</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Case Info</h2>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col>
                    <label for="client-name">Client</label>
                    <clientinput v-bind:selectedValue.sync="client"></clientinput>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col>
                    <label for="client-name">Attention</label>
                    <fieldinput v-bind:selectedValue.sync="attention"
                                v-bind:fieldType="ftContact"></fieldinput>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Client File Number</label>
                    <fieldinput v-bind:selectedValue.sync="clientFileNumber"
                                v-bind:fieldType="ftClientFileNumber"></fieldinput>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Court Date</label>
                    <v-text-field v-model="courtDate"
                                  outlined
                                  dense></v-text-field>
                </v-col>
            </v-row>
            <v-row no-gutter>
                <v-col>
                    <v-checkbox v-model="otherLocationFlag"
                                :label="'Other Location'">

                    </v-checkbox>
                </v-col>
            </v-row>
            <v-row v-if="!otherLocationFlag" dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">State</label>
                    <v-select v-model="state"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">County</label>
                    <v-select v-model="county"
                              :items="counties"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
            <v-row v-else dense>
                <v-col>
                    <label for="client-name">Location</label>
                    <fieldinput v-bind:selectedValue.sync="location"
                                v-bind:fieldType="ftOtherLocation"></fieldinput>
                </v-col>
            </v-row>
            <v-row no-gutter>
                <v-col>
                    <v-checkbox v-model="singleCaseFlag"
                                :label="'Single Case Name'">

                    </v-checkbox>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Case Name</label>
                    <fieldinput v-bind:selectedValue.sync="caseName"
                                v-bind:fieldType="ftCaseName"></fieldinput>
                </v-col>
                <v-col v-show="!singleCaseFlag" cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Vs</label>
                    <fieldinput v-bind:selectedValue.sync="vsName"
                                v-bind:fieldType="ftCaseName"></fieldinput>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label for="client-name">Case Number</label>
                    <fieldinput v-bind:selectedValue.sync="caseNumber"
                                v-bind:fieldType="ftCaseNumber"></fieldinput>
                </v-col>
            </v-row>
        </v-container>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Documents</h2>
                </v-col>
            </v-row>
            <v-row v-for="doc in documents" :key=doc.id dense align="center">
                <v-col cols="1">
                    <v-checkbox v-model="doc.checked"></v-checkbox>
                </v-col>
                <v-spacer></v-spacer>
                <v-col cols="10" v-if="doc.hasText && doc.textBefore">
                    <v-row align="center">
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            <fieldinput v-bind:selectedValue.sync="doc.text"
                                        v-bind:fieldType="ftDocText"></fieldinput>
                        </v-col>
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            {{doc.name}}
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="10" v-else-if="doc.hasText && !doc.textBefore">
                    <v-row align="center">
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            {{doc.name}}
                        </v-col>
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            <fieldinput v-bind:selectedValue.sync="doc.text"
                                        v-bind:fieldType="ftDocText"></fieldinput>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col v-else cols="10">
                    <span> {{doc.name}} </span>
                </v-col>
            </v-row>
        </v-container>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Serve Info</h2>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <label>{{affidavitEntityServed}}</label>
                    <fieldinput v-bind:selectedValue.sync="entity"
                                v-bind:fieldType="ftPersonServed"></fieldinput>
                </v-col>
            </v-row>
            <v-row dense no-gutter v-if="affidavitType == atPersonal">
                <v-col>
                    <v-checkbox v-model="isNotMarried"
                                :label="'Person served is NOT married.'">

                    </v-checkbox>
                </v-col>
            </v-row>
            <v-row dense no-gutter v-if="affidavitType == atPersonal">
                <v-col>
                    <v-checkbox v-model="isNotMilitary"
                                :label="'Person served is NOT in Military or National Guard.'">

                    </v-checkbox>
                </v-col>
            </v-row>
            <v-container v-if="affidavitType == atSubstitute">
                <v-row class="pa-2">
                    <h4>Substitute Service Upon</h4>
                </v-row>
                <v-row>
                    <v-col>
                        <fieldinput v-bind:selectedValue.sync="careOf"
                                    v-bind:fieldType="ftPersonServed"
                                    v-bind:fieldLabel="'Name'"></fieldinput>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <fieldinput v-bind:selectedValue.sync="relationship"
                                    v-bind:fieldType="ftRelationship"
                                    v-bind:fieldLabel="'Relationship'"></fieldinput>
                    </v-col>
                </v-row>
            </v-container>
            <v-container v-if="affidavitType == atCompany">
                <v-row>
                    <h4>Corporation Service Upon</h4>
                </v-row>
                <v-row>
                    <v-radio-group v-model="corpType"
                                   row>
                        <v-radio class="pa-2" label="Served officer, director, managing agent or registered agent name"
                                 value="Officer"></v-radio>
                        <v-radio class="pa-2" label="Served person apparently in charge of office or officer, director, or managing agent name"
                                 value="Person"></v-radio>
                    </v-radio-group>
                </v-row>
                <v-col>
                    <fieldinput v-bind:selectedValue.sync="careOf"
                                v-bind:fieldType="ftPersonServed"
                                v-bind:fieldLabel="'Care Of'"></fieldinput>
                </v-col>
            </v-container>
        </v-container>
        <v-container v-if="affidavitType != atReasonable">
            <v-row>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-text-field label="Date and Time of Service"
                                  v-model="successfulAttempt.dateServed"
                                  outlined
                                  dense></v-text-field>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <fieldinput v-bind:selectedValue.sync="successfulAttempt.otherInfo"
                                v-bind:fieldType="ftDocOther"
                                v-bind:fieldLabel="'Other Info'"></fieldinput>
                </v-col>
            </v-row>
        </v-container>
        <v-container>
            <v-row>
                <v-col>
                    <h3>Address(es)</h3>
                </v-col>
            </v-row>
            <addressinput v-for="(address, index) in addresses" :key="index"
                          v-bind:index="index"
                          v-bind:addressSelected.sync="address.fullAddress"
                          v-on:remove="addresses.splice(index,1)"></addressinput>
            <v-row>
                <v-col>
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           @click="addAddress">Add Address</v-btn>
                </v-col>
            </v-row>
        </v-container>

        <!-- Unsuccessful Attempts -->

        <v-container v-if="showUnsuccessful || affidavitType == atSubstitute || affidavitType == atReasonable || affidavitType == atMailing">
            <v-row>
                <v-col>
                    <h3>Unsuccessful Attempts</h3>
                </v-col>

            </v-row>
            <attempt v-for="(attempt, attemptindex) in unsuccessfulAttempts" :key="attempt.id"
                     v-bind:attemptProp.sync="attempt"
                     v-on:remove-attempt="unsuccessfulAttempts.splice(attemptindex,1)"></attempt>
            <v-row>
                <v-col>
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           @click="addAttempt">Add Attempt</v-btn>
                </v-col>
            </v-row>
        </v-container>


        <v-container v-if="affidavitType == atReasonable">
            <v-row class="pb-3">
                <h4>Reasons to Believe</h4>
            </v-row>
            <v-row v-for="reason in reasons" :key=reason.id dense align="center" class="mt-n7">
                <v-col cols="2">
                    <v-checkbox v-model="reason.checked"></v-checkbox>
                </v-col>
                <v-col cols="10">
                    {{reason.value}}
                </v-col>
            </v-row>
        </v-container>
        <v-container>
            <v-row>
                <v-col>
                    <h3>Other Info</h3>
                </v-col>
            </v-row>

            <v-row dense>
                <v-col v-if="!showContractorUser"
                       cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <serverinput v-bind:selectedServerValue.sync="server"></serverinput>
                </v-col>
                <v-col v-if="showContractorUser"
                       cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <contractorinput v-bind:selectedValue.sync="contractorUser"
                                     :contractorId="server.id"></contractorinput>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-text-field label="Charge"
                                  v-model="charge"
                                  outlined
                                  dense></v-text-field>
                </v-col>
            </v-row>

            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Notary State"
                              v-model="notaryState"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Notary County"
                              v-model="notaryCounty"
                              :items="notaryCounties"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Signatory State"
                              v-model="signatoryState"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
        </v-container>

        <SuccessSnackbar v-bind:openSnack.sync="copySuccess"
                         v-bind:text="`Copied the affidavit details.`"></SuccessSnackbar>
    </div>
</template>

<script>
    import attempt from "../../partials/attempt"
    import serverinput from "../../partials/server-input"
    import contractorinput from "../../partials/contractor-input"
    import addressinput from "../../partials/address-input"
    import fieldinput from "../../partials/field-input"
    import clientinput from "../../partials/client-input"
    import FieldType from "../../constants/fieldType"
    import States from "../../constants/states"
    import AffidavitType from "../../constants/affidavitType"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import { fieldMixins } from "../../mixins/fieldMixins"
    import { COPY_SERVE } from "../../store/actions/shared"
    import SuccessSnackbar from "../../partials/snackbar-success"

    export default {
        name: 'Case',
        components: {
            fieldinput,
            addressinput,
            serverinput,
            contractorinput,
            attempt,
            clientinput,
            SuccessSnackbar
        },
        mixins: [fieldMixins],
        props: {
        },
        watch: {
            client: function (newValue) {
                if (typeof newValue == "string") {
                    this.client = this.newClientValue(newValue)
                }
            },
            attention: function (newValue) {
                if (typeof newValue == "string") {
                    this.attention = this.newFieldValue(newValue, this.ftContact)
                }
            },
            clientFileNumber: function (newValue) {
                if (typeof newValue == "string") {
                    this.clientFileNumber = this.newFieldValue(newValue, this.ftClientFileNumber)
                }
            },
            location: function (newValue) {
                if (typeof newValue == "string") {
                    this.location = this.newFieldValue(newValue, this.ftOtherLocation)
                }
            },
            caseName: function (newValue) {
                if (typeof newValue == "string") {
                    this.caseName = this.newFieldValue(newValue, this.ftCaseName)
                }
            },
            vsName: function (newValue) {
                if (typeof newValue == "string") {
                    this.vsName = this.newFieldValue(newValue, this.ftCaseName)
                }
            },
            caseNumber: function (newValue) {
                if (typeof newValue == "string") {
                    this.caseNumber = this.newFieldValue(newValue, this.ftCaseNumber)
                }
            },
            entity: function (newValue) {
                if (typeof newValue == "string") {
                    this.entity = this.newFieldValue(newValue, this.ftPersonServed)
                }
            },
            careOf: function (newValue) {
                if (typeof newValue == "string") {
                    this.careOf = this.newFieldValue(newValue, this.ftPersonServed)
                }
            },
            relationship: function (newValue) {
                if (typeof newValue == "string") {
                    this.relationship = this.newFieldValue(newValue, this.ftRelationship)
                }
            },
            state: function (value) {                
                this.counties = this.getCountiesForState(value);
            },
            notaryState: function (value) {
                this.notaryCounties = this.getCountiesForState(value);
            },
            contractorUser: function (newValue) {
                if (typeof newValue == "string") {
                    var conUser = {
                        name: newValue,
                        isDeleted: false,
                        contractorId: parseInt(this.$store.getters.getUserId),
                        id: 0
                    };
                    this.contractorUser = conUser;
                }
            },
            async corpType(value) {
                var searchRequest = {
                        UserContext: {
                            CompanyId: parseInt(this.$store.getters.getCompanyId)
                        },
                        PageSize: 10, 
                        PageIndex: 0,
                        Value: value,
                        FieldType: this.ftRelationship
                    };
                let searchResults = await RestServices.search(Services.FIELD, searchRequest);

                if (searchResults.totalResults == 1) {
                    this.relationship = searchResults.results[0];
                } else {
                    this.relationship = this.newFieldValue(value, this.ftRelationship)
                }
            }
        },
        computed: {
            showContractorUser() {
                if (this.server && this.server.userType === 3) {
                    return true;
                }
                return false;
            }
        },
        async created() {
            window.scrollTo(0, 0);

            this.affidavitId = this.$route.params.id;
            this.documents = await this.getDocumentsForUser();
            this.reasons = await RestServices.getAll(Services.REASON);
            await this.loadAffidavit();

        },
        methods: {
            hasErrors() {
            },
            async saveClick() {
                await this.save();                
                this.$router.push({ name: 'home', query: { tab: 1 } });
            },
            async printClick() {
                await this.save();
                this.$router.push({ name: 'affidavitPdf', params: { id: this.affidavitId, isPrintVersion: true } });
            },
            async save() {
                let abss = [];
                this.addresses.forEach((address) => {
                    abss.push({ StreetAddress: address.fullAddress });
                });

                var mappedDocs = [];
                this.documents.forEach((doc) => {
                    if (doc.checked) {
                        let mappedDoc = {
                            DocumentId: doc.id
                        }

                        if (doc.text) {
                            if (typeof doc.text == "string") {
                                var textField = this.newFieldValue(doc.text, this.ftDocText);
                                mappedDoc.DocumentText = textField;
                            } else {
                                mappedDoc.DocumentText = doc.text;
                            }
                        }

                        mappedDocs.push(mappedDoc);
                    }
                });

                var mappedReasons = [];
                this.reasons.forEach((reason) => {
                    if (reason.checked) {
                        let mappedReason = {
                            ReasonId: reason.id,
                            AffidavitId: parseInt(this.affidavitId)
                        }

                        mappedReasons.push(mappedReason);
                    }
                });

                if (this.affidavitType != this.atReasonable) {
                    this.successfulAttempt.isSuccess = true;
                    this.unsuccessfulAttempts.push(this.successfulAttempt);
                }

                var mappedAttempts = [];
                this.unsuccessfulAttempts.forEach((attempt) => {
                    let mappedAttempt = {
                        IsSuccess: attempt.isSuccess,
                        DateServed: attempt.dateServed
                    };

                    if (attempt.otherInfo) {
                        if (typeof attempt.otherInfo == "string") {
                            var textField = this.newFieldValue(attempt.otherInfo, this.ftDocOther);
                            mappedAttempt.OtherInfo = textField;
                        } else {
                            mappedAttempt.OtherInfo = attempt.otherInfo;
                        }
                    }

                    mappedAttempts.push(mappedAttempt);
                });

                

                let affidavitMapped = {
                    AffidavitType: this.affidavitType,
                    InvoiceNumber: this.invoiceNumber,
                    Client: this.client,
                    CaseNum: this.caseNumber,
                    Contact: this.attention,
                    CaseName: this.caseName,
                    Defendant: this.vsName,
                    County: this.county,
                    State: this.state,
                    OtherLocation: this.location,
                    FileNum: this.clientFileNumber,
                    CourtDate: this.courtDate,

                    CareOf: this.careOf,
                    Relationship: this.relationship,

                    IsNotMarried: this.isNotMarried,
                    isNotMilitary: this.isNotMilitary,

                    ServeId: this.serveId,
                    Entity: this.entity,
                    Server: this.server,
                    ContractorUser: this.contractorUser,
                    Charge: parseFloat(this.charge),
                    SigState: this.signatoryState,
                    NotaryState: this.notaryState,
                    NotaryCounty: this.notaryCounty,
                    UpdatedOn: new Date().toISOString(),
                    UpdatedBy: parseInt(this.$store.getters.getUserId),

                    Addresses: abss,
                    Documents: mappedDocs,
                    Attempts: mappedAttempts,
                    Reasons: mappedReasons
                }

                console.log('Saving affidavit');
                console.log(affidavitMapped);

                await RestServices.updateMapped(Services.AFFIDAVIT, this.affidavitId, affidavitMapped);
            },
            async loadAffidavit() {
                let result = await RestServices.getMapped(Services.AFFIDAVIT, this.affidavitId);

                console.log('loading affidavit')
                console.log(result)

                this.affidavitType = result.affidavitType;

                switch (result.affidavitType) {
                    case 0:
                        this.affidavitEntityServed = 'Person Served';
                        break;
                    case 1:
                        this.affidavitEntityServed = 'Person to be Served';
                        this
                        break;
                    case 2:
                        this.affidavitEntityServed = 'Person/Business to be Served';
                        break;
                    case 3:
                    default:
                        this.affidavitEntityServed = 'Corporation or LLC Served';
                        break;
                }

                this.client = result.client;

                if (result.client) {
                    this.showUnsuccessful = result.client.showUnsuccessful;
                } else {
                    this.showUnsuccessful = true;
                }

                this.invoiceNumber = result.invoiceNumber;
                this.serveId = result.serveId;
                this.caseNumber = result.caseNum;
                this.attention = result.contact;
                this.caseName = result.caseName;
                this.vsName = result.defendant;
                this.location = result.otherLocation;
                this.clientFileNumber = result.fileNum;
                this.county = result.county;
                this.state = result.state;
                this.courtDate = result.courtDate;

                if (this.location) {
                    this.otherLocationFlag = true;
                }

                if (!this.vsName) {
                    this.singleCaseFlag = true;
                }

                if (result.charge) {
                    this.charge = result.charge;
                }

                this.county = result.county;
                this.state = result.state;
                this.courtDate = result.courtDate;

                this.entity = result.entity;
                this.server = result.server;
                this.contractorUser = result.contractorUser;

                this.careOf = result.careOf;
                this.relationship = result.relationship;

                this.isNotMarried = result.isNotMarried;
                this.isNotMilitary = result.isNotMilitary;

                this.notaryState = result.notaryState;
                this.notaryCounty = result.notaryCounty;
                this.signatoryState = result.sigState;

                if (result.relationship && (result.relationship.value == 'Officer' || result.relationship.value == 'Person')) {
                    this.corpType = result.relationship.value;
                }

                result.addresses.forEach((address) => {
                    this.addresses.push({ fullAddress: address.streetAddress });
                });

                result.attempts.forEach((attempt) => {
                    if (attempt.isSuccess) {
                        this.successfulAttempt = attempt;
                    } else {
                        this.unsuccessfulAttempts.push(attempt);
                    }
                });

                let resultDocs = result.documents;
                if (result.documents.length > 0) {
                    this.documents.forEach((document) => {
                        var result = resultDocs.find(x => x.documentId === document.id);
                        if (result) {
                            document.checked = true;
                            if (result.documentText) {
                                document.text = result.documentText;
                            }
                        }
                    });
                }

                let resultReasons = result.reasons;
                if (result.reasons.length > 0) {
                    this.reasons.forEach((reason) => {
                        var result = resultReasons.find(x => x.reasonId === reason.id);
                        if (result) {
                            reason.checked = true;
                        }
                    });
                }

                this.showPrint = true;
            },
            async getDocumentsForUser() {
                try {
                    let result = await RestServices.getByUser(Services.DOCUMENT_BY_USER, this.$store.getters.getUserId);
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            addAddress() {
                this.addresses.push({ fullAddress: '' });
            },
            addAttempt() {
                this.unsuccessfulAttempts.push({ dateServed: null, isSuccess: false, otherInfo: null });
            },
            copyClick() {
                if (this.serveId > 0) {
                    this.copySuccess = true;
                    this.$store.dispatch(COPY_SERVE, this.serveId);
                } else {
                    alert('No serve info');
                }
            },
            cancel() {
                this.$router.push({ name: 'home', query: { tab: 1 } });
            }
        },
        data() {
            return {
                affidavitId: 0,
                affidavitType: 0,
                serveId: 0,

                invoiceNumber: '',
                client: null,
                attention: null,
                clientFileNumber: null,
                courtDate: null,
                county: null,
                state: null,
                location: null,

                caseName: null,
                vsName: null,
                caseNumber: null,

                entity: null,
                careOf: null,
                relationship: null,

                documents: [],
                addresses: [],

                successfulAttempt: {},
                unsuccessfulAttempts: [],

                server: null,
                contractorUser: null,
                charge: 0,
                notaryState: null,
                notaryCounty: null,
                signatoryState: null,

                otherLocationFlag: false,
                singleCaseFlag: false,
                showUnsuccessful: false,
                isEdit: false,

                states: States.STATES,
                counties: [],
                notaryCounties: [],

                ftClient: FieldType.CLIENT,
                ftContact: FieldType.CONTACT,
                ftCounty: FieldType.COUNTY,
                ftCaseName: FieldType.CASE_NAME,
                ftCaseNumber: FieldType.CASE_NUM,
                ftClientFileNumber: FieldType.CLIENT_FILE_NUM,
                ftOtherLocation: FieldType.OTHER_LOCATION,
                ftDocText: FieldType.DOC_OTHER,
                ftPersonServed: FieldType.PERSON_SERVED,
                ftDocOther: FieldType.DOC_OTHER,
                ftRelationship: FieldType.RELATIONSHIP,

                WI_Counties: States.WISCONSIN_COUNTIES,

                atPersonal: AffidavitType.PERSONAL,
                atSubstitute: AffidavitType.SUBSTITUTE,
                atReasonable: AffidavitType.REASONABLE,
                atCompany: AffidavitType.COMPANY,
                atMailing: AffidavitType.MAILING,

                snackbar: false,
                errorText: '',
                corpType: null,
                affidavitEntityServed: '',

                isNotMilitary: false,
                isNotMarried: false,

                reasons: [],

                copySuccess: false,
                showPrint: false
            }
        }

    }
</script>

<style scoped>
    .btn-space {
        margin: 0px 10px 0px 10px;
    }
</style>