﻿@page
@model Serviture.AffidavitTemplateServerCopyModel
@{
    //This does work, but the issue is the @page directive that marks it as a Razor Page. And Razor Pages work differently than Razor Views. See this other SO solution for a way to add the Model to a Razor Page: https://stackoverflow.com/questions/46540358/render-a-razor-page-to-string/49275145#49275145
    var affidavitViewModel = Html.ViewData.Model;
    var otherInfoString = string.Empty;
}

<div id="affidavit-page-three" style="min-height:29.7cm;">

    <div id="aff-header" style="height: 2.376cm">
        <table width="100%" style="font-size: 90%;">
            <tbody>
                <tr>
                    @if (!string.IsNullOrEmpty(affidavitViewModel.Affidavit.CourtDate))
                    {
                        <td width="15%" style="font-weight: bold;"> Court Date:</td>
                    }
                    else
                    {
                        <td width="15%"></td>
                    }
                    <td width="18%">@affidavitViewModel.Affidavit.CourtDate</td>
                    <td width="33%" style="font-weight: bold; text-align: center;">Professional Process Servers</td>
                    <td width="33%" style="font-weight: bold; text-align: right">INVOICE NO. @affidavitViewModel.Affidavit.InvoiceNumber</td>
                </tr>
                <tr>
                    @if (affidavitViewModel.Affidavit.FileNum != null)
                    {
                        <td width="15%" style="font-weight: bold;">Client File Number:</td>
                    }
                    else
                    {
                        <td width="15%" style="font-weight: bold;"></td>
                    }
                    <td width="18%">@affidavitViewModel.Affidavit.FileNum?.Value</td>
                    <td width="33%" style="font-weight: bold; text-align: center;">250 E Wisconsin Ave, 18th Floor</td>
                    @if (affidavitViewModel.Affidavit.OtherLocation == null)
                    {
                        <td width="33%" style="font-weight: bold; text-align: right">State of @affidavitViewModel.Affidavit.State</td>
                    }
                    else
                    {
                        <td width="33%" style="font-weight: bold; text-align: right">@affidavitViewModel.Affidavit.OtherLocation?.Value</td>
                    }
                </tr>
                <tr>
                    <td width="15%"></td>
                    <td width="18%"></td>
                    <td width="33%" style="font-weight: bold; text-align: center; ">Milwaukee, WI 53202</td>
                    @if (affidavitViewModel.Affidavit.OtherLocation == null)
                    {
                        <td width="33%" style="font-weight: bold; text-align: right">County of @affidavitViewModel.Affidavit.County</td>
                    }
                    else
                    {
                        <td width="33%"></td>
                    }
                </tr>
            </tbody>

        </table>
    </div>

    <div id="aff-type-info" style="text-align: center; font-weight: bold; height: 1.485cm; padding-top: 10px" width="100%">
        <h3>@affidavitViewModel.AffidavitTitle</h3>
    </div>

    <!-- ************************ Affidavit Info - Client and Case info ************************ -->

    <div id="aff-case-info" style="height: 2.376cm" width="100%">
        <table width="100%" style="font-size: 95%;">
            <tr>
                <td width="15%" style="font-weight: bold; font-style: italic; padding-bottom: 10px">Client:</td>
                <td width="35%" style="font-style: italic; padding-bottom: 10px">@affidavitViewModel.Affidavit.Client?.ClientName</td>
                @if (affidavitViewModel.Affidavit.Contact != null)
                {
                    <td width="5%" style="font-weight: bold; font-style: italic; padding-bottom: 10px">Attn:</td>
                }
                else
                {
                    <td width="5%" style="font-weight: bold; font-style: italic; padding-bottom: 10px"></td>
                }
                <td width="35%" style="font-style: italic; padding-bottom: 10px">@affidavitViewModel.Affidavit.Contact?.Value</td>
            </tr>
            <tr>
                <td width="15%" style="font-weight: bold;">Case Name:</td>
                <td width="35%">@affidavitViewModel.Affidavit.CaseName?.Value</td>
                @if (@affidavitViewModel.Affidavit.Defendant != null)
                {
                    <td width="5%" style="font-weight: bold;">Vs</td>
                    <td width="35%">@affidavitViewModel.Affidavit.Defendant?.Value</td>
                }
            </tr>
            <tr>
                @if (affidavitViewModel.Affidavit.CaseNum != null)
                {
                    <td width="15%" style="font-weight: bold">Case Number:</td>
                }
                else
                {
                    <td width="5%"></td>
                }
                <td width="35%">@affidavitViewModel.Affidavit.CaseNum?.Value</td>
                <td width="5%"></td>
                <td width="35%"></td>
            </tr>

        </table>
    </div>

    <div id="docs-served" style="font-size: 95%; height: 2.97cm" width="100%">
        <p><b>Documents to be Served:</b></p>
        <p>@affidavitViewModel.DocumentsString</p>
    </div>

    <div style="height: 5.455cm; padding-bottom: 5px" width="100%">
        <table width="100%" style="font-size: 95%;">
            <tr>
                <td width="25%" style="font-weight: bold;">@affidavitViewModel.EntityServedLabel</td>
                <td width="75%">@affidavitViewModel.Affidavit.Entity?.Value</td>
            </tr>
            @if (affidavitViewModel.Affidavit.AffidavitType == Models.AffidavitType.Substitute || affidavitViewModel.Affidavit.AffidavitType == Models.AffidavitType.Company)
            {
                <tr>
                    <td width="25%" style="font-weight: bold">@affidavitViewModel.CareOfLabel</td>
                    <td width="75%">@affidavitViewModel.Affidavit.CareOf?.Value</td>
                </tr>
            }
            @if (affidavitViewModel.Affidavit.AffidavitType == Models.AffidavitType.Substitute)
            {
                <tr>
                    <td width="25%" style="font-weight: bold;">Relationship to Intended:</td>
                    <td width="75%">@affidavitViewModel.Affidavit.Relationship?.Value</td>

                </tr>
            }
            <tr>
                <td width="25%" style="font-weight: bold;">@affidavitViewModel.AddressServedLabel</td>
                <td width="75%">@affidavitViewModel.AddressesString</td>
            </tr>
            @if (affidavitViewModel.Affidavit.AffidavitType != Models.AffidavitType.Reasonable)
            {

                <tr>
                    <td width="25%" style="font-weight: bold;">Date and Time Served:</td>
                    <td width="75%">@affidavitViewModel.SuccessfulAttempt.DateServed</td>
                </tr>

                @if (affidavitViewModel.Affidavit.AffidavitType != Models.AffidavitType.Substitute)
                {
                    otherInfoString = @affidavitViewModel.SuccessfulAttempt.OtherInfo?.Value;

                    if (!string.IsNullOrEmpty(otherInfoString) && !otherInfoString.EndsWith("."))
                    {
                        otherInfoString += ".";
                    }

                    if (affidavitViewModel.Affidavit.IsNotMarried)
                    {
                        otherInfoString += $" {@affidavitViewModel.Affidavit.Entity?.Value} advised affiant they are not married.";
                    }

                    if (affidavitViewModel.Affidavit.IsNotMilitary)
                    {
                        otherInfoString += $" {@affidavitViewModel.Affidavit.Entity?.Value} advised affiant they are not in the Military or National Guard.";
                    }

                    <tr>
                        <td width="25%" style="font-weight: bold;">Other Pertinent Information:</td>
                        <td width="75%">@otherInfoString</td>
                    </tr>
                }
            }
        </table>
    </div>

    <div style="height: 10.91cm; font-size: 95%;" width="100%">
        @if (affidavitViewModel.ShowAttempts)
        {
            <div style="padding-bottom: 10px"><b>Unsuccessful Attempts:</b></div>
            <table width="100%">
                @foreach (var attempt in affidavitViewModel.Affidavit.Attempts)
                {
                    if (!attempt.IsSuccess || affidavitViewModel.Affidavit.AffidavitType == Models.AffidavitType.Substitute)
                    {
                        <tr>
                            <td valign="top" width="20%">@attempt.DateServed</td>
                            <td valign="top" width="80%">@attempt.OtherInfo?.Value</td>
                        </tr>
                    }
                }
            </table>
        }
    </div>

    <div style="height: 2.376cm; font-size: 95%">
        @if (affidavitViewModel.Affidavit.AffidavitType != Models.AffidavitType.Reasonable)
        {
            <p>
                I certify that I am an adult resident of the State of <b>@affidavitViewModel.Affidavit.SigState</b>, not a party to this action, and
                that I served the document upon the person at the place on the date and at the time stated above.
            </p>
        }
        @if (affidavitViewModel.Affidavit.AffidavitType == Models.AffidavitType.Reasonable)
        {
            <div>
                <b>Reason(s) to believe person or business could be served at this(these) address(es):</b> @affidavitViewModel.ReasonsString
                <br />
                <br />
                I certify that despite reasonable diligence the above-named person could not be personally served.
            </div>
        }
    </div>

    <div style="height: 4.752cm" width="100%">
        <table style="font-weight: bold;" width="100%">
            <tr width="100%">
                <td width="60%">PROCESS SERVER'S NAME: @affidavitViewModel.ProcessServerName</td>
                <td width="40%" style="text-align: right"></td>
            </tr>
            <tr>
                <td width="60%">Fee for service: $@affidavitViewModel.Affidavit.Charge</td>
                <td width="40%" style="text-align: right"></td>
            </tr>
            <tr width="100%">
                <td width="60%"></td>
                <td width="40%" style="text-align: right">Process Server Copy</td>
            </tr>
        </table>
    </div>
</div>


