﻿@page
@model Serviture.Pages.Templates.PrintAttemptsAndFilesModel
@{
    //This does work, but the issue is the @page directive that marks it as a Razor Page. And Razor Pages work differently than Razor Views. See this other SO solution for a way to add the Model to a Razor Page: https://stackoverflow.com/questions/46540358/render-a-razor-page-to-string/49275145#49275145
    var attemptReportModel = Html.ViewData.Model;
    var printStyle = "min-height:29.7cm;";
    var base64 = string.Empty;
    var imgSrc = string.Empty;
}

<div id="attempt-report-page" style="@printStyle">
    <div style="padding-bottom: 10px"><h2>Attempts</h2></div>
    <table width="100%">
        @foreach (var attempt in attemptReportModel.Attempts)
        {
            <tr>
                <td valign="top" width="20%">@attempt.DateServed</td>
                <td valign="top" width="80%">@attempt.OtherInfo?.Value</td>
            </tr>
        }
    </table>

    <div style="padding-bottom: 10px"><h2>Attachments</h2></div>
    <table width="100%">
        @foreach (var file in attemptReportModel.Files)
        {
            base64 = Convert.ToBase64String(file.FileData);
            imgSrc = String.Format($"data:{file.FileType};base64,{base64}");
            <tr style="padding-bottom: 40px">
                <td>
                    <img src="@imgSrc">
                </td>
            </tr>
        }
    </table>
</div>