﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Users</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey"
                   dark
                   class="btn-space"
                   @click="addUser">Add User</v-btn>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Users</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey"
                   dark
                   class="btn-space"
                   @click="addUser">Add User</v-btn>
        </v-app-bar>

        <div style="padding: 10px 0px 0px 10px">
            User Online: {{usersOnline}}
        </div>

        <dynamictable v-bind:searchresult="searchResult"
                      v-bind:tableFields="userTableFields"
                      v-bind:tableActions="userTableActions"
                      v-bind:showSearchTerm="true"
                      @search-event="searchEvent"
                      @edit-user="editUser"
                      @delete-user="deleteUser"></dynamictable>
    </div>
</template>

<script>
    import TableConstants from "../../constants/table/index"
    import UserService from "../../services/user"
    import dynamictable from "../../partials/dynamic-table"
    import moment from "moment"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"

    export default {
        name: 'Home',
        components: {
            dynamictable
        },
        data() {
            return {
                searchResult: {},
                userTableFields: ['isOnline', 'userType', 'fullName', 'entityName', 'userName'],
                usersOnline: 0,
                userTableActions: [
                    { name: 'Edit', action: 'edit-user' },
                    { name: 'Delete', action: 'delete-user' }
                ]
            }
        },
        props: {
            msg: String
        },
        async created() {
            this.loadPage();
        },
        methods: {
            async loadPage() {
                var searchRequest = {
                    UserContext: {},
                    PageSize: TableConstants.INITIAL_PAGE_SIZE,
                    PageIndex: 0,
                    IsDeleted: false
                };

                await this.searchEvent(searchRequest);
            },
            mapUsers(results) {
                this.usersOnline = 0;

                var mappedUsers = [];

                results.forEach((result) => {
                    var mappedUser = result;
                    mappedUser.fullName = !result.firstName ? '' : result.firstName + ' ' + result.lastName;

                    var lastActionTime = moment.utc(result.lastActionOn).valueOf();
                    //Made an action in the last 5 minutes
                    if (lastActionTime > (Date.now() - 300000)) {
                        mappedUser.isOnline = "O";
                        this.usersOnline++;
                    }
                    //Made an action in the last 10 minutes
                    else if (lastActionTime > (Date.now() - 600000))
                    {
                        mappedUser.isOnline = "Idle";
                    }
                    else
                    {
                        mappedUser.isOnline = "X";
                    }

                    switch (result.userType) {
                        case 1:
                            mappedUser.userType = 'Serviture';
                            break;
                        case 2:
                            mappedUser.userType = 'Client';
                            break;
                        case 3:
                            mappedUser.userType = 'Contractor';
                            break;
                    }
                    mappedUsers.push(mappedUser);
                });

                return mappedUsers;
            },
            async searchEvent(searchParams) {
                try {
                    searchParams.UserContext.CompanyId = 1;
                    let searchResults = await UserService.searchUsers(searchParams);
                    var mappedUsers = this.mapUsers(searchResults.results);
                    searchResults.results = mappedUsers;
                    this.searchResult = searchResults;
                } catch (ex) {
                    console.log(ex);
                }
            },
            addUser() {
                this.$router.push({ name: 'user-add-edit', params: { userId: 0 } });
            },
            editUser(data) {
                this.$router.push({ name: 'user-add-edit', params: { userId: data } });
            },
            async deleteUser(data) {
                await RestServices.delete(Services.USER, data);
                this.loadPage();
            }
        }
    }
</script>

<style scoped>
</style>