﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>{{userTitle}}</v-toolbar-title>
            <v-spacer />
            <v-menu>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn color="blue-grey"
                           dark
                           v-bind="attrs"
                           v-on="on">
                        Actions
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="save">Save</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>{{userTitle}}</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey"
                   dark
                   class="btn-space"
                   @click="save">Save</v-btn>
            <v-btn color="blue-grey"
                   dark
                   class="btn-space"
                   @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-container>
            <v-form ref="userForm">
                <v-row v-show="userId == 0">
                    <v-col>
                        <h4>User Type</h4>
                        <v-radio-group v-model="userTypeSelected"
                                       row>
                            <v-radio label="Serviture"
                                     :value="1">
                            </v-radio>
                            <v-radio label="Client"
                                     :value="2">
                            </v-radio>
                            <v-radio label="Contractor"
                                     :value="3">
                            </v-radio>
                        </v-radio-group>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field v-model="email"
                                      label="Email"
                                      :rules="[rules.required, rules.email]"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field v-model="userName"
                                      label="User Name"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                </v-row>

                <v-row v-if="userTypeSelected == 1">
                    <v-col>
                        <v-text-field v-model="firstName"
                                      label="First Name"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field v-model="lastName"
                                      label="Last Name"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                </v-row>

                <v-row v-if="userTypeSelected == 2">
                    <v-col>
                        <v-select label="Client Account"
                                  v-model="client"
                                  :items="clients"
                                  item-text="clientName"
                                  return-object
                                  dense
                                  outlined></v-select>
                    </v-col>
                    <v-col>
                    </v-col>
                </v-row>

                <v-row v-if="userTypeSelected == 3">
                    <v-col>
                        <v-text-field v-model="entityName"
                                      label="Contractor Name"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                    <v-col>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col>
                        <v-text-field v-model="password"
                                      :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                                      :rules="userId == 0 ? [rules.required, rules.min] : [rules.min2]"
                                      :type="showPass ? 'text' : 'password'"
                                      label="Password"
                                      hint="Password should be at least 8 characters"
                                      @click:append="showPass = !showPass"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field v-model="confirmPassword"
                                      :append-icon="showConfirm ? 'mdi-eye' : 'mdi-eye-off'"
                                      :rules="password != '' && password != confirmPassword ? ['Must match'] : []"
                                      :type="showConfirm ? 'text' : 'password'"
                                      @click:append="showConfirm = !showConfirm"
                                      label="Confirm Password"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                </v-row>


                <v-row v-if="userTypeSelected == 1">
                    <v-col>
                        <v-checkbox v-model="userIsAdmin"
                                    label="Is Admin User">
                        </v-checkbox>
                    </v-col>
                    <v-col>
                        <v-checkbox v-model="userCanEdit"
                                    label="User Can Edit">
                        </v-checkbox>
                    </v-col>
                </v-row>
            </v-form>

            <v-row v-if="userTypeSelected == 3">
                <v-col>
                    <h4>Contractor Users</h4>
                </v-col>
                <v-col>
                    <v-btn outlined
                           color="blue-grey"
                           @click="addUser">Add User</v-btn>
                </v-col>
            </v-row>

            <div v-if="userTypeSelected == 3">
                <v-row v-for="(cUser, index) in contractorUsers" :key="index">
                    <v-col>
                        <v-text-field label="Name"
                                      v-model="cUser.name"
                                      outlined
                                      dense></v-text-field>
                    </v-col>
                    <v-col>
                        <v-btn class="ma-1"
                               outlined
                               color="red"
                               @click="contractorUsers.splice(index,1)">Remove User</v-btn>
                    </v-col>
                </v-row>
            </div>
        </v-container>
    </div>
</template>

<script>
    import UserService from "../../services/user"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"

    export default {
        name: 'Home',
        props: {
            msg: String,
        },
        data() {
            return {
                valid: true,

                userTitle: 'User Add',
                clients: [],
                client: null,

                contractorUsers: [],

                userId: 0,
                email: null,
                firstName: null,
                lastName: null,
                userName: null,
                entityName: null,
                password: null,
                confirmPassword: null,
                userTypeSelected: 1,
                userIsAdmin: false,
                userCanEdit: false,

                showPass: false,
                showConfirm: false,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => !v || v.length >= 8 || 'Min 8 characters',
                    min2: v => !v || v.length == 0 || v.length >= 8 || 'Min 8 characters',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    }
                }
            }
        },
        watch: {
            client(value) {
                console.log(value);
            }
        },
        async created() {
            this.clients = await RestServices.getAll(Services.CLIENT);

            this.userId = this.$route.params.userId;
            if (this.userId > 0) {
                this.userTitle = 'User Edit';
                var user = await UserService.getUser(this.userId);
                this.userTypeSelected = user.userType;
                this.userName = user.userName;
                this.email = user.email;

                switch (this.userTypeSelected) {
                    case 1:
                        this.firstName = user.firstName;
                        this.lastName = user.lastName;
                        this.userIsAdmin = user.isAdmin;
                        this.userCanEdit = user.canEdit;
                        break;
                    case 2:
                        this.entityName = user.entityName;
                        this.client = this.clients.find(c => c.id == user.companyId);
                        break;
                    case 3:
                        var searchCUs = await RestServices.search(Services.CONTRACTOR_USER, { ContractorId: parseInt(this.userId), IsDeleted: false, PageSize: 50, PageIndex: 0 });
                        this.contractorUsers = searchCUs.results;
                        this.entityName = user.entityName;
                        break;
                }
            }
        },
        methods: {
            addUser() {
                this.contractorUsers.push({ name: '' });
            },
            async save() {
                this.valid = this.$refs.userForm.validate();
                if (this.valid) {
                    var saveUser = {
                        FirstName: this.firstName,
                        LastName: this.lastName,
                        EntityName: this.userTypeSelected === 2 ? this.client.clientName : this.entityName,
                        UserType: this.userTypeSelected,
                        Email: this.email,
                        CompanyId: this.userTypeSelected === 2 ? this.client.id : parseInt(this.$store.getters.getCompanyId),
                        UserName: this.userName,
                        IsDeleted: false,
                        Password: this.password,
                        IsAdmin: this.userIsAdmin,
                        CanEdit: this.userCanEdit
                    }

                    console.log(saveUser);

                    if (this.userId > 0) {
                        saveUser.UpdatedOn = new Date().toISOString();
                        saveUser.UpdatedBy = parseInt(this.$store.getters.getUserId);
                        await RestServices.update(Services.USER, this.userId, saveUser);
                    } else {
                        saveUser.CreatedOn = new Date().toISOString();
                        saveUser.CreatedBy = parseInt(this.$store.getters.getUserId);
                        this.userId = await RestServices.create(Services.USER, saveUser);
                    }

                    if (this.userTypeSelected === 3) {
                        await RestServices.upsertById(Services.CONTRACTOR_USER, this.userId, this.contractorUsers);
                    }

                    this.$router.push({ name: 'user-management' });
                }
            },
            cancel() {
                this.$router.push({ name: 'user-management' });
            }
        }
    }
</script>

<style scoped>
    .btn-space {
        margin: 0px 10px 0px 10px;
    }
</style>
