﻿<template>
    <v-dialog v-model="dialog"
              fullscreen
              hide-overlay
              transition="dialog-bottom-transition">
        <v-card>
            <v-container fluid pa-0>
                <v-app-bar>
                    <v-toolbar-title>Attempt Report</v-toolbar-title>
                    <v-spacer />
                    <v-btn color="blue-grey" dark class="btn-space" @click="close">Close</v-btn>
                </v-app-bar>

                <div id="attempt-report-page" style="height: 100vh">
                </div>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    import ReportingService from "../../services/reporting"
    import pdfobject from "pdfobject"

    export default {
        name: 'Home',
        components: {
        },
        props: {
            serveId: {
                type: Number
            },
            attemptReportStatus: {
                type: Boolean
            }
        },
        watch: {
            serveId(value) {
                console.log('report serve id');
                console.log(value);
            },
            dialog(visible) {
                if (visible) {
                    this.getAttemptReport();
                }
            },
            attemptReportStatus(value) {
                if (value) {
                    this.dialog = value;
                } else {
                    this.dialog = false;
                }

                this.$emit('update:attemptReportStatus', value);
            }
        },
        data() {
            return {
                dialog: false
            };
        },
        async created() {
        },
        methods: {
            async getAttemptReport() {
                ReportingService.getAttemptReport(this.serveId).then((result) => {
                    var resultBlob = new Blob([new Uint8Array(result)], { type: 'application/pdf' });
                    var pdfFile = URL.createObjectURL(resultBlob);
                    pdfobject.embed(pdfFile, "#attempt-report-page");
                });
            },
            close() {
                this.attemptReportStatus = false;
            }
        }
    }
</script>

<style>
</style>