﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Camera</v-toolbar-title>
            <v-spacer />
            <v-btn class="ma-1"
                   small
                   color="blue-grey"
                   @click="capture">
                <v-icon color="white">
                    mdi-camera
                </v-icon>
            </v-btn>
            <v-btn small color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Camera</v-toolbar-title>
            <v-spacer />
            <v-btn class="ma-1"
                   color="blue-grey"
                   @click="capture">
                <v-icon color="white">
                    mdi-camera
                </v-icon>
            </v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <div class="camera-modal">
            <v-row>
                <v-col>
                    <video id="video-id" autoplay muted playsinline ref="video" class="camera-stream" />
                </v-col>
            </v-row>
            <SuccessSnackbar v-bind:openSnack.sync="isSuccess"
                             v-bind:text="`Picture was successfully uploaded!`"></SuccessSnackbar>
        </div>
    </div>
    
</template>

<script>
    import logger from "../../services/logger"
    import FilesService from "../../services/files"
    import SuccessSnackbar from "../../partials/snackbar-success"

    export default {
        name: 'Camera',
        components: {
            SuccessSnackbar
        },
        data() {
            return {
                serveId: 0,
                mediaStream: null,
                isSuccess: false
            }
        },
        watch: {
        },
        created() {
            window.scrollTo(0, 0);
            this.serveId = this.$route.params.id;
        },
        mounted() {
            navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } })
                .then(mediaStream => {
                    this.mediaStream = mediaStream
                    this.$refs.video.srcObject = mediaStream
                    this.$refs.video.play()
                })
                .catch(error => {
                    logger.log('GetUserMedia unsuccessful' + error)
                })
        },
        destroyed() {
            const tracks = this.mediaStream.getTracks()
            tracks.map(track => track.stop())
        },
        methods: {
            capture() {
                try
                {
                    logger.log('Capture Image')
                    const mediaStreamTrack = this.mediaStream.getVideoTracks()[0]

                    if ('ImageCapture' in window) {
                        const imageCapture = new window.ImageCapture(mediaStreamTrack)
                        return imageCapture.takePhoto().then(blob => {
                            this.addGeo(blob);
                        })
                    } else {
                        var video = document.getElementById('video-id');
                        const canvas = document.createElement('canvas');
                        const context = canvas.getContext('2d');

                        video.srcObject = this.mediaStream;

                        new Promise((resolve, reject) => {
                            video.addEventListener('loadeddata', async () => {
                                const { videoWidth, videoHeight } = video;
                                canvas.width = videoWidth;
                                canvas.height = videoHeight;

                                try {
                                    context.drawImage(video, 0, 0, videoWidth, videoHeight);
                                    canvas.toBlob(resolve, 'image/png');
                                } catch (error) {
                                    logger.log('draw image reject')
                                    logger.log(error)
                                    reject(error);
                                }
                            });
                        }).then((blob) => {
                            logger.log('got to the blob')
                            this.addGeo(blob);
                        })
                    }
                }
                catch (ex)
                {
                    logger.log('Capture Image Exception')
                    logger.log(ex)
                }
                
            },
            addGeo(blob) {
                try {
                    navigator.geolocation.getCurrentPosition((position) => {
                        let formData = new FormData();
                        formData.append('image', blob, 'image.png');
                        formData.append('coords', position.coords.latitude + " " + position.coords.longitude);
                        formData.append('time', new Date().toLocaleString());

                        FilesService.uploadPicture(this.serveId, formData).then((id) => {
                            if (id > 0) {
                                this.isSuccess = true;
                                setTimeout(() => {
                                    this.$router.push({ name: 'home' });
                                }, 1500);
                            }
                        });
                    },
                        (error) => { alert(error.message); },
                        { enableHighAccuracy: true, maximumAge: 0, timeout: 10000 });
                } catch (ex) {
                    alert('Unable to access location.  Make sure your location settings permissions are set to allow or ask.')
                    logger.log('cant get location info')
                    setTimeout(() => {
                        this.$router.push({ name: 'home' });
                    }, 3000);
                }                
            },
            cancel() {
                this.$router.push({ name: 'home' });
            }
        }
    }
</script>

<style scoped>
    .camera-modal {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: white;
        z-index: 10;
    }

    .camera-stream {
        width: 100%;
        max-height: 100%;
    }
</style>