﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>File Upload</v-toolbar-title>
            <v-spacer />
            <v-btn class="ma-1"
                   dark
                   small
                   color="blue-grey"
                   :disabled="disableCapture"
                   @click="upload">
                Upload
            </v-btn>
            <v-btn small
                   olor="blue-grey"
                   dark
                   class="btn-space"
                   @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>File Upload</v-toolbar-title>
            <v-spacer />
            <v-btn class="ma-1"
                   dark
                   color="blue-grey"
                   :disabled="disableCapture"
                   @click="upload">
                Upload
            </v-btn>
            <v-btn color="blue-grey"
                   dark
                   class="btn-space"
                   @click="cancel">Cancel</v-btn>
        </v-app-bar>
        <v-container>
            <v-row>
                <v-col>
                    <h1>Files</h1>
                    <p>Add files to the serve</p>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-file-input label="File input"
                                  v-model="files"
                                  multiple
                                  outlined
                                  dense></v-file-input>
                </v-col>
            </v-row>
        </v-container>
        <SuccessSnackbar v-bind:openSnack.sync="isSuccess"
                             v-bind:text="`Picture was successfully uploaded!`"></SuccessSnackbar>
    </div>
</template>

<script>
    import FilesService from "../../services/files"
    import SuccessSnackbar from "../../partials/snackbar-success"

    export default {
        name: 'Home',
        components: {
            SuccessSnackbar
        },
        props: {
            msg: String,
        },
        data() {
            return {
                files: null,
                isSuccess: false,
                disableCapture: false,
                serveId: 0
            }
        },
        async created() {            
            this.serveId = this.$route.params.id;
            this.disableCapture = false;
        },
        methods: {
            async upload() {
                this.disableCapture = true;
                let formData = new FormData();
                if (!this.files.length) return;
                for (var i = 0; i < this.files.length; i++) {
                    formData.append("file", this.files[i], this.files[i].name);
                }

                FilesService.uploadFiles(this.serveId, formData).then((ids) => {
                    if (ids.length > 0) {
                        this.isSuccess = true;
                        setTimeout(() => {
                            this.$router.push({ name: 'home' });
                        }, 1500);
                    }
                });
            },
            cancel() {
                this.$router.push({ name: 'home' });
            }
        }

    }
</script>

<style scoped>
</style>