﻿<template>
    <v-dialog v-model="dialog"
              fullscreen
              hide-overlay
              transition="dialog-bottom-transition">
                <v-app-bar class="hidden-sm-and-up" style="margin-left: 55px">
                    <v-toolbar-title>File Upload</v-toolbar-title>
                    <v-spacer />
                    <v-btn class="ma-1"
                           dark
                           small
                           color="blue-grey"
                           :disabled="disableCapture"
                           @click="upload">
                        Upload
                    </v-btn>
                    <v-btn small 
                           olor="blue-grey" 
                           dark 
                           class="btn-space" 
                           @click="cancel">Cancel</v-btn>
                </v-app-bar>

                <v-app-bar class="hidden-xs-only">
                    <v-toolbar-title>File Upload</v-toolbar-title>
                    <v-spacer />
                    <v-btn class="ma-1"
                           dark
                           color="blue-grey"
                           :disabled="disableCapture"
                           @click="upload">
                        Upload
                    </v-btn>
                    <v-btn color="blue-grey" 
                           dark 
                           class="btn-space" 
                           @click="cancel">Cancel</v-btn>
                </v-app-bar>

                <div class="upload-modal">
                    <v-container>
                        <v-row>
                            <v-col>
                                <h1>Files</h1>
                                <p>Add files to the serve</p>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-file-input label="File input"
                                              v-model="files"
                                              multiple
                                              outlined
                                              dense></v-file-input>
                            </v-col>
                        </v-row>
                    </v-container>
                    

                    <SuccessSnackbar v-bind:openSnack.sync="isSuccess"
                             v-bind:text="`Picture was successfully uploaded!`"></SuccessSnackbar>
                </div>
                    
    </v-dialog>
</template>

<script>
    import FilesService from "../../services/files"
    import SuccessSnackbar from "../../partials/snackbar-success"

    export default {
        name: 'UploadDialog',
        components: {
            SuccessSnackbar
        },
        data() {
            return {
                files: null,
                isSuccess: false,
                dialog: false,
                disableCapture: false
            }
        },
        props: {
            serveId: {
                type: Number
            },
            uploadDialogStatus: {
                type: Boolean
            }
        },
        watch: {
            uploadDialogStatus(value) {
                if (value) {
                    this.dialog = value;
                } else {
                    this.dialog = false;
                }
                this.$emit('update:uploadDialogStatus', value);
            },
        },
        created() {
            this.disableCapture = false;
        },
        mounted() {
            
        },
        methods: {
            async upload() {
                this.disableCapture = true;
                let formData = new FormData();
                if (!this.files.length) return;
                for (var i = 0; i < this.files.length; i++) {
                    formData.append("file", this.files[i], this.files[i].name);
                }

                FilesService.uploadFiles(this.serveId, formData).then((ids) => {
                    if (ids.length > 0) {
                        this.isSuccess = true;
                        setTimeout(() => {
                            this.$emit('update');
                            this.uploadDialogStatus = false;
                        }, 1500);
                    }
                });
            },
            cancel() {
                this.uploadDialogStatus = false;
            }
        }
    }
</script>

<style scoped>
    .upload-modal {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: 10;
    }
</style>