﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Attachments</v-toolbar-title>
            <v-spacer />
            <v-btn class="ma-1"
                   dark
                   small
                   color="blue-grey"
                   @click="addAttachment">Take Photo</v-btn>
            <v-btn class="ma-1"
                   dark
                   small
                   color="blue-grey"
                   @click="doUpload">Upload</v-btn>
            <v-btn class="ma-1"
                   dark
                   small
                   color="blue-grey"
                   @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Attachments</v-toolbar-title>
            <v-spacer />
            <v-btn class="ma-1"
                   dark
                   color="blue-grey"
                   @click="addAttachment">Take Photo</v-btn>
            <v-btn class="ma-1"
                   dark
                   color="blue-grey"
                   @click="doUpload">Upload</v-btn>
            <v-btn class="ma-1"
                   dark
                   color="blue-grey"
                   @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-container>
            <v-row>
                <v-col>
                    The following files are attached to this serve:
                </v-col>
            </v-row>
            <v-row v-if="filesLoading">
                <v-col>
                    <v-progress-circular indeterminate
                                         color="primary"></v-progress-circular>

                </v-col>
            </v-row>
            <v-row v-else-if="files.length == 0">
                <v-col>
                    This affidavit has no attachments.
                </v-col>
            </v-row>
            <v-row v-for="(file, index) in files" :key="index">
                <v-container>
                    <v-row>
                        <v-img :src="file.fileData"
                               height="100%"
                               tile>
                            <v-row justify="center">
                                <div style="background-color: black; opacity: .6; color: white">
                                    {{file.metadata}}
                                </div>
                            </v-row>

                        </v-img>
                    </v-row>
                    <v-row justify="end">
                        <v-btn class="ma-1"
                               outlined
                               color="red"
                               @click="deleteFile(file)">Remove File</v-btn>
                    </v-row>
                </v-container>
            </v-row>
        </v-container>

        <CameraDialog v-bind:cameraStatus.sync="cameraStatus"
                      v-bind:serveId="serveId"
                      @update="searchFiles"></CameraDialog>

        <UploadDialog v-bind:uploadDialogStatus.sync="uploadDialogStatus"
                      v-bind:serveId="serveId"
                      @update="searchFiles"></UploadDialog>
    </div>
</template>

<script>
    import FilesService from "../../services/files"
    import CameraDialog from "../files/camera-dialog"
    import UploadDialog from "../files/file-upload-dialog"

    export default {
        data() {
            return {
                files: [],
                serveId: 0,
                cameraStatus: false,
                uploadDialogStatus: false,
                filesLoading: true
            }
        },
        components: {
            CameraDialog,
            UploadDialog
        },
        mounted() {
        },
        created() {
            window.scrollTo(0, 0);
            this.filesLoading = true;
            this.serveId = parseInt(this.$route.params.id);
            this.searchFiles();
        },
        methods: {
            async searchFiles() {
                try {
                    let searchParams = {
                        ServeId: this.serveId,
                        PageSize: 20,
                        PageIndex: 0,
                        UserContext: {}
                    };
                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);

                    let searchResults = await FilesService.searchblob(searchParams);
                    let tFiles = [];
                    searchResults.results.forEach((result) => {
                        if (result.fileType === "jpeg" ||result.fileType === "jpg" || result.fileType === "png") {
                            let file = {
                                id: result.id,
                                fileData: 'data:' + result.fileType + ';base64,' + result.fileData,
                                metadata: result.metadata
                            }

                            tFiles.push(file);
                        }

                    });
                    this.files = tFiles;
                    this.filesLoading = false;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async deleteFile(row) {
                console.log("Delete");
                console.log(row);

                await FilesService.delete(row.id);
                await this.searchFiles();
            },
            addAttachment() {
                this.cameraStatus = true;
            },
            doUpload() {
                this.uploadDialogStatus = true;
            },
            cancel() {
                this.$router.push({ name: 'home', query: { tab: 1 } });
            }
        }
    }
</script>

<style scoped>
</style>