﻿<template>
    <v-row>
        <v-col cols="12"
               :xl="10"
               :lg="10"
               :md="10">
            <v-combobox v-model="addressText"
                        :items="items"
                        :search-input.sync="search"
                        dense
                        outlined></v-combobox>
        </v-col>
        <v-col cols="12"
               :xl="2"
               :lg="2"
               :md="2"
               align="right">
            <v-btn class="ma-1"
                   outlined
                   color="red"
                   @click="$emit('remove')">Remove Address</v-btn>
        </v-col>
    </v-row>

</template>

<script>
    export default {
        name: 'address-input',
        props: {
            addressSelected: {
                type: String
            }
        },
        data() {
            return {
                addressOptions: [],
                addressText: '',
                search: null
            }
        },
        watch: {
            addressSelected: function (value) {
                console.log('address');
                console.log(value);
                this.addressText = value;
            },
            addressText: function (value) {
                console.log('street');
                console.log(value);
                this.$emit('update:addressSelected', value);
            },
            search(val) {
                if (this.isLoading) return
                this.isLoading = true
                this.fetchAddresses(val);
                this.isLoading = false;
            }
        },
        computed: {
            items() {
                if (this.addressOptions) {
                    return this.addressOptions
                        .map(addressOption => {
                            if (addressOption) {
                                var zip = '';
                                if (addressOption.properties.postalcode) {
                                    zip = ' ' + addressOption.properties.postalcode;
                                }
                                const addressValue = addressOption.properties.label.replace(', USA', zip);
                                return addressValue;
                            }
                            return '';
                        });
                }
                return [];
            }
        },
        async created() {
            //Not sure why I had to do this
            //But it makes the address loading work
            if (this.addressSelected) {
                this.addressText = this.addressSelected;
            }
        },
        methods: {
            async fetchAddresses(value) {
                console.log('method');
                if (value.length > 5 && value.length < 15) {
                    fetch(`https://app.geocodeapi.io/api/v1/autocomplete?text=${value}&apikey=48f49720-4ae7-11eb-8f6b-afaa256759bc&size=5&boundary.country=USA`)
                        .then(result => result.json())
                        .then(result => {
                            console.log(result);
                            this.addressOptions = result.features;
                            //if(result.suggestions && result.suggestions.length > 0) {
                            //    if(result.suggestions[0].address.houseNumber && result.suggestions[0].address.street) {
                            //        this.street = result.suggestions[0].address.houseNumber + " " + result.suggestions[0].address.street;
                            //    } else {
                            //        this.street = "";
                            //    }
                            //    this.city = result.suggestions[0].address.city ? result.suggestions[0].address.city : "";
                            //    this.state = result.suggestions[0].address.state ? result.suggestions[0].address.state : "";
                            //    this.postcode = result.suggestions[0].address.postalCode ? result.suggestions[0].address.postalCode : "";
                            //    this.country = result.suggestions[0].address.country ? result.suggestions[0].address.country : "";
                            //} else {
                            //    this.street = "";
                            //    this.city = "";
                            //    this.state = "";
                            //    this.postalCode = "";
                            //    this.country = "";
                            //}
                        }, error => {
                            console.error(error);
                        });
                }
            }
        }
    }
</script>

<style scoped>
</style>