﻿<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <v-checkbox v-model="attempt.isSuccess"
                                :label="'Is Successful Serve?'">
                    </v-checkbox>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12"
                       :xl="8"
                       :lg="8"
                       :md="8">
                    <v-text-field label="Date and Time"
                                  v-model="attempt.dateServed"
                                  outlined
                                  dense></v-text-field>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="8"
                       :lg="8"
                       :md="8">
                    <fieldinput v-bind:selectedValue.sync="attempt.otherInfo"
                                v-bind:fieldType="ftDocOther"
                                v-bind:fieldLabel="'Other Info'"></fieldinput>
                </v-col>
                <v-col cols="12"
                       :xl="4"
                       :lg="4"
                       :md="4"
                       align="right">
                    <v-btn class="ma-1"
                           outlined
                           color="red"
                           @click="$emit('remove-attempt')">Remove Attempt</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import fieldinput from "./field-input"
    import FieldType from "../constants/fieldType"

    export default {
        name: 'attempt',
        components: {
            fieldinput
        },
        props: {
            attemptProp: {
                type: Object
            }            
        },
        watch: {
            attempt: function (value) {
                console.log('attempt changed');
                console.log(value);
                this.$emit('update:attemptProp', value);
            }
        },
        computed: {
        },
        async created() {
            this.attempt = this.attemptProp;
        },
        methods: {
        },
        data() {
            return {
                ftDocOther: FieldType.DOC_OTHER,
                attempt: null
            }
        }

    }
</script>

<style scoped>
</style>