﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-1"
                   color="blue-grey"
                   small
                   dark
                   v-bind="attrs"
                   v-on="on">
                Take Picture
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Add Picture</span>
            </v-card-title>
            <v-card-text>
                <div class="camera-modal">
                    <video ref="video" class="camera-stream" />
                    <div class="camera-modal-container">
                        a
                    </div>
                </div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn class="ma-1"
                       small
                       color="blue-grey"
                       @click="capture">
                    <v-icon color="white">
                        mdi-camera
                    </v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import FilesService from "../services/files"

    export default {
        data() {
            return {
                mediaStream: null,
                dialog: false
            }
        },
        mounted() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(mediaStream => {
                    this.mediaStream = mediaStream
                    this.$refs.video.srcObject = mediaStream
                    this.$refs.video.play()
                })
                .catch(error => console.error('getUserMedia() error:', error))
        },
        destroyed() {
            const tracks = this.mediaStream.getTracks()
            tracks.map(track => track.stop())
        },
        methods: {
            capture() {
                const mediaStreamTrack = this.mediaStream.getVideoTracks()[0]
                const imageCapture = new window.ImageCapture(mediaStreamTrack)
                return imageCapture.takePhoto().then(blob => {
                    navigator.geolocation.getCurrentPosition((position) => {
                        let formData = new FormData();
                        formData.append('image', blob, 'image.png');
                        formData.append('coords', position.coords.latitude + " " + position.coords.longitude);
                        formData.append('time', new Date().toISOString());

                        console.log(formData);

                        FilesService.uploadPicture(formData).then(function (id) {
                            console.log('picture taken');
                            console.log(id);
                        },
                            (error) => { alert(error.message); },
                            { enableHighAccuracy: true, maximumAge: 0, timeout: 10000 }););
                    });
                })
            }
        }
    }
</script>

<style scoped>
    .camera-modal {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: white;
        z-index: 10;
    }

    .camera-stream {
        width: 100%;
        max-height: 100%;
    }

    .camera-modal-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        align-items: center;
        margin-bottom: 24px;
    }

    .take-picture-button {
        display: flex;
    }
</style>