﻿<template>
    <div>
        <v-container>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <fieldinput v-bind:selectedValue.sync="entity"
                                v-bind:fieldType="ftPersonServed"
                                v-bind:fieldLabel="'Entity Served'"
                                v-bind:isReadOnly="!canEdit"></fieldinput>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <serverinput v-bind:selectedServerValue.sync="server"></serverinput>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-text-field label="Case Notes"
                                  dense
                                  v-model="notes"
                                  outlined></v-text-field>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-text-field label="Charge"
                                  dense
                                  v-model="charge"
                                  outlined></v-text-field>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <!--<v-text-field label="Serve Due Date"
                                  dense
                                  v-model="dueDate"
                                  outlined></v-text-field>-->
                </v-col>
                <v-col cols="5" align="right" v-if="canEdit">
                    <v-btn class="ma-1"
                           outlined
                           color="red"
                           @click="removeServe">Remove Serve</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import fieldinput from "./field-input"
    import serverinput from "./server-input"
    import FieldType from "../constants/fieldType"
    import { fieldMixins } from "../mixins/fieldMixins"

    export default {
        name: 'caseserve',
        components: {
            fieldinput,
            serverinput
        },
        mixins: [fieldMixins],
        props: {
            serve: {
                type: Object
            },
            index: {
                type: Number
            },
            selectedServer: {
                type: Object
            },
            selectedEntity: {
                type: Object
            },
            serveNotes: {
                type: String
            },
            serveCharge: {
                type: Number
            },
            serveDueDate: {
                type: String
            },
            isEdit: {
                type: Boolean
            }
        },
        watch: {
            notes: function (value) {
                this.$emit('update:serveNotes', value);
            },
            serveNotes: function (value) {
                this.notes = value;
            },
            charge: function (value) {
                this.$emit('update:serveCharge', parseFloat(value));
            },
            serveCharge: function (value) {
                this.charge = value ? parseFloat(value) : '';
            },
            dueDate: function (value) {
                this.$emit('update:serveDueDate', value);
            },
            serveDueDate: function (value) {
                this.dueDate = value;
            },
            entity: function (value) {
                if (typeof value == "string") {
                    this.entity = this.newFieldValue(value, this.ftPersonServed)
                }
                this.$emit('update:selectedEntity', this.entity);
            },
            selectedEntity: function (value) {
                this.entity = value;
            },
            server: function (value) {
                this.$emit('update:selectedServer', value);
            },
            selectedServer: function (value) {
                this.server = value;
            }
        },
        computed: {
        },
        async created() {
            if (this.serve.id == 0) {
                this.canEdit = true;
            }
            this.notes = this.serve.notes;
            this.dueDate = this.serve.dueDate;
            this.server = this.serve.server;
            this.charge = this.serve.charge;
            if (this.serve.entity) {
                this.entity = this.serve.entity;
            }
        },
        methods: {
            removeServe() {
                console.log("remove index " + this.index);
                this.$emit('caseserve-remove', this.index);
            }
        },
        data() {
            return {
                ftPersonServed: FieldType.PERSON_SERVED,
                entity: null,
                server: null,
                notes: null,
                dueDate: null,
                charge: null,
                canEdit: false
            }
        }

    }
</script>

<style scoped>
</style>