﻿<template>
    <v-combobox v-model="selectedClient"
                :items="items"
                item-text="clientName"
                :search-input.sync="search"                
                auto-select-first
                :label="fieldLabel"
                dense
                outlined></v-combobox>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'client-input',
        props: {
            selectedValue: {
                type: Object
            },
            fieldLabel: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                items: [],
                selectedClient: null,
                search: null
            }
        },
        watch: {
            selectedValue: function (value) {
                this.selectedClient = value;
            },
            selectedClient: function (value) {
                this.$emit('update:selectedValue', value);
            },
            search(val) {
                if (!val) {
                    return;
                }
                this.fetchEntriesDebounced(val);
            }
        },
        computed: {
        },
        async created() {
        },
        methods: {
            fetchEntriesDebounced(value) {
                // cancel pending call
                clearTimeout(this._timerId)

                // delay new call
                this._timerId = setTimeout(() => {
                    this.fetchOptions(value);
                }, 1000)
            },
            async fetchOptions(search) {
                if (typeof search == 'string') {
                    if (search.length > 2) {
                        try {
                            var searchRequest = {
                                UserContext: { CompanyId : parseInt(this.$store.getters.getCompanyId) },
                                PageSize: 5,
                                PageIndex: 0,                                
                                ClientName: search,
                                IsDeleted: false
                            };
                            let searchResults = await RestServices.search(Services.CLIENT, searchRequest);
                            this.items = searchResults.results;
                        } catch (ex) {
                            console.log(ex);
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>
</style>