﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn width="175px"
                   class="btn-space"
                   color="blue-grey"
                   dark
                   v-bind="attrs"
                   v-on="on"
                   @click="$emit('complete-click')">
                Complete Serve
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Complete Serve</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <h4>Affidavit Type</h4>
                    </v-row>
                    <v-row>
                        <v-radio-group v-model="affidavitType"
                                       row>
                            <v-radio label="Personal"
                                     value=0></v-radio>
                            <v-radio label="Substitute"
                                     value=1></v-radio>
                            <v-radio label="Reasonable"
                                     value=2></v-radio>
                            <v-radio label="Corporation"
                                     value=3></v-radio>
                            <v-radio label="Mailing"
                                     value=4></v-radio>
                        </v-radio-group>
                    </v-row>
                </v-container>
                <v-container v-if="affidavitType == atPersonal">
                    <v-row class="pa-2">
                        <h4>Personal Affidavit Options</h4>
                    </v-row>
                    <v-row>
                        <v-checkbox v-model="isNotMilitary"
                                    :label="'Person served is NOT in Military or National Guard'"></v-checkbox>
                    </v-row>
                    <v-row>
                        <v-checkbox v-model="isNotMarried"
                                    :label="'Person served is NOT married.'"></v-checkbox>
                    </v-row>
                </v-container>
                <v-container v-if="affidavitType == atSubstitute">
                    <v-row class="pa-2">
                        <h4>Substitute Service Upon</h4>
                    </v-row>
                    <v-row>
                        <v-col>
                            <fieldinput v-bind:selectedValue.sync="entity"
                                        v-bind:fieldType="ftPersonServed"
                                        v-bind:fieldLabel="'Entity Served'"></fieldinput>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <fieldinput v-bind:selectedValue.sync="relationship"
                                        v-bind:fieldType="ftRelationship"
                                        v-bind:fieldLabel="'Relationship'"></fieldinput>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container v-if="affidavitType == atReasonable">
                    <v-row class="pb-3">
                        <h4>Reasons to Believe</h4>
                    </v-row>
                    <v-row v-for="reason in reasons" :key=reason.id dense align="center" class="mt-n7">
                        <v-col cols="2">
                            <v-checkbox v-model="reason.checked"></v-checkbox>
                        </v-col>
                        <v-col cols="10">
                            {{reason.value}}
                        </v-col>
                    </v-row>
                </v-container>
                <v-container v-if="affidavitType == atCompany">
                    <v-row>
                        <h4>Corporation Service Upon</h4>
                    </v-row>
                    <v-row>
                        <v-radio-group v-model="corpType"
                                       row>
                            <v-radio class="pa-2" label="Served officer, director, managing agent or registered agent name"
                                     value="Officer"></v-radio>
                            <v-radio class="pa-2" label="Served person apparently in charge of office or officer, director, or managing agent name"
                                     value="Person"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-col>
                        <fieldinput v-bind:selectedValue.sync="entity"
                                    v-bind:fieldType="ftPersonServed"
                                    v-bind:fieldLabel="'Entity Served'"></fieldinput>
                    </v-col>
                </v-container>
                <v-container v-if="affidavitType == atMailing">
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1"
                       text
                       :disabled="disableSave"
                       @click="save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"
    import FieldType from "../constants/fieldType"
    import AffidavitType from "../constants/affidavitType"
    import fieldinput from "./field-input"
    import { fieldMixins } from "../mixins/fieldMixins"
    import logger from "../services/logger"


    export default {
        name: 'CompleteServeDialog',
        components: {
            fieldinput
        },
        mixins: [fieldMixins],
        props: {
            serveId : Number
        },
        watch: {
            affidavitType(value) {
                console.log(value);
                this.entity = null;
                this.relationship = null;
                this.isNotMarried = false;
                this.isNotMilitary = false;

                this.reasons.forEach((reason) => {
                    reason.checked = false;
                })
            },
            entity: function (newValue) {
                if (typeof newValue == "string") {
                    this.entity = this.newFieldValue(newValue, this.ftPersonServed)
                }
            },
            relationship: function (newValue) {
                if (typeof newValue == "string") {
                    this.relationship = this.newFieldValue(newValue, this.ftRelationship)
                }
            },
            async corpType(value) {
                var searchRequest = {
                        UserContext: {
                            CompanyId: parseInt(this.$store.getters.getCompanyId)
                        },
                        PageSize: 10, 
                        PageIndex: 0,
                        Value: value,
                        FieldType: this.ftRelationship
                    };
                let searchResults = await RestServices.search(Services.FIELD, searchRequest);
                if (searchResults.totalResults == 0) {
                    this.relationship = this.newFieldValue(value, this.ftRelationship)
                } else {
                    this.relationship = searchResults.results[0];
                }
            }
        },
        computed: {
        },
        async created() {
            this.reasons = await RestServices.getAll(Services.REASON);
        },
        methods: {
            async save() {
                this.disableSave = true;

                var affidavit = {
                    CompanyId: parseInt(this.$store.getters.getCompanyId),
                    AffidavitType: parseInt(this.affidavitType),
                    IsPaid: false,
                    IsDeleted: false,
                    ServeId: parseInt(this.serveId),
                    CreatedBy: parseInt(this.$store.getters.getUserId),
                    CreatedOn: new Date().toISOString()
                };

                if (this.affidavitType == this.atPersonal) {
                    affidavit.isNotMarried = this.isNotMarried;
                    affidavit.isNotMilitary = this.isNotMilitary;
                }
                else if (this.affidavitType == this.atSubstitute) {
                    affidavit.CareOf = this.entity;
                    affidavit.Relationship = this.relationship
                }
                else if (this.affidavitType == this.atReasonable) {
                    var affReasons = [];

                    this.reasons.forEach((reason) => {
                        if (reason.checked) {
                            let mappedReason = {
                                ReasonId: reason.id
                            }

                            affReasons.push(mappedReason);
                        }
                    });

                    affidavit.Reasons = affReasons;
                }
                else if (this.affidavitType == this.atCompany) {
                    affidavit.CareOf = this.entity;
                    affidavit.Relationship = this.relationship;
                }

                try {
                    var affidavitId = await RestServices.createMapped(Services.AFFIDAVIT, affidavit);
                    this.$router.push({ name: 'affidavit', params: { id: affidavitId } });
                } catch (ex) {
                    console.log("[ERROR] Error creating a new affidavit from Complete Serve Dialog");
                    logger.log("[ERROR] Error creating a new affidavit from Complete Serve Dialog");
                    logger.log(ex);
                }
            }
        },
        data() {
            return {
                dialog: false,
                disableSave: false,
                affidavitType: null,
                corpType: null,

                isNotMilitary: false,
                isNotMarried: false,

                ftPersonServed: FieldType.PERSON_SERVED,
                ftRelationship: FieldType.RELATIONSHIP,

                atPersonal: AffidavitType.PERSONAL,
                atSubstitute: AffidavitType.SUBSTITUTE,
                atReasonable: AffidavitType.REASONABLE,
                atCompany: AffidavitType.COMPANY,
                atMailing: AffidavitType.MAILING,

                entity: null,
                relationship: null,

                reasons: []
            }
        }

    }
</script>

<style scoped>
    .btn-space {
        margin: 0px 10px 0px 10px;
    }
</style>