﻿<template>
    <v-combobox v-model="selectedField"
                :items="items"
                item-text="name"
                :search-input.sync="search"
                auto-select-first
                label="Process Server"
                return-object
                dense
                outlined></v-combobox>
    <!--v-on:keyup.9="doStuff"-->
</template>

<script>

    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'contractor-input',
        props: {
            selectedValue: {
                type: Object
            },
            contractorId: {
                type: Number
            }
        },
        data() {
            return {
                items: [],
                selectedField: null,
                isLoading: false,
                search: null
            }
        },
        watch: {
            selectedValue: function (value) {
                this.selectedField = value;
            },
            selectedField: function (value) {
                this.$emit('update:selectedValue', value);
            },
            search(val) {
                console.log('val');
                console.log(val);
                // Items have already been requested
                if (this.isLoading) return
                this.isLoading = true
                this.fetchOptions(val);
                this.isLoading = false;
            }
        },
        async created() {
            //Not sure why I had to do this
            //But it makes the CaseServes work
            if (this.selectedValue) {
                this.selectedField = this.selectedValue;
            }
        },
        methods: {
            async fetchOptions(search) {
                if (typeof search == 'string') {
                    if (search.length > 0) {
                        try {
                            var searchRequest = {
                                UserContext: {}, PageSize: 5, PageIndex: 0
                            };
                            searchRequest.UserContext.CompanyId = 1;
                            searchRequest.ContractorId = this.contractorId;
                            searchRequest.Name = search;
                            console.log('contractor search request')
                            console.log(searchRequest);
                            let searchResults = await RestServices.search(Services.CONTRACTOR_USER, searchRequest);
                            console.log("contractor Search results");
                            console.log(searchResults);
                            this.items = searchResults.results;

                            return searchResults;
                        } catch (ex) {
                            console.log(ex);
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>
</style>