﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Confirm Delete</span>
            </v-card-title>
            <v-card-text>
                Do you really wish to delete?
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="close()">
                    No
                </v-btn>
                <v-btn color="blue darken-1"
                       text
                       @click="yes()">
                    Yes
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'DeleteConfirm',
        components: {

        },
        props: {
            entity: {
                type: Object
            },
            dialogStatus: {
                type: Boolean
            },
            deleteDecision: {
                type: Boolean
            }            
        },
        watch: {
            dialogStatus(value) {
                console.log('dia status');
                console.log(value);
                if (value) {
                    this.dialog = value;
                } else {
                    this.dialog = false;
                }
            },
            decision: function (value) {
                console.log('emit decision ' + value)
                this.$emit('update:deleteDecision', value);
            }
        },
        computed: {
        },
        async created() {
        },
        methods: {
            yes() {
                this.decision = true;
                this.dialogStatus = null;
                //this.dialog = false;
            },
            close() {
                this.decision = false;
                this.dialogStatus = null;
                //this.dialog = false;
            }
        },
        data() {
            return {
                dialog: false,
                decision: null
            }
        }

    }
</script>

<style scoped>
</style>