﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-1"
                   color="blue-grey"
                   small
                   dark
                   v-bind="attrs"
                   v-on="on">
                Edit
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Document Details</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <v-textarea v-model="name"
                                        label="Document Name"
                                        outlined
                                        rows="3">
                            </v-textarea>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-checkbox v-model="hasText"
                                        :label="'Has Textbox'">
                            </v-checkbox>
                        </v-col>
                        <v-col v-show="hasText">
                            <v-checkbox v-model="textBefore"
                                        :label="'Textbox Before Document'">
                            </v-checkbox>
                        </v-col>
                    </v-row>
                </v-container>
                
                
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1"
                       text
                       @click="save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import DocumentService from "../services/document"

    export default {
        name: 'DocumentEditor',
        components: {

        },
        props: {
            document: {
                type: Object
            }
        },
        watch: {
        },
        computed: {
        },
        async created() {
        },
        methods: {
            save() {
                if (this.hasChanges()) {
                    try {
                        this.document.name = this.name;
                        this.document.hasText = this.hasText;
                        this.document.textBefore = this.textBefore;
                        this.document.changedOn = new Date().toISOString();

                        DocumentService.update(this.document).then(() => {
                            this.$emit('refresh-docs');
                        });
                    } catch (ex) {
                        console.log(ex);
                    }
                }

                this.dialog = false;
            },
            hasChanges() {
                if (this.document.name != this.name || this.document.hasText != this.hasText || this.document.textBefore != this.textBefore) {
                    return true;
                }

                return false;
            }
        },
        data() {
            return {
                dialog: false,

                name: this.document.name,
                hasText: this.document.hasText,
                textBefore: this.document.textBefore
            }
        }

    }
</script>

<style scoped>
</style>