﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-1"
                   color="blue-grey"
                   small
                   dark
                   v-bind="attrs"
                   v-on="on">
                Add New
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Document Details</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <v-textarea v-model="name"
                                        label="Document Name"
                                        outlined
                                        rows="3">
                            </v-textarea>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-checkbox v-model="hasText"
                                        :label="'Has Textbox'">
                            </v-checkbox>
                        </v-col>
                        <v-col v-show="hasText">
                            <v-checkbox v-model="textBefore"
                                        :label="'Textbox Before Document'">
                            </v-checkbox>
                        </v-col>
                    </v-row>
                </v-container>


            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1"
                       :loading="saveLoading"
                       text
                       @click="save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'DocumentAddDialog',
        components: {
        },
        props: {
        },
        watch: {
        },
        computed: {
        },
        async created() {
            
        },
        methods: {
            async save() {
                try {
                    var documents = await RestServices.getAll(Services.DOCUMENT);
                    var sortOrders = documents.map(function (doc) {
                        return doc.sortOrder;
                    });

                    var highestSortOrder = Math.max(...sortOrders);

                    var document = {};
                    document.name = this.name;
                    document.hasText = this.hasText;
                    document.textBefore = this.textBefore;
                    document.changedOn = new Date().toISOString();
                    document.sortOrder = parseInt(highestSortOrder) + 1;

                    this.saveLoading = true;
                    await RestServices.create(Services.DOCUMENT, document);       
                    
                    this.$emit('refresh-docs');

                    this.name = '';
                    this.hasText = false;
                    this.textBefore = false;

                    this.saveLoading = false;
                    this.dialog = false;
                } catch (ex) {
                    console.log(ex);
                }

                this.dialog = false;
            }
        },
        data() {
            return {
                dialog: false,
                saveLoading: false,

                name: '',
                hasText: false,
                textBefore: false
            }
        }
    }
</script>

<style scoped>
</style>