﻿<template>
    <div>
        <v-container fluid v-if="!detectMobile()">
            <v-row v-if="showSearch" class="pt-4 pv-4">
                <v-col cols="3">
                    <serverinput v-if="displaySearchUser" v-bind:selectedServerValue.sync="searchUser" v-bind:isSearch="true"></serverinput>
                </v-col>
                <v-col cols="3">
                    <v-text-field dense outlined v-model="searchTerm" v-show="showSearchTerm" placeholder="Search by Term"></v-text-field>
                </v-col>
                <v-col cols="3">
                    <v-text-field dense outlined v-model="searchDate" v-show="showSearchDate" placeholder="Search by Date"></v-text-field>
                </v-col>
                <v-col cols="1" class="ma-2">
                    <v-btn outlined
                           color="blue-grey"
                           @click="searchButtonClick">Search</v-btn>
                </v-col>
                <v-col cols="1" class="ma-2">
                    <v-btn v-show="searchActive"
                           outlined
                           color="blue-grey"
                           @click="clearSearch">Clear Search</v-btn>
                </v-col>
            </v-row>
            <!--<v-row class="pt-4 pv-4" align="center">
                <v-col cols="1" align="center">
                    <v-btn outlined
                           fab
                           small
                           color="blue-grey"
                           v-show="currentPage > 1"
                           @click="previousPage">
                        <v-icon color="blue-grey">
                            mdi-chevron-left
                        </v-icon>
                    </v-btn>
                </v-col>
                <v-col cols="2" align="center">
                    Page {{currentPage}} of {{totalPages}}
                </v-col>
                <v-col cols="1">
                    <v-btn outlined
                           fab
                           small
                           color="blue-grey"
                           v-show="currentPage < totalPages"
                           @click="nextPage">
                        <v-icon color="blue-grey">
                            mdi-chevron-right
                        </v-icon>
                    </v-btn>
                </v-col>
                <v-col cols="3">
                    <v-select v-model="selectedPageSize" :items="pageSizeOptions"></v-select>
                </v-col>
                <v-col align="center">
                    Total Results: {{totalItems}}
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th v-for="(column, index) in displayColumns" :key="index">{{column}}</th>
                                <th v-if="hasActions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, rowIndex) in rows" :key="rowIndex">
                                <td v-for="(column, colIndex) in columns" :key="colIndex" style="text-align:center">{{item[column]}}</td>
                                <td v-if="hasActions">
                                    <v-btn v-for="tableAction in tableActions"
                                           variant="outline-info"
                                           :key="tableAction.name"
                                           v-on:click="$emit(tableAction.action, item.id)"
                                           class="ma-1"
                                           small
                                           color="blue-grey">{{tableAction.name}}</v-btn>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </v-col>
            </v-row>-->

        <v-data-table :headers="headers"
                      :items="testItems"
                      item-key="id"
                      :server-items-length="totalItems"
                      :page.sync="currentPage"
                      :itemsPerPage.sync="selectedPageSize"
                      hide-default-footer
                      :disable-sort="true"
                      :loading="isLoading"
                      loading-text="Searching..."
                      no-data-text="No data">
            <template v-slot:top="{ pagination, options, updateOptions }">
                <v-data-footer :pagination="pagination"
                               :options="options"
                               @update:options="updateOptions"
                               :items-per-page-options="itemsPerPageOptions"
                               items-per-page-text="$vuetify.dataTable.itemsPerPageText" />
            </template>
            <template v-slot:item.caseNotes="{item}">
                <span style="color: red">{{item.caseNotes}}</span>
            </template>
            <template v-slot:item.customActions="{ item }">
                <v-btn v-for="customAction in customActions"
                       variant="outline-info"
                       :key="customAction.name"
                       v-on:click="$emit(customAction.action, item.id)"
                       class="ma-1"
                       small
                       outlined
                       elevation="5"
                       color="blue-grey">{{customAction.name}}</v-btn>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-btn v-for="tableAction in tableActions"
                       :key="tableAction.name"
                       v-on:click="$emit(tableAction.action, item.id)"
                       class="ma-1"
                       width="75px"
                       small
                       outlined
                       elevation="5"
                       color="blue-grey">{{tableAction.name}}</v-btn>
            </template>
        </v-data-table>
        </v-container>

        <!-- --------------------- MOBILE TABLE --------------------- -->
        <v-container fluid v-else>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>
                        Search
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-row v-if="showSearchUser" class="py-3">
                            <v-col>
                                <serverinput v-show="displaySearchUser" v-bind:selectedServerValue.sync="searchUser" v-bind:isSearch="true"></serverinput>
                            </v-col>
                        </v-row>
                        <v-row v-if="showSearchTerm" class="py-3">
                            <v-col>
                                <v-text-field v-model="searchTerm" placeholder="Search by Term"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row v-if="showSearchDate" class="py-3">
                            <v-col>
                                <v-text-field v-model="searchDate" placeholder="Search by Date"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-btn @click="searchButtonClick">Search</v-btn>
                            </v-col>
                            <v-col>
                                <v-btn v-show="searchActive" @click="clearSearch">Clear Search</v-btn>
                            </v-col>
                        </v-row>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>


            <v-row align="center">
                <v-col align="right">
                    <v-select class="page-size-select" v-model="selectedPageSize" :items="pageSizeOptions"></v-select>
                </v-col>
                <v-col>
                    results/page
                </v-col>
                <v-col>
                    <b>Total: </b>{{totalItems}}
                </v-col>
            </v-row>
            <v-row class="pt-4 pv-4" v-for="(row, rowIndex) in rows" :key="rowIndex">
                <v-col>
                    <v-row class="py-2" v-for="(col, colIndex) in columns" :key="colIndex" dense no-gutter>
                        <v-col cols="4" class="font-weight-bold">{{displayColumns[colIndex]}}</v-col>                        
                        <v-col cols="8" :style="[displayColumns[colIndex] === 'Case  Notes' ? { 'color' :'red'} : {}] ">
                            {{row[col]}}
                        </v-col>
                    </v-row>
                    <v-row v-if="hasActions">
                        <v-col cols="6" v-for="customAction in customActions" :key="customAction.name">
                            <v-btn class="ma-1"
                                   small
                                   outlined
                                   elevation="5"
                                   color="blue-grey"
                                   :key="customAction.name" 
                                   v-on:click="$emit(customAction.action, row.id)">{{customAction.name}}</v-btn>
                        </v-col>
                    </v-row>
                    <v-row class="py-2" v-if="hasActions">
                        <v-col cols="6" v-for="tableAction in tableActions" :key="tableAction.name">
                            <v-btn class="ma-1"
                                   small
                                   outlined
                                   elevation="5"
                                   color="blue-grey"
                                   :key="tableAction.name" 
                                   v-on:click="$emit(tableAction.action, row.id)">{{tableAction.name}}</v-btn>
                        </v-col>
                    </v-row>
                    <hr />
                </v-col>
            </v-row>

            <v-row class="py-2">
                <v-col>
                    <v-container>
                        <v-row>
                            <v-col>
                                <v-btn variant="outline-primary" v-show="currentPage > 1" v-on:click="previousPage">Previous</v-btn>
                            </v-col>
                            <v-col>
                                Page {{currentPage}} of {{totalPages}}
                            </v-col>
                            <v-col>
                                <v-btn variant="outline-primary" v-show="currentPage < totalPages" v-on:click="nextPage">Next</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import Constants from "../constants/table/index"
    import serverinput from "../partials/server-input"
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {

        name: 'dynamic-table',
        components: {
            serverinput
        },
        props: {
            searchresult: {
                type: Object
            },
            tableFields: {
                type: Array,
                default: () => []
            },
            mobileTableFields: {
                type: Array,
                default: () => []
            },
            columnWidths: {
                type: Array,
                default: () => []
            },
            customActions: {
                type: Array,
                default: () => []
            },
            tableActions: {
                type: Array,
                default: () => []
            },
            showSearchTerm: Boolean,
            showSearchDate: Boolean,
            showSearchUser: Boolean
        },
        data() {
            return {
                headers: [],
                testItems: [],

                rows: [],
                items: [],
                columns: [],
                displayColumns: [],
                selectedPageSize: 10,
                currentPage: 1,
                pageIndex: Constants.INITIAL_PAGE_INDEX,
                pageSize: Constants.INITIAL_PAGE_SIZE,
                totalItems: 0,
                totalPages: 0,
                pageSizeOptions: [
                    { value: -1, text: 'All'},
                    { value: 10, text: '10' },
                    { value: 25, text: '25' },
                    { value: 50, text: '50' }
                ],
                itemsPerPageOptions: [-1, 10, 25, 50],
                options: {'items-per-page-options': [-1, 10, 25, 50]},
                searchTerm: '',
                searchDate: '',
                searchUser: {},
                searchActive: false,
                showSearch: true,
                displaySearchUser: false,
                hasActions: true,
                isLoading: false
            }
        },
        watch: {
            searchresult: function (value) {
                this.headers = [];
                this.testItems = [];

                this.items = [];
                this.columns = [];
                this.displayColumns = [];

                if (value.results) {
                    this.setRowsAndCols();
                    this.totalPages = Math.ceil(this.totalItems / this.selectedPageSize)
                }                
            },
            selectedPageSize: function () {
                this.searchEvent();
            },
            currentPage: function () {
                this.searchEvent();
            }
        },
        created: function () {
            console.log(this.$store.getters.checkAdmin)
            console.log(this.showSearchUser)
            this.displaySearchUser = this.$store.getters.checkAdmin && this.showSearchUser;
        },
        mounted: function () {
            this.$root.$on('trigger-search', () => {
                this.searchEvent();
            })
        },
        methods: {
            setRowsAndCols() {
                var detectTableFields = this.tableFields;

                if (this.detectMobile() && this.mobileTableFields.length > 0) {
                    detectTableFields = this.mobileTableFields
                }

                this.rows = this.searchresult.results;
                this.totalItems = this.searchresult.totalResults;

                var tempItems = [];

                for (var i = 0; i < this.rows.length; i++) {
                    var obj = this.rows[i];
                    var t = this.splitObject(obj, detectTableFields);
                    tempItems.push(t);
                    t.id = obj.id;
                    this.testItems.push(t);
                }
                
                let i2 = 0;
                for (var key in tempItems[0]) {
                    var result = key.replace(/([A-Z]+)/g, " $1").replace(/([A-Z][a-z])/g, " $1");
                    var columnText = result.charAt(0).toUpperCase() + result.slice(1);

                    if (key !== 'id') {
                        this.headers.push({
                            text: columnText,
                            align: 'center',
                            value: key,
                            width: this.columnWidths[i2]
                        })

                        //For mobile
                        this.columns.push(key);
                        this.displayColumns.push(columnText);
                    }

                    i2++;
                }

                this.headers.push({
                    text: 'Actions',
                    align: 'center',
                    value: 'actions',
                    width: '10%'
                })

                this.items = tempItems;
                this.isLoading = false;
            },
            splitObject(obj, keys) {
                var holder = {};

                keys.forEach(function (d) {
                    holder[d] = obj[d];
                });

                return holder;
            },
            nextPage() {
                this.currentPage = this.currentPage + 1;
            },
            previousPage() {
                this.currentPage = this.currentPage - 1;
            },
            searchButtonClick() {                
                this.isLoading = true;
                this.searchActive = true;
                this.currentPage = 1;
                this.searchEvent();
            },
            async clearSearch() {
                this.searchActive = false;
                this.searchTerm = '';
                this.searchDate = '';
                if (this.searchUser && this.searchUser.id && this.searchUser.id != parseInt(this.$store.getters.getUserId)) {
                    let currentUser = await RestServices.get(Services.USER, parseInt(this.$store.getters.getUserId));
                    this.searchUser = currentUser;
                }
                this.clearSearchEvent();
            },
            searchEvent() {
                var searchParams = this.getSearchParameters();
                this.$emit('search-event', searchParams);
                window.scrollTo(0, 0);
            },
            clearSearchEvent() {
                var searchParams = this.getSearchParameters();
                searchParams.Clear = true;
                this.$emit('search-event', searchParams);
                window.scrollTo(0, 0);
            },
            getSearchParameters() {
                var searchParams = {};
                console.log('searchuser');
                console.log(this.searchUser);
                searchParams.SearchTerm = this.searchTerm;
                searchParams.SearchUser = this.searchUser ? this.searchUser.id : 0;
                searchParams.SearchDate = this.searchDate;
                searchParams.PageIndex = this.currentPage - 1;
                searchParams.PageSize = this.selectedPageSize;
                searchParams.UserContext = {};

                return searchParams;
            },
            detectMobile() {
                return ((window.innerWidth <= 600));
            }
        }
    }
</script>

<style scoped>
    .page-size-select {
        width: 65px;
    }

    table {
        table-layout: fixed;
    }
</style>