﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-1"
                   color="blue-grey"
                   small
                   dark
                   v-bind="attrs"
                   v-on="on">
                Add New
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Field Details</span>
            </v-card-title>
            <v-container>
                <v-row>
                    <v-col>
                        <v-select label="Select Field Type"
                                  v-model="selectedFieldType"
                                  :items="fieldTypes"
                                  item-text="Name"
                                  item-value="Value"></v-select>
                    </v-col>
                </v-row>
                <v-row v-if="showField">
                    <v-col>
                        <v-text-field placeholder="Field Value"
                                      v-model="field.Value">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showClient">
                    <v-col>
                        <v-text-field placeholder="Client Name"
                                      v-model="field.ClientName">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showClient">
                    <v-col>
                        <v-text-field placeholder="Default Fee"
                                      v-model="field.DefaultFee">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showAddress">
                    <v-col>
                        <v-text-field placeholder="Zip Code"
                                      v-model="field.Zip">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showAddress">
                    <v-col>
                        <v-text-field placeholder="State"
                                      v-model="field.State">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showAddress">
                    <v-col>
                        <v-text-field placeholder="City"
                                      v-model="field.City">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showAddress">
                    <v-col>
                        <v-text-field placeholder="Street Address"
                                      v-model="field.Street">

                        </v-text-field>
                    </v-col>
                </v-row>
            </v-container>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1"
                       :loading="saveLoading"
                       text
                       @click="save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import FieldConstants from "../constants/fieldType/index"
    import RestServices from "../services/restServices"
    import Services from "../services/services"


    export default {
        name: 'FieldAddDialog',
        components: {

        },
        props: {
            field: {
                type: Object
            }
        },
        watch: {
            selectedFieldType: function (newValue) {
                if (newValue === FieldConstants.ADDRESS) {
                    this.showAddress = true;
                    this.showClient = false;
                    this.showField = false;

                }
                else if (newValue === FieldConstants.CLIENT) {
                    this.showAddress = false;
                    this.showClient = true;
                    this.showField = false;
                }
                else {
                    this.showAddress = false;
                    this.showClient = false;
                    this.showField = true;
                }
            }
        },
        computed: {
        },
        async created() {
        },
        methods: {
            async save() {
                this.field.FieldType = this.selectedFieldType;

                if (this.showField) {
                    this.saveLoading = true;
                    await RestServices.create(Services.FIELD, this.field);
                    this.saveLoading = false;
                    this.dialog = false;
                } else if (this.showClient) {
                    this.saveLoading = true;
                    this.field.defaultFee = parseFloat(this.field.defaultFee);
                    await RestServices.create(Services.CLIENT, this.field);
                    this.saveLoading = false;
                    this.dialog = false;
                }
            }
        },
        data() {
            return {
                dialog: false,
                selectedFieldType: {},
                saveLoading: false,

                fieldTypes: FieldConstants.FIELD_TYPE_LIST,
                showAddress: false,
                showClient: false,
                showField: false
            }
        }

    }
</script>

<style scoped>
</style>