﻿<template>
    <v-combobox v-model="selectedField"
                :items="items"
                item-text="value"
                :search-input.sync="search"
                auto-select-first
                :label="fieldLabel"
                dense
                outlined
                :disabled="isReadOnly"
                v-on:keyup.9="tabKeyed"></v-combobox>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'field-input',
        props: {
            selectedValue: {
                type: Object
            },
            fieldType: Number,
            fieldLabel: {
                type: String,
                default: ''
            },
            isReadOnly: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                items: [],
                selectedField: null,
                search: null
            }
        },
        watch: {
            selectedValue: function (value) {
                this.selectedField = value;
            },
            selectedField: function (value) {
                this.$emit('update:selectedValue', value);
            },
            search(val) {
                if (!val) {
                    return;
                }
                this.fetchEntriesDebounced(val);
            }
        },
        computed: {
        },
        async created() {
            //Not sure why I had to do this
            //But it makes the CaseServes work
            if (this.selectedValue) {
                this.selectedField = this.selectedValue;
            }
        },
        methods: {
            tabKeyed() {
                this.$emit('focus-next');
            },
            //Only actually do the search if the user has
            //stopped typing for 1 second
            fetchEntriesDebounced(value) {
                // cancel pending call
                clearTimeout(this._timerId)

                // delay new call
                this._timerId = setTimeout(() => {
                    this.fetchOptions(value);
                }, 1000)
            },
            async fetchOptions(search) {
                if (typeof search == 'string') {
                    if (search.length > 2) {
                        try {
                            var searchRequest = {
                                UserContext: {
                                    CompanyId: parseInt(this.$store.getters.getCompanyId)
                                },
                                PageSize: 5,
                                PageIndex: 0,
                                Value: search,
                                FieldType: this.fieldType,
                                IsDeleted: false
                            };
                            let searchResults = await RestServices.search(Services.FIELD, searchRequest);
                            this.items = searchResults.results;
                        } catch (ex) {
                            console.log(ex);
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>
</style>