﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-1"
                   color="blue-grey"
                   small
                   dark
                   v-bind="attrs"
                   v-on="on">
                Edit
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Field Details</span>
            </v-card-title>
            <v-card-text>
                <v-row v-if="showField">
                    <v-col>
                        <v-textarea label="Field Value"
                                    auto-grow
                                    rows="2"
                                    v-model="field.value">

                        </v-textarea>
                    </v-col>
                </v-row>
                <v-row v-if="showClient">
                    <v-col>
                        <v-text-field label="Client Name"
                                      v-model="field.clientName">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showClient">
                    <v-col>
                        <v-text-field label="Default Fee"
                                      v-model="field.defaultFee">

                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="showClient">
                    <v-col>
                        <v-checkbox label="Show Unsuccessful Attempts"
                                      v-model="field.showUnsuccessful">

                        </v-checkbox>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1"
                       :loading="saveLoading"
                       text
                       @click="save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'FieldDialog',
        components: {

        },
        props: {
            field: {
                type: Object
            }
        },
        watch: {
        },
        computed: {
        },
        async created() {
            if (!this.field.fieldType) {
                this.showClient = true;
                this.showField = false;
            }
            else {
                this.showClient = false;
                this.showField = true;
            }
        },
        methods: {
            async save() {
                if (this.showField) {
                    this.saveLoading = true;
                    await RestServices.update(Services.FIELD, this.field.id, this.field);
                    this.saveLoading = false;
                    this.dialog = false;
                } else if (this.showClient) {
                    this.saveLoading = true;
                    this.field.defaultFee = parseFloat(this.field.defaultFee);
                    await RestServices.update(Services.CLIENT, this.field.id, this.field);
                    this.saveLoading = false;
                    this.dialog = false;
                }
            }
        },
        data() {
            return {
                dialog: false,
                saveLoading: false,

                showClient: false,
                showField: false
            }
        }

    }
</script>

<style scoped>
</style>