﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-1"
                   color="blue-grey"
                   small
                   dark
                   v-bind="attrs"
                   v-on="on">
                Add New
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Quick Attempt Details</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <v-text-field v-model="value"
                                          label="Reason"
                                          outlined
                                          rows="3">
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-container>


            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1"
                       :loading="saveLoading"
                       text
                       @click="save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'QuickAttemptAddDialog',
        components: {
        },
        props: {
        },
        watch: {
        },
        computed: {
        },
        async created() {
        },
        methods: {
            async save() {
                try {
                    var qas = await RestServices.getAll(Services.QUICKATTEMPT);
                    var sortOrders = qas.map(function (qa) {
                        return qa.sortOrder;
                    });

                    var highestSortOrder = Math.max(...sortOrders);
                    var qa = { value: this.value, sortOrder: parseInt(highestSortOrder) + 1 };

                    await RestServices.create(Services.QUICKATTEMPT, qa);
                    this.$emit('refresh-qas');
                } catch (ex) {
                    console.log(ex);
                }

                this.dialog = false;
            }
        },
        data() {
            return {
                dialog: false,
                saveLoading: false,
                value: ''
            }
        }

    }
</script>

<style scoped>
</style>