﻿<template>
    <v-dialog v-model="dialog"
              persistent
              max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="ma-1"
                   color="blue-grey"
                   small
                   dark
                   v-bind="attrs"
                   v-on="on">
                Edit
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Reason Details</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <v-text-field v-model="value"
                                        label="Reason"
                                        outlined
                                        rows="3">
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       text
                       @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1"
                       text
                       @click="save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'ReasonEditDialog',
        components: {
        },
        props: {
            reason: {
                type: Object
            }
        },
        watch: {
        },
        computed: {
        },
        async created() {
        },
        methods: {
            async save() {
                if (this.hasChanges()) {
                    try {
                        this.reason.value = this.value;
                        await RestServices.update(Services.REASON, this.reason.id, this.reason);
                        this.$emit('refresh-reasons');
                    } catch (ex) {
                        console.log(ex);
                    }
                }

                this.dialog = false;
            },
            hasChanges() {
                if (this.reason.value != this.value) {
                    return true;
                }

                return false;
            }
        },
        data() {
            return {
                dialog: false,
                value: this.reason.value
            }
        }
    }
</script>

<style scoped>
</style>