﻿<template>
    <v-select label="Process Server"
              v-model="selectedServer"
              :items="servers"
              item-text="fullName"
              return-object
              dense
              outlined></v-select>
</template>

<script>
    import RestServices from "../services/restServices"
    import Services from "../services/services"

    export default {
        name: 'ServerInput',
        components: {

        },
        props: {
            selectedServerValue: {
                type: Object
            },
            isSearch: {
                type: Boolean
            }
        },
        watch: {
            selectedServerValue: function (value) {
                if (value) {
                    var result = this.servers.find(x => x.id === value.id);
                    this.selectedServer = result;
                } else {
                    this.selectedServer = null;
                }
            },
            selectedServer: function (value) {
                this.$emit('update:selectedServerValue', value);
            }
        },
        computed: {

        },
        async created() {
            if (this.isSearch) {
                this.servers.push({ fullName: 'All Servers', id: -1 });
            }

            var searchRequest = {
                UserContext: {
                    CompanyId: 1
                },
                PageSize: 100,
                PageIndex: 0,
                IsDeleted: false
            };

            let searchResults = await RestServices.search(Services.USER, searchRequest);

            searchResults.results.forEach((server) => {
                if (server.userType !== 2) {

                    if (server.userType === 1) {
                        server.fullName = server.firstName + ' ' + server.lastName;
                    } else {
                        server.fullName = server.entityName;
                    }

                    if (this.selectedServerValue && server.id == this.selectedServerValue.id) {
                        this.selectedServer = server;
                    }

                    this.servers.push(server);
                }
            });

            if (this.isSearch) {
                var result = this.servers.find(x => x.id === parseInt(this.$store.getters.getUserId));
                this.selectedServer = result;
            }
            
        },
        methods: {

        },
        data() {
            return {
                servers: [],
                selectedServer: {}
            }
        }
    }
</script>

<style scoped>
</style>