﻿<template>
    <div class="text-center ma-2">
        <v-snackbar v-model="snackbar"
                    color="success"
                    absolute
                    right
                    top>
            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn color="white"
                       text
                       v-bind="attrs"
                       @click="snackbar = false">
                    X
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        props: {
            openSnack: {
                type: Boolean
            },
            text: {
                type: String
            }
        },
        watch: {
            openSnack(value) {
                this.snackbar = value;
            }
        },
        data: () => ({
            snackbar: false
        }),
    }
</script>