﻿<template>
    <div>
        <v-select label="Select State"
                  v-model="selectedState"
                  :items="states"></v-select>
    </div>
</template>

<script>
    import States from "../constants/states"

    export default {
        name: 'Case',
        components: {
        },
        props: {
            selectedValue: {
                type: String
            }
        },
        watch: {
            selectedState: function (value) {
                console.log("selected field");
                console.log(this.selectedField);
                this.$emit('update:selectedValue', value);
            }
        },
        computed: {

        },
        async created() {

        },
        methods: {

        },
        data() {
            return {
                states: States.STATES,
                selectedState: "Wisconsin"
            }
        }
    }
</script>

<style scoped>
</style>