﻿<template>
    <div>

        <v-text-field v-model="text"></v-text-field>
        <v-btn @click="changeText">Change Text</v-btn>
    </div>
</template>

<script>
    export default {
        props: {
            text: {
                type: String
            },
            index2: {
                type: Number
            }
        },
        data() {
            return {
                
            }
        },
        watch: {
            text(value) {
                console.log('ADDING SHIT')
                this.$emit('update:text', value)
            }
        },
        computed: {
            
        },
        async created() {
        },
        methods: {
            changeText() {
                this.text = "Im on that new shit";
            }
        }
    }
</script>

<style scoped>
</style>