﻿<template>
    <div>
        <v-dialog v-model="dialog"
                  persistent
                  hide-overlay
                  max-width="80%">
            <v-card>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1"
                           text
                           @click="print">
                        Print
                    </v-btn>
                    <v-btn color="blue darken-1"
                           text
                           @click="close()">
                        Close
                    </v-btn>
                </v-card-actions>
                <v-card-title>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <h2>Attempts</h2>
                        </v-col>
                    </v-row>
                    <v-row fluid v-if="items.length > 0">
                        <v-col>
                            <table width="100%">
                                <tr align="center">
                                    <th width="30%">Date Served</th>
                                    <th width="40%">Other Info</th>
                                    <th width="30%">Is Successful</th>
                                </tr>
                                <tr v-for="(attempt, index) in items" :key="index" align="center">
                                    <td style="padding: 10px 0 10px 0">{{attempt.dateServed}}</td>
                                    <td style="padding: 10px 0 10px 0">{{attempt.otherInfo}}</td>
                                    <td style="padding: 10px 0 10px 0">{{attempt.isSuccess}}</td>
                                </tr>
                            </table>
                        </v-col>
                    </v-row>
                    <v-row v-else>
                        <v-col>
                            This serve has no attempts.
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <h2>Attachments</h2>
                        </v-col>
                    </v-row>
                    <v-row v-if="filesLoading">
                        <v-col>
                            <v-progress-circular indeterminate
                                                 color="primary"></v-progress-circular>

                        </v-col>
                    </v-row>
                    <v-row v-if="files.length > 0">
                        <v-col>
                            <v-btn color="blue darken-1"
                                   text
                                   @click="editFiles">Edit</v-btn>
                        </v-col>
                    </v-row>
                    <v-row v-if="files.length > 0">
                        <v-col>
                            <v-carousel v-model="model">
                                <v-carousel-item v-for="(file, i) in files"
                                                 :key="i">
                                    <v-img :src="file.fileData"
                                           height="100%"
                                           tile>
                                        <v-row justify="center">
                                            <div>
                                                {{file.metadata}}
                                            </div>
                                        </v-row>
                                    </v-img>
                                </v-carousel-item>
                            </v-carousel>
                        </v-col>
                    </v-row>
                    <v-row v-if="!filesLoading && files.length == 0">
                        <v-col>
                            This serve has no attachments.
                        </v-col>
                    </v-row>

                </v-card-text>
            </v-card>
        </v-dialog>

        <AttemptReport v-bind:attemptReportStatus.sync="attemptReportStatus"
                       v-bind:serveId.sync="serveId"></AttemptReport>
    </div>
    
</template>

<script>
    import FilesService from "../services/files"
    import RestServices from "../services/restServices"
    import Services from "../services/services"
    import AttemptReport from "../components/files/attempt-report-dialog"

    export default {
        name: 'ViewAttempts',
        components: {
            AttemptReport
        },
        props: {
            serveId: {
                type: Number
            },
            attempts: {
                type: Array
            },
            viewAttemptStatus: {
                type: Boolean
            }
        },
        watch: {
            serveId(value) {
                this.searchFiles(value);
                this.searchAttempts(value);
            },
            viewAttemptStatus(value) {
                if (value) {
                    this.dialog = value;
                } else {
                    this.dialog = false;
                    this.filesLoading = true;
                }

                this.$emit('update:viewAttemptStatus', value);
            }
        },
        async created() {
        },
        methods: {
            async searchFiles(serveId) {
                try {
                    let searchParams = {
                        ServeId: serveId,
                        PageSize: 20,
                        PageIndex: 0,
                        UserContext: {}
                    };
                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);
                    let searchResults = await FilesService.searchblob(searchParams);
                    let tFiles = [];
                    searchResults.results.forEach((result) => {
                        if (result.fileType === "jpeg" ||result.fileType === "jpg" || result.fileType === "png") {
                            let file = {
                                fileData: 'data:' + result.fileType + ';base64,' + result.fileData,
                                metadata: result.metadata
                            }
                            tFiles.push(file);
                        }

                    });
                    this.files = tFiles;
                    this.filesLoading = false;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async searchAttempts(serveId) {
                try {
                    let searchParams = {
                        ServeId: serveId,
                        PageSize: 10,
                        PageIndex: 0,
                        UserContext: {}
                    };
                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);

                    let searchResults = await RestServices.search(Services.ATTEMPT, searchParams);
                    let tAttempts = [];
                    searchResults.results.forEach((attempt) => {
                        let success = attempt.isSuccess ? 'Yes' : 'No';
                        tAttempts.push({
                            dateServed: new Date(attempt.dateServed).toLocaleString(),
                            otherInfo: attempt.otherInfo,
                            isSuccess: success
                        });

                    });
                    this.items = tAttempts;
                } catch (ex) {
                    console.log(ex);
                }
            },
            editFiles() {
                this.viewAttemptStatus = false;
                this.$router.push({ name: 'serve-files', params: { id: this.serveId } });
            },
            print() {
                this.attemptReportStatus = true;
            },
            close() {
                this.viewAttemptStatus = false;
            }
        },
        data() {
            return {
                items: [],
                dialog: false,
                model: 0,
                files: [],
                attemptReportStatus: false,
                filesLoading: true
            }
        }

    }
</script>

<style scoped>
</style>