﻿<template>
    <v-container>
        <v-row>
            <v-col>
                <h1>Reports</h1>
            </v-col>
        </v-row>
        <v-list v-for="(route,index) in reports" :key="index">
            <v-list-item link>
                <v-list-item-title>
                    <router-link :to="route.path" exact-active-class="active" class="nav-link">
                        <span>{{ route.display }}</span>
                    </router-link>
                </v-list-item-title>
            </v-list-item>
        </v-list>
    </v-container>
</template>

<script>
    import { reports } from '../../router/router'

    export default {
        name: 'ReportsIndex',
        components: {
        },
        data() {
            return {
                reports
            }
        },
        computed: {
        },
        watch: {
        },
        async created() {
        },
        methods: {
            
        }
    }
</script>

<style scoped>
</style>
