﻿<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <h1>Serve Summary Report</h1>
            </v-col>
        </v-row>
        <v-row class="pt-4 pv-4">
            <v-col cols="12"
                   :xl="3"
                   :lg="3"
                   :md="3">
                <v-select label="Client"
                          v-model="searchClient"
                          :items="clients"
                          item-text="clientName"
                          item-value="id"
                          dense
                          outlined></v-select>
            </v-col>
            <v-col cols="12"
                   :xl="3"
                   :lg="3"
                   :md="3">
                <v-menu v-model="startDatePicker"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="startDate"
                                      label="Report Start Range"
                                      prepend-icon="mdi-calendar"
                                      dense
                                      outlined
                                      v-bind="attrs"
                                      v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="startDate"
                                   @input="startDatePicker = false"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="12"
                   :xl="3"
                   :lg="3"
                   :md="3">
                <v-menu v-model="endDatePicker"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="endDate"
                                      label="Report End Range"
                                      prepend-icon="mdi-calendar"
                                      dense
                                      outlined
                                      v-bind="attrs"
                                      v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="endDate"
                                   @input="endDatePicker = false"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="6"
                   :xl="1"
                   :lg="1"
                   :md="1" class="ma-2">
                <v-btn outlined
                       color="blue-grey"
                       @click="searchButtonClick">Search</v-btn>
            </v-col>
            <v-col cols="6"
                   :xl="1"
                   :lg="1"
                   :md="1" class="ma-2">
                <v-btn outlined
                       color="blue-grey"
                       @click="clearAll">Clear All</v-btn>
            </v-col>
        </v-row>
        <v-row v-if="results.length > 0">
            <v-col cols="12">
                <v-btn outlined
                       color="blue-grey">
                    <download-csv :data="results"
                                  :name="dataFile"
                                  :labels="labels"
                                  :fields="fields"
                                  class="btn button">
                        Download
                    </download-csv>
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                          
                <v-data-table :headers="headers"
                              :items="results"
                              :items-per-page="-1"
                              class="elevation-1"></v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ReportingService from "../../services/reporting"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import JsonCSV from 'vue-json-csv'

    export default {
        name: 'ServeSummaryReport',
        components: {
            'download-csv': JsonCSV
        },
        computed: {
            dataFile() {
                if (this.clients && this.searchClient) {
                    console.log(this.clients)
                    return 'ServeSummaryReport_' + this.clients.find(x => x.id === this.searchClient).clientName + '_' + new Date().toLocaleDateString() + '.csv';
                }       
                return '';
            }
        },
        data() {
            return {
                startDate: null,//new Date().toISOString().substr(0, 10),
                endDate: null,
                tab: null,
                startDatePicker: null,
                endDatePicker: null,
                searchClient: null,

                clients: [],
                results: [],
                headers: [
                    { text: 'File Number', value: 'fileNumber' },
                    { text: 'Date Served', value: 'dateServed' },
                    { text: 'Server', value: 'serverName' },
                    { text: 'GPS', value: 'gps' }
                ],
                labels: {
                    fileNumber: 'File Number',
                    dateServed: 'Date Served',
                    serverName: 'Server',
                    gps: 'GPS'
                },
                fields: ['fileNumber', 'dateServed', 'serverName', 'gps'],
            }
        },
        watch: {
        },
        async created() {
            this.clients = await RestServices.getAll(Services.CLIENT);
        },
        methods: {
            async searchButtonClick() {
                var params = {
                    ClientId: this.searchClient,
                    StartDate: this.startDate,
                    EndDate: this.endDate,
                    IncludeUnsuccessful: false
                };

                this.results = await ReportingService.runServeAttemptSummaryReport(params);
            },
            clearAll() {
                this.searchClient = null;
                this.startDate = null;
                this.endDate = null;
            }
        }
    }
</script>

<style scoped>
</style>
