﻿<template>
    <v-container fluid>
        <v-tabs v-model="tab">
            <v-tab v-for="item in items" :key="item.tab">
                {{ item.tab }}
            </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item v-for="item in items" :key="item.tab">
                <v-card flat>
                    <v-card-text>
                        <component v-bind:is="item.content"></component>
                    </v-card-text>
                </v-card>
            </v-tab-item>
        </v-tabs-items>
    </v-container>
</template>

<script>
    import Billing from '../billing/billing'
    import BillingReporting from '../billing/billing-reporting'

    export default {
        name: 'BillingShell',
        components: {
            Billing,
            BillingReporting
        },
        data() {
            return {
                tab: null,
                items: [
                    { tab: 'Billing', content: 'Billing' },
                    { tab: 'Reports', content: 'BillingReporting' }
                ]
            };
        },
        async created() {
        }
    }
</script>