﻿<template>
    <v-container fluid>
        <v-row class="pt-4 pv-4">
            <v-col cols="12"
                       :xl="3"
                       :lg="3"
                       :md="3">
                <v-select label="Client"
                          v-model="searchClient"
                          :items="clients"
                          item-text="clientName"
                          item-value="id"
                          dense
                          outlined></v-select>
            </v-col>
            <v-col cols="12"
                       :xl="3"
                       :lg="3"
                       :md="3">
                <v-menu v-model="startDatePicker"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="startDate"
                                      label="Report Start Range"
                                      prepend-icon="mdi-calendar"
                                      dense
                                      outlined
                                      v-bind="attrs"
                                      v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="startDate"
                                   @input="startDatePicker = false"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="12"
                       :xl="3"
                       :lg="3"
                       :md="3">
                <v-menu v-model="endDatePicker"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="endDate"
                                      label="Report End Range"
                                      prepend-icon="mdi-calendar"
                                      dense
                                      outlined
                                      v-bind="attrs"
                                      v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="endDate"
                                   @input="endDatePicker = false"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="1" class="ma-2" style="font-size: small; font-weight: bold">
            </v-col>
            <v-col cols="1" class="ma-2">
            </v-col>
        </v-row>
        <v-row class="pt-4 pv-4">
            <v-col cols="12"
                       :xl="3"
                       :lg="3"
                       :md="3">
                <serverinput v-bind:selectedServerValue.sync="searchUser"></serverinput>
            </v-col>
            <v-col cols="12"
                       :xl="3"
                       :lg="3"
                       :md="3">
                <v-select label="State"
                          v-model="state"
                          :items="states"
                          dense
                          outlined></v-select>
            </v-col>
            <v-col cols="12"
                       :xl="3"
                       :lg="3"
                       :md="3">
                <v-select label="County"
                          v-model="county"
                          :items="counties"
                          dense
                          outlined></v-select>
            </v-col>
            <v-col cols="6"
                       :xl="1"
                       :lg="1"
                       :md="1" class="ma-2">
                <v-btn outlined
                       color="blue-grey"
                       @click="searchButtonClick">Search</v-btn>
            </v-col>
            <v-col cols="6"
                       :xl="1"
                       :lg="1"
                       :md="1" class="ma-2">
                <v-btn outlined
                       color="blue-grey"
                       @click="clearAll">Clear All</v-btn>
            </v-col>
        </v-row>
        <hr />
        <v-row style="padding-top: 20px ">
            <v-col>
                <table width="100%">
                    <tr>
                        <th width="20%">
                            Personal
                        </th>
                        <th width="20%">
                            Substitute
                        </th>
                        <th width="20%">
                            Reasonable
                        </th>
                        <th width="20%">
                            Corporation
                        </th>
                        <th width="20%">
                            Other
                        </th>
                    </tr>
                    <tr style="text-align: center">
                        <td>{{personalCount}}</td>
                        <td>{{substituteCount}}</td>
                        <td>{{reasonableCount}}</td>
                        <td>{{corporationCount}}</td>
                        <td>{{otherCount}}</td>
                    </tr>
                </table>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <table width="100%">
                    <tr>
                        <th width="20%">
                        </th>
                        <th width="20%">
                        </th>
                        <th width="20%">
                        </th>
                        <th width="20%">
                            Total Charges
                        </th>
                        <th width="20%">
                            Total Serves
                        </th>
                    </tr>
                    <tr style="text-align: center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{billingTotal}}</td>
                        <td>{{totalServeCount}}</td>
                    </tr>
                </table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ReportingService from "../../services/reporting"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import serverinput from "../../partials/server-input"
    import States from "../../constants/states"

    export default {
        name: 'BillingReporting',
        components: {
            serverinput
        },
        watch: {
            state: function (value) {
                this.counties = this.getCountiesForState(value);
            }
        },
        data() {
            return {
                startDate: null,//new Date().toISOString().substr(0, 10),
                endDate: null,
                tab: null,
                startDatePicker: null,
                endDatePicker: null,
                searchClient: null,
                searchUser: {},
                clients: [],
                personalCount: 0,
                reasonableCount: 0,
                substituteCount: 0,
                corporationCount: 0,
                otherCount: 0,

                billingTotal: 0,
                openServeCount: 0,
                totalServeCount: 0,

                county: null,
                state: null,

                states: States.STATES,
                counties: []
            };
        },
        async created() {
            this.clients = await RestServices.getAll(Services.CLIENT);
            
        },
        methods: {
            async searchButtonClick() {
                console.log(this.searchUser);
                console.log(this.searchClient);
                console.log(this.startDate);
                console.log(this.endDate);

                var params = {
                    ClientId: this.searchClient,
                    ServerId: this.searchUser == null ? null : this.searchUser.id,
                    StartDate: this.startDate,
                    EndDate: this.endDate,
                    State: this.state,
                    County: this.county
                };

                console.log(params);

                var report = await ReportingService.runBillingReport(params);

                this.personalCount = report.personalCount;
                this.substituteCount = report.substituteCount;
                this.reasonableCount = report.reasonableCount;
                this.corporationCount = report.corporationCount;
                this.billingTotal = report.totalCharge;
                this.totalServeCount = report.totalServes;
                console.log(report);
            },
            clearAll() {
                this.personalCount = 0;
                this.substituteCount = 0;
                this.reasonableCount = 0;
                this.corporationCount = 0;
                this.billingTotal = 0;
                this.totalServeCount = 0;

                this.searchClient = null;
                this.searchUser = null;
                this.startDate = null;
                this.endDate = null;
                this.state = null;
                this.county = null;
            }
        }
        
    }
</script>