﻿<template>
    <v-container>
        <v-row>
            <v-col>
                <h1>Billing</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text-field dense outlined v-model="searchInvoiceNumbers" placeholder="Invoice Numbers (Ex. 234, 235, 236)"></v-text-field>
            </v-col>
        </v-row>
        <v-row class="pt-4 pv-4">
            <v-col cols="12"
                   :xl="3"
                   :lg="3"
                   :md="3">
                <v-select label="Client"
                          v-model="searchClient"
                          :items="clients"
                          item-text="clientName"
                          item-value="id"
                          dense
                          outlined></v-select>
            </v-col>
            <v-col cols="12"
                   :xl="3"
                   :lg="3"
                   :md="3">
                <v-select label="Days Back"
                          v-model="searchDaysBack"
                          :items="daysBack"
                          dense
                          outlined></v-select>
            </v-col>
            <v-col cols="12"
                   :xl="3"
                   :lg="3"
                   :md="3">
                <v-select label="Billing Status"
                          v-model="searchBillingStatus"
                          :items="billingStatus"
                          dense
                          outlined></v-select>
            </v-col>
            <v-col cols="6"
                   :xl="1"
                   :lg="1"
                   :md="1" class="ma-2" style="font-size: small; font-weight: bold">
                Page total: ${{billingTotal}}
            </v-col>
            <v-col cols="6"
                   :xl="1"
                   :lg="1"
                   :md="1" class="ma-2">
                <v-btn outlined
                       color="blue-grey"
                       :disabled="showMarkAll"
                       @click="markAll">Mark All Paid</v-btn>
            </v-col>
        </v-row>
        <dynamictable v-bind:searchresult="mappedAffidavitResults"
                      v-bind:tableFields="billingTableFields"
                      v-bind:tableActions="billingTableActions"
                      v-bind:customActions="billingCustomActions"
                      v-bind:showSearchTerm="true"
                      v-bind:showSearchDate="true"
                      @search-event="searchEvent"
                      @mark-paid="markPaid"
                      @mark-unpaid="markUnpaid"
                      @view-pdf="viewPdf"></dynamictable>

        <ClientPdf v-bind:pdfStatus.sync="pdfStatus"
                      v-bind:affidavitId.sync="pdfAffidavitId"></ClientPdf>
    </v-container>
</template>

<script>
    import TableConstants from "../../constants/table/index"
    import dynamictable from "../../partials/dynamic-table"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import moment from "moment"
    import ClientPdf from "../billing/client-pdf-dialog"

    export default {
        name: 'Billing',
        components: {
            dynamictable,
            ClientPdf
        },
        data() {
            return {
                pdfStatus: false,
                pdfAffidavitId: 0,
                billingTotal: 0,
                searchInvoiceNumbers: '',
                searchClient: 0,
                clients: [],
                searchBillingStatus: 'Unpaid',
                billingStatus: ['Paid', 'Unpaid', 'All'],
                searchDaysBack: 'All',
                daysBack: ['30', '60', '90+', 'All'],
                searchResult: {},
                mappedAffidavitResults: {},
                billingTableFields: ['invoiceNumber', 'caseNumber', 'client', 'fileNumber', 'createdOn', 'isPaid', 'charge', 'customActions'],
                billingCustomActions: [
                    { name: 'View PDF', action: 'view-pdf' },
                ],
                billingTableActions: [
                    { name: 'Paid', action: 'mark-paid' },
                    { name: 'Unpaid', action: 'mark-unpaid' }
                ]
            }
        },
        computed: {
            showMarkAll() {
                return this.searchInvoiceNumbers === '';
            }
        },
        watch: {
        },
        async created() {
            this.clients = await RestServices.getAll(Services.CLIENT);
            this.loadPage();
        },
        methods: {
            async loadPage() {
                let searchParams = {
                    PageSize: TableConstants.INITIAL_PAGE_SIZE,
                    PageIndex: 0,
                    UserContext: {}
                };

                await this.searchAffidavits(searchParams);
            },
            mapAffidavits(affidavits) {
                this.mappedAffidavitResults = {
                    totalResults: affidavits.totalResults,
                    hasMoreResults: affidavits.hasMoreResults,
                    results: []
                }

                var mappedAffidavits = [];

                affidavits.results.forEach((affidavit) => {
                    let mappedAffidavit = {};

                    this.billingTotal += affidavit.charge;

                    mappedAffidavit.id = affidavit.id;
                    mappedAffidavit.invoiceNumber = affidavit.invoiceNumber;
                    mappedAffidavit.charge = affidavit.charge;
                    mappedAffidavit.isPaid = affidavit.isPaid ? 'Paid' : 'Unpaid';

                    if (affidavit.caseNum) {
                        mappedAffidavit.caseNumber = affidavit.caseNum.value;
                    }

                    if (affidavit.client) {
                        mappedAffidavit.client = affidavit.client.clientName;
                    }

                    if (affidavit.fileNum) {
                        mappedAffidavit.fileNumber = affidavit.fileNum.value
                    }

                    mappedAffidavit.createdOn = moment(affidavit.createdOn + 'Z').format('L');

                    this.mappedAffidavitResults.results.push(mappedAffidavit);
                })

                return mappedAffidavits;
            },
            async searchEvent(searchParams) {
                await this.searchAffidavits(searchParams);
            },
            async searchAffidavits(searchParams) {
                try {
                    this.billingTotal = 0;

                    if (searchParams.Clear) {
                        this.searchBillingStatus = 'Unpaid';
                        this.searchDaysBack = 'All';
                        this.searchInvoiceNumbers = '';
                        this.searchClient = 0;
                    }

                    searchParams.UserContext.CompanyId = parseInt(this.$store.getters.getCompanyId);
                    searchParams.UserContext.UserId = parseInt(this.$store.getters.getUserId);
                    searchParams.IsDeleted = false;

                    if (this.searchInvoiceNumbers != '') {
                        searchParams.invoiceNumber = this.searchInvoiceNumbers;
                    } else {
                        if (this.searchBillingStatus != 'All') {
                            searchParams.IsPaid = this.searchBillingStatus === 'Unpaid' ? false : true;
                        }

                        switch (this.searchDaysBack) {
                            case '30':
                            case '60':
                                searchParams.DaysBack = parseInt(this.searchDaysBack);
                                break;
                            case '90+':
                                searchParams.DaysBack = 90;
                                break;
                            case 'All':
                            default:
                                break;
                        }

                        if (this.searchClient > 0) {
                            searchParams.ClientId = this.searchClient;
                        }
                    }
                    let searchResults = await RestServices.search(Services.AFFIDAVIT, searchParams);
                    await this.mapAffidavits(searchResults);
                } catch (ex) {
                    console.log(ex);
                }
            },
            viewPdf(data) {
                let affidavit = this.mappedAffidavitResults.results.find(x => x.id === data);
                this.pdfAffidavitId = affidavit.id;
                this.pdfStatus = true;
            },
            async markAll() {
                for (var result of this.mappedAffidavitResults.results) {
                    if (result.isPaid == 'Unpaid') {
                        await this.updateAffidavitPaidStatus(result.id, true);
                    }
                }

                this.$root.$emit('trigger-search');
            },
            async markPaid(data) {
                await this.updateAffidavitPaidStatus(data, true);
                this.$root.$emit('trigger-search');
            },
            async markUnpaid(data) {
                await this.updateAffidavitPaidStatus(data, false);
                this.$root.$emit('trigger-search');
            },
            async updateAffidavitPaidStatus(id, paidStatus) {
                var affidavit = await RestServices.get(Services.AFFIDAVIT, id);
                affidavit.isPaid = paidStatus;
                await RestServices.update(Services.AFFIDAVIT, affidavit.id, affidavit);
            }
        }
    }
</script>

<style scoped>
</style>
