﻿<template>
    <v-dialog v-model="dialog"
              fullscreen
              hide-overlay
              transition="dialog-bottom-transition">
        <v-card>
            <v-container fluid pa-0>
                <v-app-bar>
                    <v-toolbar-title>Affidavit</v-toolbar-title>
                    <v-spacer />
                    <v-btn color="blue-grey" dark class="btn-space" @click="close">Back to Billing</v-btn>
                </v-app-bar>

                <div id="affidavit-pdf-page" style="height: 100vh">
                </div>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    import ReportingService from "../../services/reporting"
    import pdfobject from "pdfobject"

    export default {
        name: 'ClientPdfDialog',
        components: {
        },
        props: {
            affidavitId: {
                type: Number
            },
            pdfStatus: {
                type: Boolean
            }
        },
        watch: {
            dialog(visible) {
                if (visible) {
                    this.getAffidavit();
                }
            },
            pdfStatus(value) {
                if (value) {
                    this.dialog = value;
                } else {
                    this.dialog = false;
                }

                this.$emit('update:pdfStatus', value);
            }
        },
        data() {
            return {
                dialog: false
            };
        },
        async created() {
        },
        methods: {
            async getAffidavit() {
                ReportingService.getClientCopyPdf(this.affidavitId).then((result) => {
                    console.log(result);
                    var resultBlob = new Blob([new Uint8Array(result)], { type: 'application/pdf' });
                    var pdfFile = URL.createObjectURL(resultBlob);
                    pdfobject.embed(pdfFile, "#affidavit-pdf-page");
                });
            },
            close() {
                this.pdfStatus = false;
            }
        }
    }
</script>

<style>
</style>