﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Settings</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey" dark @click="saveSettings">Save</v-btn>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>User Settings</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey" dark @click="saveSettings">Save</v-btn>
        </v-app-bar>

        <v-container>
            <v-row>
                <v-col>
                    <h2>My Defaults</h2>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <p>The default values that will be used in the application.</p>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Notary State"
                              v-model="notaryState"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Notary County"
                              v-model="notaryCounty"
                              :items="counties"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Signatory State"
                              v-model="signatoryState"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
            <hr />
            <v-row>
                <v-col>
                    <h2>My Documents</h2>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <p>Select which documents you want to see when creating your affidavits.</p>
                </v-col>
            </v-row>
            <v-row v-for="doc in documents" :key=doc.id dense>
                <v-col cols="10">
                    <p>{{doc.name}}</p>
                </v-col>
                <v-col cols="2">
                    <v-checkbox v-model="doc.checked"></v-checkbox>
                </v-col>
            </v-row>
        </v-container>
        <v-snackbar v-model="snackbar"
                    color="success"
                    timeout="1500"
                    absolute
                    right
                    :top=true>
            Updated User Settings
        </v-snackbar>
    </div>
</template>

<script>
    import DocumentService from "../../services/document"
    import States from "../../constants/states"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import { fieldMixins } from "../../mixins/fieldMixins"

    export default {
        name: 'DocumentEditor',
        components: {
        },
        mixins: [fieldMixins],
        props: {
        },
        watch: {
            notaryState: function (value) {
                this.counties = this.getCountiesForState(value);
            }
        },
        computed: {
        },
        async created() {
            this.documents = await this.getDocuments();
            let dbus = await this.getDocumentsForUser();

            this.documents.forEach(function (doc) {
                let exists = dbus.find(dbu => dbu.id == doc.id);
                if (exists) {
                    doc.checked = true;
                } else {
                    doc.checked = false;
                }
            });

            this.loadUserSettings();

            //TODO probs dont need this
            this.$forceUpdate();
        },
        methods: {
            async loadUserSettings() {
                try {
                    let result = await RestServices.getByUser(Services.USER_SETTINGS, this.$store.getters.getUserId);
                    if (result) {
                        this.notaryCounty = result.notaryCounty;
                        this.notaryState = result.notaryState;
                        this.signatoryState = result.sigState;
                    }
                } catch (ex) {
                    console.log(ex);
                }
            },
            async getDocuments() {
                try {
                    let result = await DocumentService.get();
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async getDocumentsForUser() {
                try {
                    let result = await RestServices.getByUser(Services.DOCUMENT_BY_USER, this.$store.getters.getUserId);
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            async saveSettings() {
                let dbus = [];
                var userId = parseInt(this.$store.getters.getUserId);
                this.documents.forEach(function (doc) {
                    if (doc.checked) {
                        dbus.push({ DocumentId: doc.id, UserId: userId });
                    }
                });

                await RestServices.upsert(Services.DOCUMENT_BY_USER, dbus);

                if (this.notaryCounty || this.notaryState || this.signatoryState) {
                    let userSettings = {
                        UserId: userId,
                        NotaryState: this.notaryState,
                        NotaryCounty: this.notaryCounty,
                        SigState: this.signatoryState
                    };

                    await RestServices.upsert(Services.USER_SETTINGS, userSettings);
                }

                this.snackbar = true;
                setTimeout(() => { this.cancel() }, 1500)
                
            },
            cancel() {
                this.$router.push({ name: 'home' });
            }
        },
        data() {
            return {
                documents: [],
                dialog: false,
                snackbar: false,

                states: States.STATES,
                counties: [],

                notaryState: null,
                notaryCounty: null,
                signatoryState: null
            }
        }

    }
</script>

<style scoped>
</style>