﻿<template>
    <v-container>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Attempt</v-toolbar-title>
            <v-spacer />
            <v-menu>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn color="blue-grey"
                           dark
                           v-bind="attrs"
                           v-on="on">
                        Actions
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="goToCamera">Take Picture</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="goToUpload">Add File</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="save">Save</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Attempt</v-toolbar-title>
            <v-spacer />
            <v-btn color="blue-grey" dark class="btn-space" @click="goToCamera">Take Picture</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="goToUpload">Add File</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="save">Save</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-row>
            <v-col>
                <h2>Quick Attempt</h2>
                <p>Add an attempt to a serve, choose to upload a file to attach to the serve, or take a picture directly from this screen to add a gps and timestamp.  Taking a picture or adding a file will save the current attempt.</p>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <h3>Quick Serve</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-checkbox v-model="isSuccess"
                            :label="'Is Successful Serve?'">
                </v-checkbox>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text-field label="Date and Time"
                              v-model="dateServed"
                              outlined
                              dense></v-text-field>
            </v-col>
        </v-row>
        <v-row dense>
            <v-col>
                Select the quick attempt serve info
            </v-col>
        </v-row>
        <v-row>
            <v-radio-group v-model="quickAttemptRadio">
                <v-radio v-for="qa in quickattempts" :key="qa.id" :label="qa.value" :value="qa.value"></v-radio>
            </v-radio-group>
        </v-row>
        <v-row dense>
            <v-col>
                Or add attempt info manually
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <fieldinput v-bind:selectedValue.sync="otherInfoText"
                            v-bind:fieldType="ftDocOther"
                            v-bind:fieldLabel="'Other Info'"></fieldinput>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import fieldinput from "../../partials/field-input"
    import { fieldMixins } from "../../mixins/fieldMixins"
    import FieldType from "../../constants/fieldType"


    export default {
        name: 'CompleteServeDialog',
        components: {
            fieldinput
        },
        mixins: [fieldMixins],
        watch: {
            quickAttemptRadio(value) {
                if (value) {
                    console.log(value);
                    this.otherInfo = value;
                    this.otherInfoText = null;
                }
            },
            otherInfoText(value) {
                if (value) {
                    this.quickAttemptRadio = null;
                    this.otherInfo = value;
                }
            }
        },
        computed: {
        },
        async created() {
            window.scrollTo(0, 0);
            this.serveId = this.$route.params.id;

            this.quickattempts = await RestServices.getAll(Services.QUICKATTEMPT);
            console.log(this.quickattempts);
            this.dateServed = new Date().toLocaleString();
            this.otherInfoText = null;
        },
        methods: {
            async goToCamera() {
                await this.save();
                this.$router.push({ name: 'camera', params: { id: this.serveId } });
            },
            async goToUpload() {
                await this.save();
                this.$router.push({ name: 'files', params: { id: this.serveId } });
            },
            async saveClick() {
                await this.save();                
                this.$router.push({ name: 'home' });
            },
            async save() {
                let mappedAttempt = {
                    ServeId: parseInt(this.serveId),
                    IsSuccess: this.isSuccess,
                    DateServed: this.dateServed
                };

                console.log(mappedAttempt);

                if (this.otherInfo) {
                    if (typeof this.otherInfo == "string") {
                        var textField = this.newFieldValue(this.otherInfo, this.ftDocOther);
                        mappedAttempt.OtherInfo = textField;
                    } else {
                        mappedAttempt.OtherInfo = this.otherInfo;
                    }
                }

                await RestServices.createMapped(Services.ATTEMPT, mappedAttempt);
            },
            cancel() {
                this.$router.push({ name: 'home' });
            }
        },
        data() {
            return {
                serveId: 0,
                dateServed: '',
                otherInfo: null,
                otherInfoText: null,
                isSuccess: false,
                quickattempts: [],
                quickAttemptRadio: '',
                ftDocOther: FieldType.DOC_OTHER,
            }
        }

    }
</script>

<style scoped>
    .btn-space {
        margin: 0px 10px 0px 10px;
    }
</style>