﻿<template>
    <div>
        <v-app-bar app class="hidden-sm-and-up" style="margin-left: 55px">
            <v-toolbar-title>Serve</v-toolbar-title>
            <v-spacer />
            <v-menu>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn color="blue-grey"
                           dark
                           v-bind="attrs"
                           v-on="on">
                        Actions
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item>
                        <CompleteServe :serveId="serveId" @complete-click="save"></CompleteServe>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="copyClick">Copy Details</v-btn>
                    </v-list-item>
                    <v-list-item v-if="showPasteButton">
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="pasteClick">Paste Details</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="saveClick">Save</v-btn>
                    </v-list-item>
                    <v-list-item>
                        <v-btn width="175px" color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-app-bar app class="hidden-xs-only">
            <v-toolbar-title>Serve</v-toolbar-title>
            <v-spacer />
            <CompleteServe :serveId="serveId" @complete-click="save"></CompleteServe>
            <v-btn color="blue-grey" dark class="btn-space" @click="copyClick">Copy Details</v-btn>
            <v-btn v-if="showPasteButton" color="blue-grey" dark class="btn-space" @click="pasteClick">Paste Details</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="saveClick">Save</v-btn>
            <v-btn color="blue-grey" dark class="btn-space" @click="cancel">Cancel</v-btn>
        </v-app-bar>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Case Info</h2>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn small text color="primary" @click="goToCase">Edit case info</v-btn>
                </v-col>
            </v-row>
            <v-row dense no-gutter>
                <v-col>
                    <label for="client-name">Client</label>
                    <v-text-field v-model="client"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
                <v-col>
                    <label for="client-name">Attention</label>
                    <v-text-field v-model="attention"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
            </v-row>
            <v-row dense no-gutter>
                <v-col>
                    <label for="client-name">Client File Number</label>
                    <v-text-field v-model="clientFileNumber"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
                <v-col>
                    <label for="client-name">Court Date</label>
                    <v-text-field v-model="courtDate"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
            </v-row>
            <v-row v-if="!otherLocationFlag" dense>
                <v-col>
                    <label for="client-name">State</label>
                    <v-text-field v-model="state"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
                <v-col>
                    <label for="client-name">County</label>
                    <v-text-field v-model="county"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>

            </v-row>
            <v-row v-else dense>
                <v-col>
                    <label for="client-name">Location</label>
                    <v-text-field v-model="location"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="4"
                       :lg="4"
                       :md="4">
                    <label for="client-name">Case Name</label>
                    <v-text-field v-model="caseName"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
                <v-col v-show="!singleCaseFlag"
                       cols="12"
                       :xl="4"
                       :lg="4"
                       :md="4">
                    <label for="client-name">Vs</label>
                    <v-text-field v-model="vsName"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
                <v-col cols="12"
                       :xl="4"
                       :lg="4"
                       :md="4">
                    <label for="client-name">Case Number</label>
                    <v-text-field v-model="caseNumber"
                                  solo-inverted
                                  disabled
                                  dense></v-text-field>
                </v-col>
            </v-row>
        </v-container>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Documents</h2>
                </v-col>
            </v-row>
            <v-row v-for="doc in documents" :key=doc.id dense align="center">
                <v-col cols="1">
                    <v-checkbox v-model="doc.checked"></v-checkbox>
                </v-col>
                <v-spacer></v-spacer>
                <v-col cols="10" v-if="doc.hasText && doc.textBefore">
                    <v-row align="center">
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            <fieldinput v-bind:selectedValue.sync="doc.text"
                                        v-bind:fieldType="ftDocText"></fieldinput>
                        </v-col>
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            {{doc.name}}
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="10" v-else-if="doc.hasText && !doc.textBefore">
                    <v-row align="center">
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            {{doc.name}}
                        </v-col>
                        <v-col cols="12"
                               :xl="6"
                               :lg="6"
                               :md="6">
                            <fieldinput v-bind:selectedValue.sync="doc.text"
                                        v-bind:fieldType="ftDocText"></fieldinput>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col v-else cols="10">
                    <span> {{doc.name}} </span>
                </v-col>
            </v-row>
        </v-container>

        <v-container>
            <v-row>
                <v-col>
                    <h2>Serve Info</h2>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <fieldinput v-bind:selectedValue.sync="entity"
                                v-bind:fieldType="ftPersonServed"
                                v-bind:fieldLabel="'Entity Served'"></fieldinput>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <h3>Address(es)</h3>
                </v-col>
            </v-row>
            <addressinput v-for="(address, addressIndex) in addresses" :key="'address' + addressIndex"
                          v-bind:addressSelected.sync="address.fullAddress"
                          v-on:remove="addresses.splice(addressIndex,1)"></addressinput>
            <v-row>
                <v-col>
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           dark
                           @click="addAddress">Add Address</v-btn>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <h3>Attempts</h3>
                </v-col>

            </v-row>
            <attempt v-for="(attempt, attemptIndex) in attempts" :key="attempt.id"
                     v-bind:attemptProp.sync="attempt"
                     v-on:remove-attempt="attempts.splice(attemptIndex,1)"></attempt>
            <v-row>
                <v-col>
                    <v-btn class="ma-1"
                           small
                           color="blue-grey"
                           dark
                           @click="addAttempt">Add Attempt</v-btn>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <h3>Other Info</h3>
                </v-col>
            </v-row>

            <v-row dense>
                <v-col v-if="!showContractorUser"
                       cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <serverinput v-bind:selectedServerValue.sync="server"></serverinput>
                </v-col>
                <v-col v-if="showContractorUser"
                       cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <contractorinput v-bind:selectedValue.sync="contractorUser"
                                     :contractorId="server.id"></contractorinput>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-text-field label="Charge"
                                  v-model="charge"
                                  outlined
                                  dense></v-text-field>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Notary State"
                              v-model="notaryState"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Notary County"
                              v-model="notaryCounty"
                              :items="counties"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12"
                       :xl="6"
                       :lg="6"
                       :md="6">
                    <v-select label="Signatory State"
                              v-model="signatoryState"
                              :items="states"
                              dense
                              outlined></v-select>
                </v-col>
            </v-row>
        </v-container>

        <SuccessSnackbar v-bind:openSnack.sync="copySnackbar"
                         v-bind:text="`Copied the serve details.`"></SuccessSnackbar>
    </div>
</template>

<script>
    import CompleteServe from "../../partials/complete-serve-dialog"
    import attempt from "../../partials/attempt"
    import serverinput from "../../partials/server-input"
    import contractorinput from "../../partials/contractor-input"
    import addressinput from "../../partials/address-input"
    import fieldinput from "../../partials/field-input"
    import FieldType from "../../constants/fieldType"
    import States from "../../constants/states"
    import RestServices from "../../services/restServices"
    import Services from "../../services/services"
    import { fieldMixins } from "../../mixins/fieldMixins"
    import { COPY_SERVE } from "../../store/actions/shared"
    import SuccessSnackbar from "../../partials/snackbar-success"
    import logger from "../../services/logger"

    export default {
        name: 'Case',
        components: {
            fieldinput,
            addressinput,
            serverinput,
            contractorinput,
            attempt,
            CompleteServe,
            SuccessSnackbar
        },
        mixins: [fieldMixins],
        props: {
        },
        watch: {
            entity: function (newValue) {
                if (typeof newValue == "string") {
                    this.entity = this.newFieldValue(newValue, this.ftPersonServed)
                }
            },
            notaryState: function (value) {
                this.counties = this.getCountiesForState(value);
            },
            contractorUser: function (newValue) {
                if (typeof newValue == "string") {
                    var conUser = {
                        name: newValue,
                        isDeleted: false,
                        contractorId: parseInt(this.$store.getters.getUserId),
                        id: 0
                    };
                    this.contractorUser = conUser;
                }
            }
        },
        computed: {
            showContractorUser() {
                if (this.server && this.server.userType === 3) {
                    return true;
                }
                return false;
            },
            showPasteButton() {
                let copyServeId = parseInt(this.$store.getters.getCopyServeId);
                if (copyServeId && copyServeId > 0) {
                    return true;
                }

                return false;
            }
        },
        async created() {            
            window.scrollTo(0, 0);

            await this.loadUserSettings();

            this.serveId = parseInt(this.$route.params.id);
            this.copyId = parseInt(this.$route.query.copyId);
            this.documents = await this.getDocumentsForUser();

            if (this.serveId > 0) {
                this.isEdit = true;
                await this.loadServe(this.serveId);
            }

            if (this.addresses.length == 0)
            {
                this.addAddress();
            }

            //TODO remove all OLD copyId stuff
            if (this.copyId) {
                this.isCopy = true;
                this.copySnackbar = true;
                await this.loadServe(this.copyId);
            }
        },
        methods: {
            async loadUserSettings() {
                try {
                    let result = await RestServices.getByUser(Services.USER_SETTINGS, this.$store.getters.getUserId);
                    if (result) {
                        this.notaryCounty = result.notaryCounty;
                        this.notaryState = result.notaryState;
                        this.signatoryState = result.sigState;
                    } else {
                        this.notaryCounty = 'Milwaukee';
                        this.notaryState = 'Wisconsin';
                        this.signatoryState = 'Wisconsin';
                    }
                } catch (ex) {
                    console.log(ex);
                    logger.log(ex);
                }
            },
            hasErrors() {
            },
            async save() {
                var serveId = parseInt(this.serveId);

                console.log(" *** User " + this.$store.getters.getUserId + " Saving Serve " + serveId + " *** ");
                logger.log(" *** User " + this.$store.getters.getUserId + " Saving Serve " + serveId + " *** ");

                let serve = {
                    CaseId: this.caseId,
                    Notes: this.notes,
                    ServeStatus: 1,

                    Entity: this.entity,
                    ClientId: this.clientId,
                    ProcessServer: this.server,
                    ContractorUser: this.contractorUser,
                    Charge: parseFloat(this.charge),
                    SigState: this.signatoryState,
                    NotaryState: this.notaryState,
                    NotaryCounty: this.notaryCounty
                }

                if (!this.isEdit && this.isCopy) {                    
                    serve.CreatedOn = new Date().toISOString();
                    serve.CreatedBy = parseInt(this.$store.getters.getUserId);

                    try {
                        serveId = await RestServices.create(Services.SERVE, serve);
                        logger.log("Created a new serve with Id " + serveId)
                    } catch (ex) {
                        console.log("[ERROR] Error creating a new serve")
                        console.log(JSON.stringify(serve));
                        logger.log("[ERROR] Error creating a new serve")
                        logger.log(JSON.stringify(serve));
                        logger.log(ex);
                        if (ex.message) {
                            logger.log(ex.message);
                        }
                    }
                }

                let abss = [];
                this.addresses.forEach((address) => {
                    if (address.fullAddress != '') {
                        abss.push({ ServeId: serveId, StreetAddress: address.fullAddress });
                    }
                });

                var mappedDocs = [];
                this.documents.forEach((doc) => {
                    if (doc.checked) {
                        let mappedDoc = {
                            DocumentId: doc.id,
                            ServeId: serveId
                        }

                        if (doc.text) {
                            if (typeof doc.text == "string") {
                                var textField = this.newFieldValue(doc.text, this.ftDocText);
                                mappedDoc.DocumentText = textField;
                            } else {
                                mappedDoc.DocumentText = doc.text;
                            }
                        }

                        mappedDocs.push(mappedDoc);
                    }
                });

                var mappedAttempts = [];
                this.attempts.forEach((attempt) => {
                    let mappedAttempt = {
                        ServeId: serveId,
                        IsSuccess: attempt.isSuccess,
                        DateServed: attempt.dateServed
                    };

                    if (attempt.otherInfo) {
                        if (typeof attempt.otherInfo == "string") {
                            var textField = this.newFieldValue(attempt.otherInfo, this.ftDocOther);
                            mappedAttempt.OtherInfo = textField;
                        } else {
                            mappedAttempt.OtherInfo = attempt.otherInfo;
                        }
                    }

                    mappedAttempts.push(mappedAttempt);
                })

                serve.UpdatedOn = new Date().toISOString();
                serve.UpdatedBy = parseInt(this.$store.getters.getUserId);
                serve.Addresses = abss;
                serve.Documents = mappedDocs;
                serve.Attempts = mappedAttempts;

                try {
                    await RestServices.updateMapped(Services.SERVE, serveId, serve);
                } catch (exUpdate) {
                    console.log("[ERROR] Error updating serve " + serveId);
                    console.log(JSON.stringify(serve));
                    logger.log("[ERROR] Error updating serve " + serveId);
                    logger.log(JSON.stringify(serve));
                    logger.log(exUpdate);
                    if (exUpdate.message) {
                        logger.log(exUpdate.message);
                    }
                }             
            },
            async saveClick() {
                await this.save();
                if (this.addresses.length == 0) {
                    alert('Reminder to add an address to this serve.')
                }
                this.$router.push({ name: 'home' });
            },
            copyClick() {
                this.copySnackbar = true;
                this.$store.dispatch(COPY_SERVE, this.serveId);
            },
            pasteClick() {
                let copyServeId = parseInt(this.$store.getters.getCopyServeId);
                this.pasteDetails(copyServeId);
            },
            async pasteDetails(copyServeId) {
                let result = await RestServices.getMapped(Services.SERVE, copyServeId);
                this.attempts = [];
                this.addresses = [];
                this.documents.forEach((document) => {
                    document.checked = false;
                });
                this.loadServeDetails(result);
            },
            async loadServe(serveId) {
                let result = await RestServices.getMapped(Services.SERVE, serveId);

                console.log('loading serve')
                console.log(result)

                this.clientId = result.clientId;
                this.caseId = result.caseId;
                this.notes = result.notes;

                if (result.client) {

                    this.client = result.client.clientName;
                }

                if (result.caseNumber) {

                    this.caseNumber = result.caseNumber.value;
                }

                if (result.contact) {
                    this.attention = result.contact.value;
                }

                if (result.caseName) {
                    this.caseName = result.caseName.value;
                }

                if (result.defendant) {
                    this.vsName = result.defendant.value;
                }

                if (result.otherLocation) {
                    this.otherLocationFlag = true;
                    this.location = result.otherLocation.value;
                }

                if (result.clientFileNumber) {
                    this.clientFileNumber = result.clientFileNumber.value;
                }

                this.county = result.county;
                this.state = result.state;
                this.courtDate = result.courtDate;
                

                this.entity = result.entity;
                this.server = result.processServer;

                this.loadServeDetails(result);
            },
            async loadServeDetails(result) {
                if (result.charge) {
                    this.charge = result.charge;
                }

                if (result.sigState) {
                    this.signatoryState = result.sigState;
                }

                if (result.notaryCounty) {
                    this.notaryCounty = result.notaryCounty;
                }

                if (result.notaryState) {
                    this.notaryState = result.notaryState;
                }

                this.contractorUser = result.contractorUser;

                result.addresses.forEach((address) => {
                    this.addresses.push({ fullAddress: address.streetAddress });
                });

                result.attempts.forEach((attempt) => {
                    this.attempts.push(attempt);
                });

                let resultDocs = result.documents;
                if (result.documents.length > 0) {
                    this.documents.forEach((document) => {
                        var result = resultDocs.find(x => x.documentId === document.id);
                        if (result) {
                            document.checked = true;
                            if (result.documentText) {
                                document.text = result.documentText;
                            }
                        }
                    });
                }
            },
            async getDocumentsForUser() {
                try {
                    let result = await RestServices.getByUser(Services.DOCUMENT_BY_USER, this.$store.getters.getUserId);
                    return result;
                } catch (ex) {
                    console.log(ex);
                }
            },
            addAddress() {
                this.addresses.push({ fullAddress: '' });
            },
            addAttempt() {
                this.attempts.push({ dateServed: null, isSuccess: false, otherInfo: null });
            },
            goToCase() {
                this.$router.push({ name: 'case', params: { id: this.caseId } });
            },
            cancel() {
                this.$router.push({ name: 'home' });
            },
            backToServes() {

            }
        },
        data() {
            return {
                caseId: 0,
                notes: '',

                serveId: 0,

                client: null,
                attention: null,
                clientFileNumber: null,
                courtDate: null,
                county: null,
                state: null,
                location: null,

                caseName: null,
                vsName: null,
                caseNumber: null,

                entity: null,

                documents: [],
                addresses: [],
                attempts: [],

                server: null,
                contractorUser: null,

                charge: 0,
                notaryState: null,
                notaryCounty: null,
                signatoryState: null,

                otherLocationFlag: false,
                singleCaseFlag: false,
                isEdit: false,
                isCopy: false,

                states: States.STATES,
                counties: States.WISCONSIN_COUNTIES,

                ftClient: FieldType.CLIENT,
                ftContact: FieldType.CONTACT,
                ftCounty: FieldType.COUNTY,
                ftCaseName: FieldType.CASE_NAME,
                ftCaseNumber: FieldType.CASE_NUM,
                ftClientFileNumber: FieldType.CLIENT_FILE_NUM,
                ftOtherLocation: FieldType.OTHER_LOCATION,
                ftDocText: FieldType.DOC_OTHER,
                ftPersonServed: FieldType.PERSON_SERVED,
                ftDocOther: FieldType.DOC_OTHER,

                WI_Counties: States.WISCONSIN_COUNTIES,

                snackbar: false,
                copySnackbar: false,
                errorText: ''
            }
        }

    }
</script>

<style scoped>
    .btn-space {
        margin: 0px 10px 0px 10px;
    }
</style>