<template>
    <v-app>
        <v-app-bar class="hidden-sm-and-up" width="55px" color="white" fixed>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        </v-app-bar>
         
        <v-navigation-drawer v-if="isLoggedIn"
                             app
                             expand-on-hover
                             v-model="drawer"
                             :permanent="$vuetify.breakpoint.smAndUp">
            <v-list>
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>mdi-account</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>
                        {{displayName}}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
            <v-list v-for="(route,index) in navRoutes" :key="index">
                <v-list-item link>
                    <v-list-item-icon>
                        <v-icon>{{ route.icon}} </v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>
                        <router-link :to="route.path" exact-active-class="active" class="nav-link">
                            <span>{{ route.display }}</span>
                        </router-link>
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-main style="padding-top: 60px">
            <router-view  :key="$route.fullPath"/>
        </v-main>
    </v-app>
</template>

<script>
    import { routes } from './router/router'
    import { mapGetters } from 'vuex';

    export default {
        name: 'App',

        components: {
        },
        created() {
            //var a = this.$store.getters.getUserRoutes;
            //console.log(a);
            //if (a.length > 0) {
                this.navRoutes = JSON.parse(this.$store.getters.getUserRoutes);
            //}
        },
        mounted() {
        },
        computed: {        
            ...mapGetters(['isAuthenticated']),
            isLoggedIn() {
                return this.$store.getters.isAuthenticated;
            },
            displayName() {
                return this.$store.getters.getDisplayName;
            }
        },
        watch: {
            isAuthenticated(value) {
                if (value) {
                    this.navRoutes = this.$store.getters.getUserRoutes;
                }
            }
        },
        methods: {
        },
        data() {
            return {
                routes,
                drawer: null,
                isAdmin: this.$store.getters.checkAdmin,
                navRoutes: []
            }
        }
    };
</script>
